.loading-mask {
	background-color: white;
	height: 100%;
	position: fixed;/*absolute;*/
	left: 0;
	top: 0;
	width: 100%;
	z-index: 20000;
	opacity:0.99;
	filter:alpha(opacity=99); /* For IE8 and earlier */
}

.loading-mask-inner {
	background-color: #000;
	opacity: 0.75
	}

.loading {
	height: auto;
	position: fixed;
	left: 50%;
	top: 40%;
	padding: 2px;
	z-index: 20001;
	min-width: 300px;
	margin-left: -150px;
	border-radius: 15px;
}

.loading a {
	color: #225588;
}

.loading .loading-indicator {
	color: #444;
	font: bold 13px Helvetica, Arial, sans-serif;
	height: auto;
	margin: 0;
	padding: 20px 10px;
	text-align: center;
}

.loading-msg {
	font-size: 10px;
	font-weight: normal;
}



.fixed-size .lg-video-cont{
	margin-top: 20px;
}
.fixed-size .lg-img-wrap{
	margin-top: 10px;
}
.lg-backdrop {
	background-color: #000;
}
.lg-backdrop.in {
	opacity: 0.85;
}
.fixed-size .lg-toolbar {
	background-color: transparent;
	height: 0;
}
.fixed-size .lg-close{
	background: #000;
	position: absolute;
	top:0;
	right: 5px;
}
.fixed-size .lg-sub-html{
	bottom: -5px;
	padding: 0px;
	position: absolute;
	background: none;
}
.mapa {
	width: 130% !important;
}

.text-error {
	color: red!important;
}

.text-error input[type="text"], .text-error input[type="password"]{
	border-bottom: 1px solid red!important;
	color: red;
}

.text-error .select-grey-border{
	border-bottom: 1px solid red!important;
	color: red;
}

#view-admision-preferente-desktop,
#view-admision-general-desktop,

#view-slider-facultades-container-desktop,
#view-slider-campus-container-desktop,
#view-slider-convenios-container-desktop,

#view-slider-convenios-container-mobile,
#view-slider-campus-container-mobile,
#view-slider-campus-container-tablet,
#view-slider-facultades-container-mobile
{
	display: none;
}


.facultades-item-prev{
	position: absolute;
	top: 50%;
	left: 10px;
	z-index: 2;
	width: 31px;
	height: 48px;
	display: inline-block;
	background: url(../imagenes/globales/1x/prev.png) 0 0 no-repeat;
	text-decoration: none;
}

.facultades-item-prev:hover{
	background: url(../imagenes/globales/1x/prev-hover.png) 0 0 no-repeat;
	text-decoration: none!important;
	border: none;
}
.facultades-item-next{
	position: absolute;
	top: 50%;
	right: 10px;
	z-index: 2;
	width: 31px;
	height: 48px;
	display: inline-block;
	background: url(../imagenes/globales/1x/next.png) 0 0 no-repeat;
	text-decoration: none;
}
.facultades-item-next:hover{
	background: url(../imagenes/globales/1x/next-hover.png) 0 0 no-repeat;
	text-decoration: none!important;
	border: none;
}

.apptitud-active{
	width: 100%;
	margin-left: 0;
}

.hover-ninos-hover {
    border-bottom: 1px solid #3399ff;
    padding-bottom: 2px;
    opacity: 0.7;
}
.caja-discapacidad-hover {
    content: "♥";
    background-color: #3399ff;
    color: #fff;
    border: 5px solid #3399ff;
}
.femenino-hover{
	border:3px solid #3399ff;
}

input[type="radio"] {
    display: inline-block;
}


.iconos-carreras{
	text-align: center;
	padding-left: 30px;
}
.iconos-carreras a{
	display: inline-block;
	float: left;
	margin: 5px;	
}
.circle-purple{
	position: relative;
	top:50%;
	left: 50%;	
}

#btn_profile_view,#btn_financial_view{
	display: none;
}
.menujq ul ul, .menujq ul ul ul {
    display: block;
}
@media (max-width: 990px) and (min-width: 320px){
	.mapa {
		width: 100% !important;
	}
}

.scroll-nice {
			overflow: hidden;
			position: relative;
		}
		
		.track3 {
			width: 10px;
			background: rgba(0, 0, 0, 0);
			margin-right: 2px;
			border-radius: 10px;
			-webkit-transition: background 250ms linear;
			transition: background 250ms linear;
		}
		
		.track3:hover,
		.track3.dragging {
			background: #d9d9d9;
			/* Browsers without rgba support */
			background: rgba(0, 0, 0, 0.15);
		}
		
		.handle3 {
			width: 7px;
			right: 0;
			background: #999;
			background: #d70505;
			border-radius: 7px;
			-webkit-transition: width 250ms;
			transition: width 250ms;
		}
		
		.track3:hover .handle3,
		.track3.dragging .handle3 {
			width: 10px;
		}


@media (max-width: 700px){
	#buttonsProfileFinancial {
		width: 100% !important;
	}
}
