/*utilities*/
.p-0{
	padding: 0px;
}
.p-7{
	padding: 7px;
}

.p-14{
	padding: 14px;
}

.p-21{
	padding: 21px;
}

.p-28{
	padding: 28px;
}
.pb-25{
	padding-bottom: 25%;
}
.p-35{
	padding: 35px;
}

.p-42{
	padding: 42px;
}
.p-45{
	padding: 45px;
}

.pt-7{
	padding-top: 7px;
}
.pt-13{
	padding-top: 13px;
}
.pt-14{
	padding-top: 14px;
}

.pt-21{
	padding-top: 21px;
}

.pt-28{
	padding-top: 28px;
}

.pt-35{
	padding-top: 35px;
}

.pb-7{
	padding-bottom: 7px;
}

.pb-14{
	padding-bottom: 14px;
}

.pb-21{
	padding-bottom: 21px;
}

.pb-28{
	padding-bottom: 28px;
}

.pb-35{
	padding-bottom: 35px;
}
.pr-7{
	padding-right: 7px;
}
.pr-14{
	padding-right: 14px;
}
.pr-21{
	padding-right: 21px;
}
.pr-28{
	padding-right: 28px;
}
.pl-7{
	padding-left: 7px;
}
.pl-14{
	padding-left: 14px;
}
.pl-21{
	padding-left: 21px;
}
.pl-28{
	padding-left: 28px;
}

.m-0{
	margin: 0px;
}
.m-7{
	margin: 7px;
}

.m-14{
	margin: 14px;
}

.m-21{
	margin: 21px;
}

.m-28{
	margin: 28px;
}
.mt-7{
	margin-top: 7px;
}
.mt-14{
	margin-top: 14px;
}
.mt-21{
	margin-top: 21px;
}
.mt-28{
	margin-top: 28px;
}
.mb-7{
	margin-bottom: 7px;
}
.mb-14{
	margin-bottom: 14px;
}
.mb-21{
	margin-bottom: 21px;
}
.mb-28{
	margin-bottom: 28px;
}
.ml-7{
	margin-left: 7px;
}
.ml-14{
	margin-left: 14px;
}
.ml-21{
	margin-left: 21px;
}
.ml-28{
	margin-left: 28px;
}
.mr-7{
	margin-right: 7px;
}
.mr-14{
	margin-right: 14px;
}
.mr-21{
	margin-right: 21px;
}
.mr-28{
	margin-right: 28px;
}

.w-100{
	width: 100%;
}


.solano{
	font-family: "sgothic-bdcap";
}
.solano-16{
	font-family: "sgothic-bdcap";
	font-size: 16px;
}
.solano-17{
	font-family: "sgothic-bdcap";
	font-size: 17px;
}
.solano-18{
	font-family: "sgothic-bdcap";
	font-size: 18px;
}
.solano-20{
	font-family: "sgothic-bdcap";
	font-size: 20px;
}
.solano-22{
	font-family: "sgothic-bdcap";
	font-size: 22px;
}
.solano-26{
	font-family: "sgothic-bdcap";
	font-size: 26px;
}
.zizou{
	font-family: 'zizou-slab';
}
.zizou-bold{
	font-family: 'zizou-slab-bold';
}
/*color*/

.text-white{
	color: #fff;
}
.text-red{
	color: #ea2322;
}
.text-black{
	color: #000;
}
.text-blue{
	color: #3399ff;
}
