<div class="mb-14 hidden-xs hidden-sm">
	<div class="row">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
			<div class="bg-grey p-7">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
					<h4 class="pb-14 zizou-bold pt-14">Campus</h4>
					<div>
							<a href="#/campus/{{row.uri}}" data-ng-repeat="row in uiItems">
								<div class="p-0 col-lg-3 col-md-3 col-sm-6 col-xs-6 t-14">
									<img data-ng-src="{{row.imagen}}" class="img-campus" alt="{{row.nombre}}">
									<h3 class="pb-7 pt-14 solano-bold-22">{{row.nombre}}</h3>
								</div>
							</a>
						</div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
</div>