<div class="container hidden-lg hidden-md hidden-xs" style="margin-botton:10px;">
						<div class="row">
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
								<div class="bg-grey p-7">
									<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
										<h4 class="pb-14 zizou-bold pt-14">Facultades</h4>
										<a href="#/campus/{{row.uri}}" data-ng-repeat="row in uiItems">
											<div class="p-0 col-sm-6 col-xs-6 t-14">
												<img data-ng-src="{{row.imagen}}" class="img-campus img-100px" alt="{{row.nombre}}">
												<h3 class="pb-7 pt-14 solano-bold-22">{{row.nombre}}</h3>
											</div>
										</a>
									</div>
									<div class="clearfix"></div>
								</div>
							</div>
						</div>
					</div>