<div>
	<div class="hidden-sm hidden-xs">
		<div class="row">
			<div class="col-lg-12 col-md-12  ">
				<div class="bg-grey">
					<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 p-0">
						<div class="bg-blue p-21">
							<div class="height-100" data-ng-show="models.facultad.id===-1"></div>
							<div data-ng-show="models.facultad.id===-1">
								<h2 class="solano text-white">Escoge una Facultad y decide dónde quieres Estudiar</h2>
								
								<div class="form-group text-white">
									<select class="w-100 drop-down no-radius helvetica zizou-16 text-white select-white-border" data-ng-change="onChange.facultad()" data-ng-model="models.facultad" data-ng-options="p.nombre for p in models.facultades"></select>
								</div>
							</div>

							<div class="text-white pt-28 animate-show" data-ng-show="models.facultad.id!==-1">
                                <div class=" pb-7">
                                    <h3 class="solano">Estudias en UPC, estudias en el mundo</h3>
                                    <p class="zizou-14">Sé un comunicador que viva una verdadera experiencia internacional</p>
                                </div>
                                <h3 class=" solano">Tus facultades</h3>
                                
                                <div data-ui-scroll>
                                    <a href="" data-ng-repeat="row in models.facultadesSeleccionadas" data-ng-click="onClick.renderMarkers(row)">
                                        <p class="text-white zizou-14 zizou-14 zizou-14">{{row.nombre}}</p>
                                    </a>
                                </div>
                                <h4 class="pt-7 solano pb-14">También Tienes</h4>
                                <div data-ui-scroll>
                                    <a href="" data-ng-repeat="row in models.facultadesRecomendadas" data-ng-click="onClick.renderMarkers(row)">
                                        <p class="text-white zizou-14">{{row.nombre}}</p>
                                    </a>
                                </div>
                            </div>

							<div class="height-100" data-ng-show="models.facultad.id===-1"></div>
                            <button type="button" data-ng-show="models.facultad.id!==-1" class="btn btn-custom black-btn wide full-width lg p-0 mt-0" style="margin-top:10px!important;" data-ng-click="onClick.back()">Regresar</button>
							</a>
							<div class="clearfix"></div>
						</div>
					</div>
					<div class="col-lg-9 col-md-9 hidden-sm hidden-xs">
						<div data-ui-mapa-convenios data-ui-select-marker="onClick.selectedMap(code)" data-ui-markers="models.markers" data-ui-render="renderMarkers" style="width: 100%; height: 430px;"></div>
					</div>
				</div>
			</div>
		</div>
	</div>


	<div class="bg-blue text-white hidden-lg hidden-md p-28">
		<div class=" pb-14">
			<h2 class="solano">Estudias en UPC, estudias en el mundo</h2>
			<p class="zizou-14 pb-14">Sé un comunicador que viva una verdadera experiencia internacional</p>
		</div>
		<h3 class="pt-14 solano">Tus facultades</h3>
		<a href="" data-ng-click="onClick.modal(row)" data-ng-repeat="row in models.facultades" data-ng-if="$index!==0"><p class="text-white zizou-14">Facultad de {{row.nombre}}</p></a>
	</div>

</div>