<div>
    <div class="hidden-sm hidden-xs">
                                    <div class="input-group  text-black">
                                        <input type="text" class="no-radius zizou-14 text-black input-grey-border buscador-evento-expanded-" placeholder="Encuentra y participa de los eventos que tenemos para ti">
                                        <span class="input-group-btn">
                                        <button class="btn bg-white btn-secondary" type="button">
                                        <img style="width:20px;" src="./imagenes/search.png" alt="">
                                        </button>
                                        </span>
                                    </div>
                                </div>
                                <div class="hidden-lg hidden-md">
                                    <div class="input-group text-black">
                                        <input type="text" class="no-radius zizou-14 text-black input-grey-border buscador-evento-expanded-" placeholder="Encuentra más eventos aquí">
                                        <span class="input-group-btn">
                                        <button class="btn bg-white btn-secondary" type="button">
                                        <img style="width:20px;" src="./imagenes/search.png" alt="">
                                        </button>
                                        </span>
                                    </div>
                                </div>
                                <div class="feria pt-14 hidden-xs hidden-sm" data-ui-slider data-ui-prev="clickPrev" data-ui-next="clickNext" data-ui-render="renderSliderEventos" data-ui-reset="renderSliderEventosReset">
                                    <div data-ng-repeat="row in models.eventsList">
                                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" data-ng-repeat="r in row" data-ng-class="{'border-left-points':$index > 0,'border-left-none':$index > 0}">
                                            <div class="pull-right">
                                                <a href="" socialshare socialshare-provider="facebook" socialshare-text="{{r.event_type.name}}-{{r.faculty.name}}-{{r.campus.description}}-{{r.date}}-{{r.starts_at_parser}} a {{r.ends_at_parser}}"><img src="./imagenes/globales/1X/fb.png" class="p-7" style="width: 21px;"></a>
                                                <a href="" socialshare socialshare-provider="twitter" socialshare-text="{{r.event_type.name}}-{{r.faculty.name}}-{{r.campus.description}}-{{r.date}}-{{r.starts_at_parser}} a {{r.ends_at_parser}}"><img src="./imagenes/globales/1X/tw.png" class="p-7" style="width: 28px;"></a>
                                                <a href="" socialshare socialshare-provider="google" socialshare-text="{{r.event_type.name}}-{{r.faculty.name}}-{{r.campus.description}}-{{r.date}}-{{r.starts_at_parser}} a {{r.ends_at_parser}}"><img src="./imagenes/globales/1X/g.png" class="p-7" style="width: 28px;"></a>
                                            </div>
                                            <h2 class="solano-bold-22 red mt-28">{{r.event_type.name}}</h2>
                                            <p class="zizou-16 pt-14"><b>{{r.faculty.name}}</b></p>
                                            <ul class="list-unstyled">
                                                <li class="pb-7">
                                                    <img class="feria-icon pr-7" src="./imagenes/calendar.png" alt=""><span class="zizou-14">{{r.date}}</span>
                                                </li>
                                                <li class="pb-7 ">
                                                    <img class="feria-icon pr-7" src="./imagenes/alarm.png" alt=""><span class="zizou-14">Campus {{r.campus.description}}</span>
                                                </li>
                                                <li class="pb-7 ">
                                                    <img class="feria-icon pr-7" src="./imagenes/location.png" alt=""><span class="zizou-14">{{r.starts_at_parser}} a {{r.ends_at_parser}}</span>
                                                </li>
                                                <div class="pull-right pt-7 pb-7">
                                                    <a href="" data-ng-click="onClick.openEvent(r)" class="text-blue zizou-14">Ver más información ►</a>
                                                </div>
                                                <div class="clearfix"></div>
                                                <li class="pb-7 pt-7">
                                                    <a href="" data-ng-click="onClick.registerEvent(r)" class="no-radius btn btn-danger solano-17" style="width:100%;margin-botton:10px;">Quiero ir</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="feria pt-14 hidden-lg hidden-md" data-ui-slider data-ui-prev="clickPrev" data-ui-next="clickNext" data-ui-render="renderSliderEventosMobile">
                                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" data-ng-repeat="r in models.eventsListMobile" data-ng-class="{'border-left-points':$index > 0,'border-left-none':$index > 0}">
                                        <div class="pull-right">
                                            <a href="" socialshare socialshare-provider="facebook" socialshare-text="{{r.event_type.name}}-{{r.faculty.name}}-{{r.campus.description}}-{{r.date}}-{{r.starts_at_parser}} a {{r.ends_at_parser}}"><img src="./imagenes/globales/1X/fb.png" class="p-7" style="width: 21px;"></a>
                                            <a href="" socialshare socialshare-provider="twitter" socialshare-text="{{r.event_type.name}}-{{r.faculty.name}}-{{r.campus.description}}-{{r.date}}-{{r.starts_at_parser}} a {{r.ends_at_parser}}"><img src="./imagenes/globales/1X/tw.png" class="p-7" style="width: 28px;"></a>
                                            <a href="" socialshare socialshare-provider="google" socialshare-text="{{r.event_type.name}}-{{r.faculty.name}}-{{r.campus.description}}-{{r.date}}-{{r.starts_at_parser}} a {{r.ends_at_parser}}"><img src="./imagenes/globales/1X/g.png" class="p-7" style="width: 28px;"></a>
                                        </div>
                                        <h2 class="solano-bold-22 red mt-28">{{r.event_type.name}}</h2>
                                        <p class="zizou-16 pt-14"><b>{{r.faculty.name}}</b></p>
                                        <ul class="list-unstyled">
                                            <li class="pb-7">
                                                <img class="feria-icon pr-7" src="./imagenes/calendar.png" alt=""><span class="zizou-14">{{r.date}}</span>
                                            </li>
                                            <li class="pb-7 ">
                                                <img class="feria-icon pr-7" src="./imagenes/alarm.png" alt=""><span class="zizou-14">Campus {{r.campus.description}}</span>
                                            </li>
                                            <li class="pb-7 ">
                                                <img class="feria-icon pr-7" src="./imagenes/location.png" alt=""><span class="zizou-14">{{r.starts_at_parser}} a {{r.ends_at_parser}}</span>
                                            </li>
                                            <div class="pull-right pt-7 pb-7">
                                                <a href="" data-ng-click="onClick.openEvent(r)" class="text-blue zizou-14">Ver más información ►</a>
                                            </div>
                                            <div class="clearfix"></div>
                                            <li class="pb-7 pt-7">
                                                <a href="" data-ng-click="onClick.registerEvent(r)" class="no-radius btn btn-danger solano-17" style="width:100%;margin-botton:10px;">Quiero ir</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="clearfix">  </div>
</div>