<div class="col-lg-12 mb-14">
    <div class="row hidden-sm hidden-xs">
        <a href="" class="facultades-item-prev facultades-item-desktop-prev" data-ng-click="clickPrev=true"></a>
        <a href="" class="facultades-item-next facultades-item-desktop-next" data-ng-click="clickNext=true"></a>
        <div class="border-grey pt-14  col-lg-12 col-md-12 col-sm-12 col-xs-12" data-ui-slider data-ui-prev="clickPrev" data-ui-next="clickNext" data-ui-render="renderSliderDesktop">
            <div data-ng-repeat="pages in facultadesIteratorDesktop">
                <div class="row  text-center" data-ng-repeat="row in pages">
                    <div class="col-lg-2 col-md-2" data-ng-repeat="r in row" data-ng-class="{'col-lg-offset-1':$index===0, 'col-md-offset-1':$index===0}">
                        <a href="#/facultad/key">
                            <img class="img-100px  hover-img-circular" data-ng-src="{{r.imagen}}" alt="{{r.nombre}}">
                            <p class="solano-bold-14">Facultad de<br>  {{r.nombre}}</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>