<div class="container hidden-lg hidden-md col-sm-12 col-xs-12">
	<div style="position:relative;">
		<a href="" class="facultades-item-prev facultades-item-desktop-prev" data-ng-click="clickPrev=true"></a>
	    <a href="" class="facultades-item-next facultades-item-desktop-next" data-ng-click="clickNext=true"></a>

	    <div data-ui-slider data-ui-prev="clickPrev" data-ui-next="clickNext" data-ui-render="renderSliderMobile">
	    	<div data-ng-repeat="pages in facultadesIteratorDesktop">
	    		<div class="row text-center" data-ng-repeat="row in pages">
					<div class=" col-xs-6" data-ng-repeat="r in row">
						<a href="#/facultad/key">
							<img class="img-100px" data-ng-src="{{r.imagen}}" alt="{{r.nombre}}">
							<p class="solano-bold-14">Facultd de<br> {{r.nombre}}</p>
						</a>
					</div>
				</div>
	    	</div>
	    </div>

	</div>
</div>