<footer class="zizou-16">
	<div class="rojo-footer  p-28">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="anuncio-app text-center ">
						<h3 class="solano-bold-28 text-white pt-7">¿Quieres más información?</h3>
					</div>
				</div>
				
				<div class="clearfix"></div>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
	<div class="grey-footer  p-28">
		<div class="container">
			<div class="row">
				<div class="col-lg-offset-1 col-md-offset-1 col-lg-6 col-md-6 col-sm-12 col-xs-12">
					<div class="anuncio-app text-left pb-28">
						<h4 class="zizou-bold-16 text-white pt-7">Sigue tu proceso de admisión desde cualquier lugar <br>y a toda hora con nuestra app</h4>
					</div>
				</div>
				<div class="col-lg-2 col-md-2 col-sm-6 col-xs-6 text-right">
					<a href=""><img src="./imagenes/android.png" class="w-75 button-app" alt=""></a>
				</div>
				<div class="col-lg-2 col-md-2 col-sm-6 col-xs-6">
					<a href=""><img src="./imagenes/apple.png" class="w-75 button-app" alt=""></a>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
	<div class="black-footer text-center p-28">
		<div class="row">
			<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 pb-7">
				<a href="#"><img src="./imagenes/laureate.png" alt=""></a>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
				<div class="text-center text-white">
					<p>Prolongación Primavera 2390, Monterrico - Santiago de Surco</p>
					<a class="text-white zizou-14" href="#">Contacto |</a>
					<a class="text-white zizou-14" href="#">Política de Privacidad |</a>
					<a class="text-white zizou-14" href="#"> Términos y Condiciones </a>
				</div>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 text-white pt-14">
				<p>Informes: 313-3333 / 610 - 5030</p>
			</div>
		</div>
		<div class="clearfix"></div>
	</div><!--black-footer  text-center p-28-->
</footer>