<header>
	<div class="row">
		<!--<div class="container">

			<div class="col-lg-5 col-md-5 col-sm-3 hidden-xs">
				<nav class="bg-white  " id="items-nav">
					<ul class="list-unstyled">
						<li class="pull-left p-7">
							<a href="#/">
								<img class="volver" src="./imagenes/globales/1X/volver.png" alt="" style="width: 46px;">
							</a>
						</li>
						<li class="pull-left hidden-lg hidden-md p-21">
							<a href="" socialshare socialshare-provider="google">
								<img src="./imagenes/facultad/1X/g.png" alt="">
							</a>
						</li>
						<li class="pull-left hidden-xs hidden-sm p-21 ml-14">
							<a href="" socialshare socialshare-provider="facebook">
								<img src="./imagenes/facultad/1X/fb.png" alt="">
							</a>
						</li>
						<li class="pull-left hidden-xs hidden-sm p-21">
							<a href="" socialshare socialshare-provider="twitter">
								<img src="./imagenes/facultad/1X/tw.png" alt="">
							</a>
						</li>
						<li class="pull-left hidden-xs hidden-sm p-21">
							<a href="" socialshare socialshare-provider="google">
								<img src="./imagenes/facultad/1X/g.png" alt="">
							</a>
						</li>
					</ul>
				</nav>
			</div>

			<div class="col-lg-7 col-md-7 col-sm-9 hidden-xs">
				<nav class="bg-white " id="items-nav">
					<ul class="list-unstyled">
						<li class=" pt-7 pl-7 black-2">
							<h1 class="solano-bold-26 pt-7">49</h1>
							<p class="helvetica"><b>Días para el cierre <br>de Admisión</b></p>
						</li>
						<li class=" pull-right mt-21 ">
							<a href="" class="p-21 bg-red" data-ng-click="headerCampus=true;" style="display:inline-block;">
								<h4 class="solano text-white">Ver todos los
									campus</h4>
								</a>
							</li>
							<li class="  pull-right pt-7">
								<img src="./imagenes/facultad/1X/sol.png" alt="" style="width:152px;">
							</li>
						</ul>
					</nav>
				</div>

			</div>-->

			<div class="container">
						<div class="col-lg-5 col-md-5 col-sm-3 hidden-xs">
							<nav class="bg-white  " id="items-nav">
								<ul class="list-unstyled">
									<li class="pull-left p-7">
										<a href="#/">
											<img class="volver" src="./imagenes/globales/1X/volver.png" alt="" style="width: 46px;">
										</a>
									</li>
									<li class="pull-left hidden-lg hidden-md p-21">
										<a href="" socialshare socialshare-provider="google">
											<img src="./imagenes/facultad/1X/g.png" alt="">
										</a>
									</li>
									<li class="pull-left hidden-xs hidden-sm p-21 ml-14">
										<a href="" socialshare socialshare-provider="facebook">
											<img src="./imagenes/facultad/1X/fb.png" alt="">
										</a>
									</li>
									<li class="pull-left hidden-xs hidden-sm p-21">
										<a href="" socialshare socialshare-provider="twitter">
											<img src="./imagenes/facultad/1X/tw.png" alt="">
										</a>
									</li>
									<li class="pull-left hidden-xs hidden-sm p-21">
										<a href="" socialshare socialshare-provider="google">
											<img src="./imagenes/facultad/1X/g.png" alt="">
										</a>
									</li>
								</ul>
							</nav>
						</div>
						<div class="col-lg-7 col-md-7 col-sm-9 hidden-xs">
							<nav class="bg-white " id="items-nav">
								<ul class="list-unstyled">
									<li class=" pt-7 pl-7 black-2">
										<h1 class="solano-bold-26 pt-7" data-ui-counter></h1>
										<p class="helvetica"><b>Días para el cierre <br>de Admisión</b></p>
									</li>
									<li class=" pull-right pt-14 bg-red mt-21" style="height: 70px;">
										<div class="" data-toggle="collapse" data-target="#demo1">
											<div class="ultimos">
												<div class="mensaje">
													<div class="panel-group">
														<div class="">
															<div class="panel-heading">
																<a href="" class="bg-red" data-ng-click="headerCampus=true;">
																		<h4 class="solano text-white pb-7">Ver todos los campus</h4>
																	</a>
																</div>
															
														</div>
													</div>
												</div>
											</div>
										</div>
									</li>
									<li class="  pull-right pt-7">
										<img src="./imagenes/facultad/1X/sol.png" alt="" style="width:152px;">
									</li>
								</ul>
							</nav>
						</div>
					</div>


			<data-ui-header-campus data-ui-render="headerCampus"></data-ui-header-campus>

			<div class="container-fluid hidden-lg hidden-md hidden-sm p-0">
				<nav class="bg-white p-0" id="items-nav">
					<div class="col-xs-2 p-0">
						<a href="#/">
							<img class="volver" src="./imagenes/globales/1X/volver.png" alt="">
						</a>
					</div>
					<div class="col-xs-2 pt-21">
						<a href="#">
							<img src="./imagenes/share.png" alt="" style="width: 17px;">
							<span>Compartir</span>
						</a>
					</div>
					
					<div class="col-xs-4 bg-red" style="
					z-index: 99;
					float: right;
					">
					<a href="" data-ng-click="headerCampus=true">
						<h4 class="solano text-white pb-7">Ver todos los campus</h4>
					</a>
				</div>
				<div class="col-xs-1">
					<img src="./imagenes/facultad/1X/sol.png" alt="" style="width:100px;display: inline;">
				</div>
			</nav>
		</div>

		<div class="container-fluid">
			<div class="row">
				<div class="clearfix"></div>
				<div data-ng-style="models.render.banner">
					<div class="container">

						<div class="quote hidden-sm hidden-xs mt-35" data-ng-if="!!models.render.testimonio">
										<img src="./imagenes/testimonios/comillas3.png" alt="">
										<p class="quote-texto pt-21"><b>"{{models.render.testimonio.descripcion}}"</b></p>
										<div class="height-25"></div>
										<div class="text-black text-right pr-14">
											<p class="zizou-16">{{models.render.testimonio.nombre}}
											</p>
											<p class="zizou-14">{{models.render.testimonio.carrera}}</p>
											<p class="red">{{models.render.testimonio.adicional}}</p>
										</div>
									</div>

						<div class="titulo-general-2"><!--arreglar linea-->
							<img src="./imagenes/linea-roja-pc.png" alt="">
							<div class="text">
								<div class="height-25"></div>
								<h3 class="title-line-2 text-white-transparent">{{models.render.titulo}}</h3>
								<h2 class="text-white" data-ng-class="{'title-line-medium':!models.render.isLargo,'title-line':models.render.isLargo}">{{models.render.subtitulo}}</h2>
								<div class="height-25"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="container hidden-md hidden-sm hidden-lg hidden-xs">
			<div class="user-1 mr-21">
				<a href="#"><img src="./imagenes/globales/1x/usuario_día.png" alt=""></a>
			</div>
		</div>

	</div>
</header>