<div id="collapse-campus" class="w-100">
						<div class="bg-red p-21">
							<div class="container">
								<div class="row text-center pt-28 text-white pb-28">
									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6" data-ng-repeat="row in campusList">
										<div class="sede sede-Monterrico m-14">
											<a href="#/campus/{{row.uri}}" class="text-white">
												<img class="pb-14" data-ng-src="{{row.imagen}}" alt="{{row.nombre}}">
												<h4 class="helvetica">{{row.nombre}}</h4>
												<div class="clearfix"></div>
											</a>
										</div>
									</div>
									<!--<img class="pull-right p-14 volver" src="./imagenes/carreras/x1/close.png" alt="">-->
								</div>
							</div>
						</div>
					</div>