<div class="modal fade bg-white-transparent" id="modalConveniosDesktop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none;">
    <div class="height-200"></div>
    <div class="modal-dialog" role="document">
        <div>
            <div class=" p-0">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><img src="./imagenes/testimonios/close2.png" alt=""></button>
                <div class="clearfix"></div>
            </div>
            <div class="nodal-content p-28 bg-white">
                <!--INGRESAR CONTENIDO-->
                <div class="row">
                    <div class="text-black p-14">
                        <p class="helvetica-16">{{uiDetail.country}}</p>
                        <a href="">
                            <p class="helvetica-16"><b>{{uiDetail.university}}</b></p>
                        </a>
                    </div>
                    <div class="row  text-black">
                        <div class="pl-28 col-xs-6">
                            <p class="red helvetica-16"><b>Tipo de convenio</b></p>
                            <p class="helvetica-16" data-ng-repeat="row in uiDetail.type">{{row}}</p>
                        </div>
                        <div class=" col-xs-6">
                            <p class="red helvetica-16"><b>Categoría</b></p>
                            <p class="helvetica-16">{{uiDetail.category}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>