<div class="modal fade bg-white-transparent" id="modal-convenio-mobile" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class=" p-0">
			<div class=" p-0">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><img src="./imagenes/testimonios/close2.png" alt=""></button>
				<div class="clearfix"></div>
			</div>
			<div class="bg-white">
				<!--INGRESAR CONTENIDO-->
				<div class="row">
					<div class="text-responsive text-black pt-14 pb-14">
						<h2 class="solano">Estudias en UPC, estudias en el mundo</h2>
						<p class="helvetica" style="font-size: 15px;">Vive una verdadera experiencia internacional</p>
					</div>

					<a href="" style="position:absolute;top:50%;left:10px;z-index:2;" data-ng-click="clickPrevConveniosMobile=true"><img style="width:15px" class="" src="./imagenes/izq.png" alt=""></a>
					<a href="" style="position:absolute;top:50%;right:10px;z-index:2;" data-ng-click="clickNextConveniosMobile=true"><img style="width:15px" class=" pull-right" src="./imagenes/der.png" alt=""></a>
					
					<div data-ui-slider data-ui-prev="clickPrevConveniosMobile" data-ui-next="clickNextConveniosMobile" data-ui-render="uiRender">
						<div data-ng-repeat="row in uiConvenios">
							<div class="row text-center" data-ng-repeat="r in row">
								<div class=" col-xs-6"  data-ng-repeat="x in r">
									<a href="">
										<img class="img-100px" data-ng-src="{{x.image}}" alt="{{x.country}}">									
										<p class="helvetica  pt-7"><b class="size-15">{{x.country}}</b> <br> <span class="helvetica">{{x.category}}</span></p>
									</a>
								</div>
							</div>
						</div>
					</div>


				</div>
				<div class="text-center pb-14">
					<a href="http://upc.edu.pe" target="_blank" class="btn btn-custom black-btn wide  p-0 mt-0">Conoce más aquí</a>
				</div>
			</div>
		</div>
	</div>
</div>