<header>
			<div class="container">
				<div class="col-lg-5 col-md-5 col-sm-4 hidden-xs">
					<nav class="bg-white  " id="items-nav">
						<ul class="list-unstyled">
							<li class="pull-left p-7">
								<a href="#/">
									<img class="hidden-sm hidden-xs" src="./imagenes/globales/1X/volver.png" alt="" style="width: 46px;">
								</a>
							</li>
							<li class="pull-left hidden-lg hidden-md p-21">
								<a href="#/">
									<img src="./imagenes/facultad/1X/volver.png" alt="" class="volver">
								</a>
							</li>
							<li class="pull-left pt-28 visible-sm hidden-md hidden-lg hidden-xs">
								<a href="#">
									<img src="./imagenes/share.png" alt="" style="width: 17px;">
									<span>Compartir</span>
								</a>
						    </li>
							<li class="pull-left hidden-xs hidden-sm p-21 ml-14">
								<a href="#">
									<img src="./imagenes/facultad/1X/fb.png" alt="">
								</a>
							</li>
							<li class="pull-left hidden-xs hidden-sm p-21">
								<a href="#">
									<img src="./imagenes/facultad/1X/tw.png" alt="">
								</a>
							</li>
							<li class="pull-left hidden-xs hidden-sm p-21">
								<a href="#">
									<img src="./imagenes/facultad/1X/g.png" alt="">
								</a>
							</li>
						</ul>
					</nav>
				</div>
				<div class="col-lg-7 col-md-7 col-sm-8 hidden-xs">
					<nav class="bg-white " id="items-nav">
						<ul class="list-unstyled">
							<li class=" pt-7 pl-7 black-2">
								<h1 class="solano-bold-26" data-ui-counter></h1>
								<p class="helvetica">Días para el cierre <br>de Admisión</p>
							</li>
							
							<li class="  pull-right pt-7">
								<img src="./imagenes/facultad/1X/sol.png" alt="" style="width:152px;">
							</li>
							

						</ul>
					</nav>
				</div>
			</div>
			<!--Hidden responsive-->
			<div class="container-fluid hidden-lg hidden-md hidden-sm p-0">
				<nav class="bg-white p-0" id="items-nav">
					<div class="col-xs-2 p-0">
						<a href="#/">
							<img class="volver" src="./imagenes/globales/1X/volver.png" alt="">
						</a>
					</div>
					<div class="col-xs-2 pt-21">
						<a href="#">
							<img src="./imagenes/share.png" alt="" style="width: 17px;">
							<span>Compartir</span>
						</a>
					</div>
					
					<!--<div class="col-xs-4 bg-red" style="
						z-index: 99;
						float: right;
						">
						<a href="campus-desplegable-rojo.html">
							<h4 class="solano text-white pb-7">Ver todos los campus</h4>
						</a>
					</div>-->
					<div class="col-xs-offset-3 col-xs-2">
						<img src="./imagenes/facultad/1X/sol.png" alt="" style="width:100px;display: inline;">
					</div>
				</nav>
			</div>
			</header>