<!DOCTYPE html>
<html lang="en" data-ng-controller="appController">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width , initial-scale=1.0, user-scalable=no">
    <title>{{models.render.carrera}}</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/main.min.css">
    <link rel="stylesheet" href="css/fuentes.css">
    <link rel="stylesheet" href="css/utilities.css">
    <link rel="stylesheet" type="text/css" href="css/lightgallery/css/lightgallery.css">
    <link rel="stylesheet" type="text/css" href="css/jquery-jvectormap-2.0.3.css">
    <link rel="stylesheet" href="css/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="css/owl-carousel/owl.theme.css">
    <link rel="stylesheet" type="text/css" href="css/zebra/simple.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" href="http://fontawesome.io/assets/font-awesome/css/font-awesome.css">
</head>
<body>
    <!--Loading app-->
<div id="loading">
    <div class="loading-mask"></div>
    <div class="loading">
        <div class="loading-indicator">
            <img src="imagenes/loading.gif" width="100" height="100" />
            <div>
                <br>
                <span class="loading-msg">Cargando...</span>
            </div>
        </div>
    </div>
</div>
    
    <div data-ng-view>

    </div>

    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/lightgallery/lightgallery.js"></script>
    <script type="text/javascript" src="js/lightgallery/lg-thumbnail.js"></script>
    <script type="text/javascript" src="js/lightgallery/lg-zoom.js"></script>
    <script type="text/javascript" src="js/lightgallery/lg-video.js"></script>
    <script src="http://maps.google.com/maps/api/js?key=AIzaSyByYp4TA2emiDmdKrKu0NtnOtF5OnEicJc"></script>
    <script src="js/gmap3.min.js"></script>
    <script type="text/javascript" src="js/angular//angular.min.js"></script>
    <script type="text/javascript" src="js/ngsocialshare.js"></script>
    <script type="text/javascript" src="js/jquery-jvectormap-2.0.3.min.js"></script>
    <script type="text/javascript" src="js/mall-map.js"></script>
    <script type="text/javascript" src="js/owl.carousel.min.js"></script>
    <script type="text/javascript" src="js/enscroll/enscroll-0.6.2.min.js"></script>
    <script type="text/javascript" src="js/zebra/datepicker.js"></script>    
    <script data-main="application/main" src="js/require.min.js"></script>
    
</body>
</html>