<div class="check-list">
  <div class="check-list-head">
    <div>
      <h3>Mi check list</h3><span>Ingreso {{  applicant.level | applicantLevelLabel}}</span>
    </div>
  </div>

  <div class="check-list-content scroll-nice" id="check-list-content">
      
      <div data-ng-if="loadingChecklist" style="position:absolute;z-index:1;background:url(statics/css/lightgallery/img/loading.gif) 50% 50% no-repeat;left:50%;top:40%;width:100px;height:100px;margin-left:-50px;margin-top:-50px;"></div>

      <div data-ng-show="readyChecklist">
        <div  data-ng-repeat="item in models.tasks" class="check-list-item" data-ng-class="item.css">
          <p class="date" data-ng-if="item.last_log_date">{{ item.last_log_date | dateLocale }}</p>
          <h3>{{item.task.description}}</h3>
          <div data-ng-if="item.isUpload" class="tcenter pv10">
            <button data-ng-if="item.task.template_file" class="btn mr20" data-ng-disabled="!item.current" data-ng-click="onClick.showFile(item)">Descargar</button>
            <div class="btn inline-block" ngf-select="onClick.uploadFile($file, item)" data-ng-disabled="!item.current">Subir</div>
            <p data-ng-if="item.error" class="error">*{{ item.error }}</p>
          </div>
          <div data-ng-if="item.isPayment">
            <a href="" class="attachment" ngf-select="onClick.uploadFile($file, item)" data-ng-disabled="!item.current">Adjuntar comprobante <i class="icon icon-attach"></i></a>
            <p data-ng-if="item.error" class="error">*{{ item.error }}</p>
            <hr>
            <h4>Formas de pago derecho de Admisión</h4>
            <ul class="list">
              <li>
                Pagar por
                <a href="#" class="link">Tienda UPC  </a>/ <a href="#" class="mail">compartir link via mail<i class="icon icon-mail ml5"></i></a>
              </li>
              <li>Puedes pagar en los siguientes Bancos: Scotiabank e Interbank</li>
              <li>Cajeros Eva dentro de los Campus de UPC</li>
            </ul>
          </div>
        </div>
      </div>

      <div data-ng-show="tasks.length <= 0">
        No tienes tareas pendientes
      </div>
  </div>

</div>
