html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

    #loading-mask {
        background-color: white;
        height: 100%;
        position: fixed;/*absolute;*/
        left: 0;
        top: 0;
        width: 100%;
        z-index: 20000;
        opacity:0.99;
        filter:alpha(opacity=99); /* For IE8 and earlier */
    }

    #loading {
        height: auto;
        position: fixed;
        left: 50%;
        top: 40%;
        padding: 2px;
        z-index: 20001;
        min-width: 300px;
        margin-left: -150px;
        background-color: #efefef;
        border-radius: 15px;
    }

    #loading a {
        color: #225588;
    }

    #loading .loading-indicator {
        color: #444;
        font: bold 13px Helvetica, Arial, sans-serif;
        height: auto;
        margin: 0;
        padding: 20px 10px;
        text-align: center;
    }

    #loading-msg {
        font-size: 10px;
        font-weight: normal;
    }

    #dashboard {
      display: none;
      position: relative;
      min-height: 100%;
    }