<div id="left-bar">
	<div>
		<div class="left-bar-top mb10 clearfix">
			<div class="fleft left-bar-top-item">
				<div class="simulator mr5">
					<div class="simulator-info clearfix">
						<div class="simulator-info-content">
							<div>
								<div class="simulator-info-icon">
									<span class="icon icon-reloj"></span>
								</div>
								<h3>{{models.period.remaining_days}} días</h3>
								<p>Cierre del periodo de Ingreso {{models.period.description}}</p>
							</div>
						</div>
						<div class="simulator-info-content calculator">
							<div data-ng-if="showLoadingPension" style="position:absolute;z-index:90;background:url(statics/img/preload.gif) 50% 50% no-repeat;left:50%;top:50%;width:50px;height:100px;margin-left:-25px;"></div>
							<div class="link" data-ng-click="onClick.viewSimulator()" data-ng-show="!models.viewSimulator && !showLoadingPension">
								<div class="simulator-info-icon">
									<span class="icon icon-calculadora"></span>
								</div>
								<h3>Simulador de pensiones</h3>
								<p>Conoce el monto aproximado</p>
							</div>
							<div class="tright fade-show" data-ng-show="models.viewSimulator">
								<h4 style="color:#fff;font-size:20px;margin-bottom:20px;">Categoría {{models.pension.category_code}}</h4>
								<h3 style="font-size:35px;margin-bottom:10px;">S/. {{models.pension.cycle_cost}}</h3>
								<p style="color:#000;font-weight: 600;font-size:12px;">Valor aproximado</p>
							</div>
						</div>
					</div>
					<a href="" class="simulator-sections mb10" data-ng-click="onClick.modal('cronograma_de_admision')">
						<h4>Cronograma de Admisión</h4>
						<div class="arrow"><span class="icon icon-flecha"></span></div>
					</a>
					<a href="" class="simulator-sections" data-ng-click="onClick.modal('logros-upc')">
						<h4>Logros UPC</h4>
						<div class="arrow"><span class="icon icon-flecha"></span></div>
					</a>
				</div>
			</div>
			<div class="fleft left-bar-top-item">
				<div class="item ml5">
					<div class="item-head">
						<h3>Todo lo que tienes que saber</h3>
					</div>
					<div class="item-content mb5" id="scroll-top-1">
						<div>
							<ul>
								<li class="documentation">
									<h3><a href="" data-ng-click="onClick.modal('documentation')">Documentación</a></h3>
									<p>Documentos a presentar para poder postular</p>
								</li>
								<li class="recategorisation">
									<h3><a href="" data-ng-click="onClick.modal('recategorisation')">Recategorización</a></h3>
									<p>Por hermano o padre matriculados en pregrado o EPE</p>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="fleft left-bar-top-item">
				<div class="item ml10">
					<div class="item-head">
						<h3>Todo lo que tienes que saber</h3>
					</div>
					<div class="item-content mb5" id="scroll-top-2">
						<div id="video-gallery">
							<a href="https://www.youtube.com/watch?v=77NTUDGugGM" style="display:block;border:none;">
								<img src="statics/img/video-1.png" width="100%" />
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="left-bar-bottom clearfix">

			<div class="fleft left-bar-bottom-item-left">
				<div class="item">
					<div class="item-head">
						<h3>Eventos</h3>
					</div>
					<div class="item-content scroll-nice" id="scroll-1">
						<div>

							<div class="eventos">


								<loading data-ui-config="models.eventsAvailable.loading.config"></loading>
								
								<div class="agenda agenda-no-title" data-ng-show="!models.eventsAvailable.loading.config.view && !models.eventsAvailable.loading.isResults">
									<div class="no-agenda">
										<img src="statics/img/img_not_event.jpg">
										<div>
											<p>Disfruta el día</p>
											<h3>No tienes ningún evento.</h3>
										</div>
									</div>
								</div>


								<div class="clearfix" data-ng-show="!models.eventsAvailable.loading.config.view && models.eventsAvailable.loading.isResults">
									<div data-ng-repeat="row in models.eventsAvailable.data">
										<div class="fleft">
											<div class="date tleft">
												{{row.date}}
											</div>
										</div>
										<div class="fright">

											<div class="agenda agenda-no-title" data-ng-repeat="r in row.events">
												<div class="body" data-ng-style="row.styleEvent">
													<div class="clearfix">
														<div class="fleft">
															<a href="">{{r.event_type.name}}</a>
														</div>
														<div class="ffight">
															<p><strong>{{r.faculty.name}}</strong> - {{r.description}}</p>
															<ul>
																<li><i aria-hidden="true" class="fa fa-clock-o"></i><span class="time">de <strong>{{r.starts_at_hour}}</strong> a <strong>{{r.ends_at_hour}}</strong></span></li>
																<li><i aria-hidden="true" class="fa fa-map-marker"></i><span class="location">Campus <strong>{{r.campus.description}}</strong></span></li>
															</ul>
														</div>
													</div>
												</div>
												<div class="social">
													<ul>
														<li>
															<a href="" socialshare socialshare-provider="facebook"> <i class="icon-fb"></i></a>
														</li>
														<li><a href="" socialshare socialshare-provider="twitter"><i class="icon-tw"></i></a></li>
														<li>
															<a href="" socialshare socialshare-provider="google"> <i class="icon-go"></i></a>
														</li>
													</ul>
												</div>
												<a href="" class="participar" data-ui-close-event data-ui-id="r.id" data-on-close="onEvents.onCloseEvent(id)">
													Quiero ir
												</a>
											</div>

										</div>
									</div>
								</div>

							</div>

						</div>
						<div class="mb5"></div>
					</div>
				</div>
			</div>

			<div class="fleft left-bar-bottom-item-right">
				<div class="item ml10">
					<div class="item-head">
						<h3>Mi Agenda</h3>
					</div>
					<div class="item-content scroll-nice" id="scroll-2">

						<div>
							<div id="eventos-add"></div>
							<div class="eventos">

								<loading data-ui-config="models.eventsRegistered.loading.config"></loading>

								<div class="agenda agenda-no-title" data-ng-show="!models.eventsRegistered.loading.config.view && !models.eventsRegistered.loading.isResults">
									<div class="no-agenda">
										<img src="statics/img/img_not_event.jpg">
										<div>
											<p>Disfruta el día</p>
											<h3>No tienes ningún evento.</h3>
										</div>
									</div>
								</div>

								<div data-ng-show="!models.eventsRegistered.loading.config.view && models.eventsRegistered.loading.isResults">

									<div data-ng-repeat="row in models.eventsRegistered.data">
										<div class="date">
											{{row.date}}
										</div>
										<div class="agenda" data-ng-repeat="r in row.applicant_events">
											<div class="head" data-ng-style="r.styleEvent">
												<h4>{{r.event.event_type.name}}</h4>
												<a href="" class="close" data-ui-close-diary data-ui-id="r.id" data-on-close="onEvents.onCloseDiary(id)"><i aria-hidden="true" class="fa fa-times"> </i></a>
											</div>
											<div class="body">
												<p><strong>{{r.event.faculty.name}}</strong> - {{r.event.description}}</p>
												<ul>
													<li><i aria-hidden="true" class="fa fa-clock-o"></i><span class="time">de <strong>{{r.event.starts_at_hour}}</strong> a <strong>{{r.event.ends_at_hour}}</strong></span></li>
													<li><i aria-hidden="true" class="fa fa-map-marker"></i><span class="location">Campus <strong>{{r.event.campus.description}}</strong></span></li>
												</ul>
											</div>
											<div class="social">
												<ul>
													<li>
														<a href="" socialshare socialshare-provider="facebook"> <i class="icon-fb"></i></a>
													</li>
													<li><a href="" socialshare socialshare-provider="twitter"><i class="icon-tw"></i></a></li>
													<li>
														<a href="" socialshare socialshare-provider="google"> <i class="icon-go"></i></a>
													</li>
												</ul>
											</div>
										</div>
									</div>

								</div>

							</div>

						</div>
						<div class="mb10"></div>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>

<div id="right-bar">
	<upc-checklist applicant="applicant"></upc-checklist>
</div>



<script type="text/ng-template" id="templateIframeId">
	<div style="position:relative;width:100%;height:100%;">
		<div data-ng-if="showLoadingIframe" style="position:absolute;z-index:90;background:url(statics/css/lightgallery/img/loading.gif) 50% 50% no-repeat;left:50%;top:50%;width:100px;height:100px;margin-left:-50px;margin-top:-50px;"></div>
		<iframe data-ng-src="{{pdf}}" style="width:100%;height:100%;border:none;display:block;" frameborder="0"></iframe>
	</div>
</script>