<div id="left-bar">
	<div>
		<div class="left-bar-top mb10 clearfix">
			<div class="fleft left-bar-top-item">
				<div class="simulator mr5">
					<div class="simulator-info clearfix">
						<div class="simulator-info-content">
							<div>
								<div class="simulator-info-icon">
									<span class="icon icon-reloj"></span>
								</div>
								<h3>{{models.period.remaining_days}} días</h3>
								<p>Cierre del periodo de Ingreso {{models.period.description}}</p>
							</div>
						</div>
						<div class="simulator-info-content calculator">
							<div data-ng-if="showLoadingPension" style="position:absolute;z-index:90;background:url(statics/img/preload.gif) 50% 50% no-repeat;left:50%;top:50%;width:50px;height:100px;margin-left:-25px;"></div>
							<div class="link" data-ng-click="onClick.viewSimulator()" data-ng-show="!models.viewSimulator && !showLoadingPension">
								<div class="simulator-info-icon">
									<span class="icon icon-calculadora"></span>
								</div>
								<h3>Simulador de pensiones</h3>
								<p>Conoce el monto aproximado</p>
							</div>
							<div class="tright fade-show" data-ng-show="models.viewSimulator">
								<h4 style="color:#fff;font-size:20px;margin-bottom:20px;">Categoría {{models.pension.category_code}}</h4>
								<h3 style="font-size:35px;margin-bottom:10px;">S/. {{models.pension.cycle_cost}}</h3>
								<p style="color:#000;font-weight: 600;font-size:12px;">Valor aproximado</p>
							</div>
						</div>
					</div>
					<a href="" class="simulator-sections mb10" data-ng-click="onClick.modal('cronograma_de_admision')">
						<h4>Cronograma de Admisión</h4>
						<div class="arrow"><span class="icon icon-flecha"></span></div>
					</a>
					<a href="" class="simulator-sections" data-ng-click="onClick.modal('logros-upc')">
						<h4>Logros UPC</h4>
						<div class="arrow"><span class="icon icon-flecha"></span></div>
					</a>
				</div>
			</div>
			<div class="fleft left-bar-top-item">
				<div class="item ml5">
					<div class="item-head">
						<h3>Todo lo que tienes que saber</h3>
					</div>
					<div class="item-content mb5" id="scroll-top-1">
						<div>
                            <ul>
                                <li class="documentation">
                                    <h3><a href="" data-ng-click="onClick.modal('documentation')">Documentación</a></h3>
                                    <p>Documentos a presentar para poder postular</p>
                                </li>
                                <li class="recategorisation">
                                    <h3><a href="" data-ng-click="onClick.modal('recategorisation')">Recategorización</a></h3>
                                    <p>Por hermano o padre matriculados en pregrado o EPE</p>
                                </li>
                            </ul>
                        </div>
					</div>
				</div>
			</div>
			<div class="fleft left-bar-top-item">
				<div class="item ml10">
					<div class="item-head">
						<h3>Todo lo que tienes que saber</h3>
					</div>
					<div class="item-content mb5" id="scroll-top-2">
						<div id="video-gallery">
							<a href="https://www.youtube.com/watch?v=77NTUDGugGM" style="display:block;border:none;">
								<img src="statics/img/video-1.png" width="100%" />
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="left-bar-bottom clearfix">

			<div class="fleft left-bar-bottom-item-left">
				<div class="item">
					<div class="item-head">
						<h3>Tu carrera</h3>
					</div>
					<div class="item-content scroll-nice" id="scroll-1">
						<div>

                            <div class="career clearfix">
                                <div class="career-left">
                                    <div>
                                        <div class="information">
                                            <h3>{{models.career.name}}</h3>
                                            <p class="information-title">
                                                {{models.career.short_description}}
                                            </p>
                                            <p class="information-description">
                                                {{models.career.long_description}}
                                            </p>
                                            <div class="information-bg"></div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="profiles">
                                            <div class="title">
                                                <span class="number">01</span>
                                                <span class="text">Perfil del egresado</span>
                                            </div>
                                            <div class="p020">
                                                <div class="clearfix" data-ng-repeat="row in models.career.graduated_profiles">
                                                    <div class="profile-item fleft" data-ng-style="r.styleProfile" data-ng-repeat="r in row">
                                                        <p>
                                                            {{r.long_description}}
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="career-right">
                                    <div>
                                        <div class="campus">
                                            <div class="title">
                                                <span class="number">02</span>
                                                <span class="text">Campo laboral</span>
                                            </div>
                                            <div class="pl40 mt10">
                                                <ul>
                                                    <li data-ng-repeat="row in models.career.labor_camps">{{row.description}}</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="testimonials">
                                        <div>
                                            <div class="title">
                                                <span class="number">03</span>
                                                <span class="text">Testimonio</span>
                                            </div>
                                            <p class="desc">
                                                {{models.career.testimonial.content}}
                                            </p>
                                            <div class="tright p2020">
                                                <p>
                                                    {{models.career.testimonial.full_name}}
                                                </p>
                                                <p>
                                                    {{models.career.testimonial.position}}
                                                </p>
                                                <p>
                                                    {{models.career.testimonial.company}}
                                                </p>
                                                <p>
                                                    {{models.career.testimonial.location}}
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

						</div>
                        <div class="mb5"></div>
					</div>
				</div>
			</div>

			<div class="fleft left-bar-bottom-item-right">
				<div class="item ml10">
					<div class="item-head">
						<h3>Tu campus</h3>
					</div>
					<div class="item-content scroll-nice" id="scroll-2">
						<div>
							<h3 class="title">Video</h3>
							<div id="video-gallery-2">
								<a href="https://www.youtube.com/watch?v=77NTUDGugGM" style="border:none;display:block;">
									<img src="statics/img/video-2.png" width="100%" />
								</a>
							</div>
						</div>
						<div>
							<h3 class="title">Galería de fotos</h3>
							<div id="lightgallery">
								<a href="public/img/1.jpg" class="gallery-item">
									<img src="public/img/thumbnail/1.jpg" width="100%" />
								</a>
								<a href="public/img/1.jpg" class="gallery-item none">
									<img src="public/img/thumbnail/1.jpg" />
								</a>
								<a href="public/img/1.jpg" class="gallery-item none">
									<img src="public/img/thumbnail/1.jpg" />
								</a>
								<a href="public/img/1.jpg" class="gallery-item none">
									<img src="public/img/thumbnail/1.jpg" />
								</a>
								<a href="public/img/1.jpg" class="gallery-item none">
									<img src="public/img/thumbnail/1.jpg" />
								</a>
								<a href="public/img/1.jpg" class="gallery-item none">
									<img src="public/img/thumbnail/1.jpg" />
								</a>
								<a href="public/img/1.jpg" class="gallery-item none">
									<img src="public/img/thumbnail/1.jpg" />
								</a>
								<a href="public/img/1.jpg" class="gallery-item none">
									<img src="public/img/thumbnail/1.jpg" />
								</a>
								<a href="public/img/1.jpg" class="gallery-item none">
									<img src="public/img/thumbnail/1.jpg" />
								</a>
								<a href="public/img/1.jpg" class="gallery-item none">
									<img src="public/img/thumbnail/1.jpg" />
								</a>
								<a href="public/img/1.jpg" class="gallery-item none">
									<img src="public/img/thumbnail/1.jpg" />
								</a>
								<a href="public/img/1.jpg" class="gallery-item none">
									<img src="public/img/thumbnail/1.jpg" />
								</a>
								<a href="public/img/1.jpg" class="gallery-item none">
									<img src="public/img/thumbnail/1.jpg" />
								</a>
								<a href="public/img/1.jpg" class="gallery-item none">
									<img src="public/img/thumbnail/1.jpg" />
								</a>
							</div>
						</div>
                        <div class="mb10"></div>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>

<div id="right-bar">
	<upc-checklist applicant="applicant"></upc-checklist>
</div>



<script type="text/ng-template" id="templateIframeId">
	<div style="position:relative;width:100%;height:100%;">
		<div data-ng-if="showLoadingIframe" style="position:absolute;z-index:90;background:url(statics/css/lightgallery/img/loading.gif) 50% 50% no-repeat;left:50%;top:50%;width:100px;height:100px;margin-left:-50px;margin-top:-50px;"></div>
		<iframe data-ng-src="{{pdf}}" style="width:100%;height:100%;border:none;display:block;" frameborder="0"></iframe>
	</div>
</script>