
<div class="container-fluid">

	<ui-header></ui-header>

</div>


<div class="trama-1 descripcion-1">
	<div class="col-lg-offset-2 col-md-offset-1 col-sm-offset-1 col-xs-offset-1 col-lg-8 col-md-9 col-sm-11 col-xs-11 p-14">
		<div class="height-150"></div>
		<div class="row text-left pb-28">
			<div class="height-25 hidden-lg"></div>
			<h3 class="title-form text-black aptitud">Acreditación Institucional Internacional WASC</h3>
			<div class="title-borderline mb-35"></div>
			<h4 class="helvetica pb-28 interline text-justify p-14">Somos la primera universidad peruana acreditada institucionalmente por WASC Senior College and University Commission (WSCUC), una de las seis acreditadoras regionales de los Estados Unidos.. Esta acreditación institucional representa una valiosa contribución para el sistema educativo peruano y reafirma el sólido compromiso de la UPC con el desarrollo del país.</h4>
		</div>
		<div class="row">
			<div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
				<h4 class="acreditaciones interline">WSCUC es una de las acreditadoras más prestigiosas a nivel mundial. De acuerdo al Academic Ranking of World Universities 2015 de la Universidad de Shanghái Jiao Tong, 33 de las 50 mejores universidades del mundo son norteamericanas y todas ellas estás acreditadas institucionalmente por una entidad regional. De estas 33, 9 han sido acreditadas por WSCUC, entre ellas Stanford University (#2); UC Berkeley (#4); California Institute of Technology (#7); y University of California Los Angeles, UCLA (#12).</h4>
			</div>
			<div class=" col-lg-offset-1 col-lg-4 col-md-4 col-sm-4 col-xs-12">
				<img src="imagenes/group-20.png">
			</div>
		</div>
	</div>
	<div class="clearfix"></div>
</div>


<div class="pb-25 bg-general" data-ui-night>
	<div class="container">
		<div class="row">
			<div class="bg-blue text-white p-45 m-28">
				<h3 class="text-white acreditaciones">Otras acreditaciones</h3>
				<div class="white-line-bottom"></div>

				<div class="row m-28" data-ng-repeat="row in models.render.acreditaciones">
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 mt-acreditaciones" data-ng-repeat="r in row">
						<img data-ng-src="{{r.imagen}}" class="wd-60 height-60">
						<h4 class="helvetica acreditaciones mt-14">{{r.nombre}}</h4>
						<p class="helvetica acreditaciones mt-14 interline">{{r.descripcion}}</p>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>


<ui-footer></ui-footer>