
<div class="container-fluid">

	<ui-header></ui-header>

	<div class="trama-1 descripcion-1">
	<div class="col-lg-offset-2 col-md-offset-1 col-sm-offset-1 col-xs-offset-1 col-lg-8 col-md-9 col-sm-11 col-xs-11 p-14">
		<div class="height-100"></div>
		<div class="row text-left pb-28 ml-28 mt-28">
			<div class="height-75 hidden-lg"></div>
			<h3 class="title-form text-black aptitud mt-28">Aprendizaje Activo de la UPC</h3>
			<div class="title-borderline mb-35"></div>
			<h4 class="helvetica pb-28 interline pt-14 pr-14 pl-0">En la UPC trabajamos para darte todas las herramientas que necesitas, sabemos que formas parte de un entorno digital y que eres curioso, acostumbrado al intercambio y al acceso a información en tiempo real, y capaz de emprender múltiples tareas en simultáneo. Por eso, incorporamos la tecnología en todos nuestros procesos de aprendizaje, porque sabemos que el mundo de hoy te reta pero también te ofrece nuevos y estimulantes entornos para que desarrolles todo tu potencial.</h4>
		</div>
	</div>
	<div class="clearfix"></div>
</div>

</div>





<section class="pl-28 pr-28 pt-28 pb-50 bg-general" data-ui-night>
	<div class="container">
		<div class="row mt-35 mb-35 hidden-xs">
			<div class="col-lg-7 col-sm-7 col-md-7 p-0">
				<h2 class="pt-28 text-black"><b>Aprendizaje digital</b></h2>
				<div class="title-borderline mb-35"></div>
				<div class="bg-blue p-28 mt-28 zizou-14" style="width: 110%">
					<div class="row ml-28 mr-28 mb-28 mt-14">
						<div class="col-lg-6 col-md-6 col-sm-12 p-28 text-white">
							<img src="./imagenes/apptitud/1x/ico_1.png" alt="" class="wd-60 height-60">
							<p class="pt-7">Todos los profesores del primer ciclo dictan clases haciendo uso del Apple TV y el iPad. Los profesores de ciclos más avanzados que deseen incorporar estas herramientas a sus clases pueden hacerlo</p>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-12 p-28 text-white">
							<img src="./imagenes/apptitud/1x/ico_2.png" alt="" class="wd-60 height-60">
							<p class="pt-7">Los estudiantes de primer ciclo pueden traer su propio iPad a clases o solicitarlo en préstamo en nuestro Centro de Información (sujeto a disponibilidad)</p>
						</div>
					</div>
					<div class="clearfix"></div>
					<div class="row ml-28 mr-28 mb-28 mt-14">
						<div class="col-lg-6 col-md-6 col-sm-12 p-28 text-white">
							<img src="./imagenes/apptitud/1x/ico_3.png" alt="" class="wd-60 height-60">
							<p class="pt-7">Cuentan con material completo de estudios totalmente digital: sílabos, separatas, cuaderno de trabajo, etc.</p>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-12 p-28 text-white">
							<img src="./imagenes/apptitud/1x/ico_4.png" alt="" class="wd-60 height-60">
							<p class="pt-7">Tienen acceso a múltiples servicios académicos y administrativos a través de su dispositivo</p>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="row ml-28 mr-28 mb-28 mt-14">
						<div class="col-lg-6 col-md-6 col-sm-12 p-28 text-white">
							<img src="./imagenes/apptitud/1x/ico_5.png" alt="" class="wd-60 height-60">
							<p class="pt-7">Cuentan con interconexión permanente y de alto performance con compañeros, profesores y con el mundo</p>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-12 p-28 text-white">
							<img src="./imagenes/apptitud/1x/ico_6.png" alt="" class="wd-60 height-60">
							<p class="pt-7">Recuerda que en cualquiera de los casos, si no cuentas con un iPad, puedes continuar utilizando en clase los materiales físicos sin ningún inconveniente</p>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
			<div class="modo">
				<div class="col-lg-5 col-md-5 col-sm-5 bg-grey-apptitud p-42 p-0 ">
					<div class="p-28">
						<h2 class="bold text-black pl-14 mb-14">En qué consiste apptitud</h2>
						<p class="zizou-14 pl-14 mb-21">La educación basada en un entorno digital completo</p>
						<div class="row">
							<ul class="mt-21">
								<p class="zizou-size-14">• 	Plataforma de gestión de contenidos </p>
								<p class="zizou-size-14">• 	Ambientes virtuales y remotos </p>
								<p class="zizou-size-14">• 	Aula virtual</p>
								<p class="zizou-size-14">• 	Uso de las redes sociales y foros dentro y fuera del aula </p>
								<p class="zizou-size-14">• 	Videoconferencias </p>
								<p class="zizou-size-14">• 	Cursos y sesiones online </p>
								<p class="zizou-size-14">• 	Uso de aplicaciones </p>
								<p class="zizou-size-14">• 	Simuladores y prototipos para los cursos de tu carrera</p>
								<p class="zizou-size-14">• 	Acceso a todos los servicios desde tu móvil</p>
								<p class="zizou-size-14">• 	Uso de dispositivos de vanguardia como smartboard, Apple Tv. iPads y mucho más</p>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row hidden-lg hidden-md hidden-sm pb-14 mt-28">
			<div class="modo p-0">
				<div class="bg-grey-logros-movil-blue col-xs-12  p-35 p-0 ">
					<div class="">
						<h2 class="bold text-black pl-14 mb-14">En qué consiste apptitud</h2>
						<p class="zizou-14 pl-14 mb-21">La educación basada en un entorno digital completo</p>
						<div class="row">
							<div class="col-xs-12">
								<ul class="mt-21">
									<p class="zizou-size-14">• 	Plataforma de gestión de contenidos </p>
									<p class="zizou-size-14">• 	Ambientes virtuales y remotos </p>
									<p class="zizou-size-14">• 	Aula virtual</p>
									<p class="zizou-size-14">• 	Uso de las redes sociales y foros dentro y fuera del aula </p>
									<p class="zizou-size-14">• 	Videoconferencias </p>
									<p class="zizou-size-14">• 	Cursos y sesiones online </p>
									<p class="zizou-size-14">• 	Uso de aplicaciones </p>
									<p class="zizou-size-14">• 	Simuladores y prototipos para los cursos de tu carrera</p>
									<p class="zizou-size-14">• 	Acceso a todos los servicios desde tu móvil</p>
									<p class="zizou-size-14">• 	Uso de dispositivos de vanguardia como smartboard, Apple Tv. iPads y mucho más</p>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="">
					<div class="bg-blue p-14  zizou-14 col-xs-12 p-0">
						<h2 class="pt-28 text-white"><b>Aprendizaje digital</b></h2>
						<div class="title-borderline-white mb-35"></div>
						<div class="col-xs-12 col-sm-12 p-14 text-white">
							<div class="row">
								<div class="col-xs-12 p-28 text-white">
									<img src="./imagenes/apptitud/1x/ico_1.png" alt="" class="wd-60 height-60">
									<p class="pt-7 zizou-size-14">Todos los profesores del primer ciclo dictan clases haciendo uso del Apple TV y el iPad. Los profesores de ciclos más avanzados que deseen incorporar estas herramientas a sus clases pueden hacerlo</p>
								</div>
								<div class="col-xs-12 p-28 text-white">
									<img src="./imagenes/apptitud/1x/ico_2.png" alt="" class="wd-60 height-60">
									<p class="pt-7 zizou-size-14">Los estudiantes de primer ciclo pueden traer su propio iPad a clases o solicitarlo en préstamo en nuestro Centro de Información (sujeto a disponibilidad)</p>
								</div>
							</div>
							<div class="clearfix"></div>
							<div class="row">
								<div class="col-xs-12 p-28 text-white">
									<img src="./imagenes/apptitud/1x/ico_3.png" alt="" class="wd-60 height-60">
									<p class="pt-7 zizou-size-14">Cuentan con material completo de estudios totalmente digital: sílabos, separatas, cuaderno de trabajo, etc.</p>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-12 p-28 text-white">
									<img src="./imagenes/apptitud/1x/ico_4.png" alt="" class="wd-60 height-60">
									<p class="pt-7 zizou-size-14">Tienen acceso a múltiples servicios académicos y administrativos a través de su dispositivo</p>
								</div>
								<div class="clearfix"></div>

							</div>
							<div class="row">
								<div class="col-xs-12 p-28 text-white">
									<img src="./imagenes/apptitud/1x/ico_5.png" alt="" class="wd-60 height-60">
									<p class="pt-7 zizou-size-14">Cuentan con interconexión permanente y de alto performance con compañeros, profesores y con el mundo</p>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-12 text-white">
									<img src="./imagenes/apptitud/1x/ico_6.png" alt="" class="wd-60 height-60">
									<p class="pt-7 zizou-size-14">Recuerda que en cualquiera de los casos, si no cuentas con un iPad, puedes continuar utilizando en clase los materiales físicos sin ningún inconveniente</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="bg-white-transparent history p-28 mb-21">
			<h3 class="text-black title-form">¿De dónde venimos?</h3>
			<div class="line-title-large"></div>
			<div class="info-aptitud pt-14" data-ng-repeat="row in models.render.historia">
				<span class="text-red helvetica">{{row.fecha}}:</span> <p class="helvetica">{{row.descripcion}}</p>
			</div>
		</div>
	</div></section>

	<ui-footer></ui-footer>