
<div class="container-fluid">

    <ui-header></ui-header>

    <div class="trama-1 descripcion-1 pb18">
        <div class="col-lg-offset-2 col-md-offset-1 col-sm-offset-1 col-lg-8 col-md-10 col-sm-10 col-xs-12 p-14 ">
            <div class="height-100"></div>
            <div class="row text-left pb-28">
                <div class="height-75 hidden-xs"></div>
                <h4 class="helvetica pb-28 interline p-14">
                    {{models.render.descripcion}}
                </h4>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>

    <section class="container-fluid">
        <div class="container-fluid p-0">
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                    <ui-map class="mapa" data-ui-config="mapConfig" data-ui-render-create="createMap" data-ui-render="renderMap" data-ui-markers="models.render.posicion" style="height:550px;"></ui-map>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 bg-blue-circle hidden-xs hidden-sm" style="height: 550px;">
                    <div class="p-35">
                        <h2 class="col-md-offset-1 col-lg-offset-1 solano pt-14 pb-14 mr-28 text-white">Servicios</h2>
                        <ul class="list-unstyled text-white">
                            <li class="row" data-ng-repeat="row in models.render.servicios">
                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 pt-14  text-right">
                                    <img data-ng-src="{{row.imagen}}" alt="{{row.nombre}}">
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9  text-left pt-14">
                                    <p class="zizou-16">{{row.nombre}}</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 bg-blue hidden-lg hidden-md   ">
                    <div class="ml-14 p-35">
                        <h2 class="solano pt-14 pb-14 text-white">Servicios</h2>
                        <ul class="list-unstyled text-white">
                            <li class="row" data-ng-repeat="row in models.render.servicios">
                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 pt-14  text-right">
                                    <img data-ng-src="{{row.imagen}}" alt="{{row.nombre}}">
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9  text-left pt-14">
                                    <p class="zizou-16">{{row.nombre}}</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pt-35">
        <h2 class="zizou-bold-28 uppercasse pl-14 pt-14">Facultades</h2>
        <div class="title-borderline mb-35 ml-14"></div>
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 text-left" data-ng-repeat="row in models.render.facultades">
            <ul class="list-unstyled helvetica-warrior uppercasse">
                <li>
                    <a href="#/facultad/{{row.uri}}"><p>{{row.nombre}}</p></a>
                </li>
            </ul>
        </div>
    </div>

</div>

<div class="height-200"></div>

<ui-footer></ui-footer>