<div class="container-fluid">
        
        <ui-header></ui-header>

        
            <div class="trama-1 descripcion-1">
                <div class="col-lg-offset-2 col-md-offset-1 col-sm-offset-1 col-xs-offset-1 col-lg-8 col-md-9 col-sm-11 col-xs-11 p-14">
                    <div class="height-75"></div>
                    <div class="row text-left pb-28">
                        <div class="height-75 hidden-xs"></div>
                        <h4 class="helvetica pb-28 interline p-14">
                            {{models.render.descripcion}}
                        </h4>
                        <div class="black-line-bottom pb-28"></div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <h2><b>Si eres</b></h2>
                            <div class="title-borderline mb-35"></div>
                            <div class="row pb-28" data-ng-repeat="row in models.render.perfil">
                                <div class="col-lg-2">
                                    <img data-ng-src="{{row.imagen}}" alt="row.nombre">
                                </div>
                                <div class="col-lg-10 pt-7">
                                    <h4>{{row.nombre}}</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 hidden-sm hidden-xs text-center p-28">
                            <img src="./imagenes/group-20.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>

            <div class="container">
                <div class="row mt-35 mb-35 hidden-md hidden-sm hidden-xs">
                    <div class="col-lg-offset-1 col-lg-5 p-0">
                        <h2 class="pt-28"><b>Beneficios</b></h2>
                        <div class="title-borderline mb-35"></div>
                        <div class="bg-red p-28 mt-28  zizou-14">

                            <div class="row">                           
                                <div class="col-lg-6 p-28 text-center text-white" data-ng-repeat="row in models.render.beneficios">
                                    <img data-ng-src="{{row.imagen}}" alt="{{row.nombre}}">
                                    <p class="pt-7">{{row.nombre}}</p>                              
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <div class="modo">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-md-12 bg-grey-logros p-42 p-0 ">
                            <div class="p-28">
                                <div class="row">
                                    <h3 class="bold pl-14">Modo de estudios</h3>
                                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 text-center" data-ng-repeat="row in models.render.modo">
                                        <img data-ng-src="{{row.imagen}}" alt="{{row.nombre}}">
                                        <p class="helvetica">{{row.nombre}}</p>
                                    </div>
                                </div>
                                <div class="row black-solid-line">
                                    <div class="p-28">
                                        <p class="uppercase zizou-14" data-ng-repeat="row in models.render.informacion"><b>{{row.nombre}}</b><span>:{{row.valor}}</span></p>
                                    </div>
                                </div>
                                <div class="row pt-14">
                                    
                                    <h3 class="bold pl-14 pb-14">Consultas</h3>
                                    <div class="pl-14">
                                        <p class="zizou-14" data-ng-repeat="row in models.render.consultas">{{row.nombre}}<br><a class="text-blue" href="">{{row.valor}}</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row hidden-lg hidden-sm hidden-xs pb-14">
                    <div class="col-md-5 p-0">
                        
                        <div class="bg-red p-14 mt-28  zizou-14">
                            <div class="row">
                                <div class="col-md-6 p-14 text-center text-white" data-ng-repeat="row in models.render.beneficios">
                                    <img data-ng-src="{{row.imagen}}" alt="{{row.nombre}}">
                                    <p class="pt-7">{{row.nombre}}</p>                              
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <div class="modo">
                        <div class="col-sm-6  bg-grey-logros p-35 p-0 ">
                            <div class="p-28">
                                <div class="row">
                                    <h3 class="bold pl-14">Modo de estudios</h3>
                                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 text-center" data-ng-repeat="row in models.render.modo">
                                        <img data-ng-src="{{row.imagen}}" alt="{{row.nombre}}">
                                        <p class="helvetica">{{row.nombre}}</p>
                                    </div>                              
                                </div>
                                <div class="row black-solid-line">
                                    <div class="p-28">
                                        <p class="uppercase zizou-14" data-ng-repeat="row in models.render.informacion"><b>{{row.nombre}}</b><span>:{{row.valor}}</span></p>
                                    </div>
                                </div>
                                <div class="row pt-14">
                                    
                                    <h3 class="bold pl-14 pb-14">Consultas</h3>
                                    <div class="pl-14">
                                        <p class="zizou-14" data-ng-repeat="row in models.render.consultas">{{row.nombre}}<br><a class="text-blue" href="">{{row.valor}}</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row hidden-lg hidden-md hidden-xs pb-14 mt-28">
                    <div class="modo p-0">
                        <div class="col-sm-12  bg-grey-logros-ipad p-35 p-0 ">
                            <div class="p-28">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <h3 class="bold pl-14">Modo de estudios</h3>
                                        
                                        <div class="black-line-bottom pb-14">
                                            <div class="col-sm-6 text-center" data-ng-repeat="row in models.render.modo">
                                                <img data-ng-src="{{row.imagen}}" alt="{{row.nombre}}">
                                                <p class="helvetica">{{row.nombre}}</p>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="p-28">
                                            <p class="uppercase zizou-14" data-ng-repeat="row in models.render.informacion"><b>{{row.nombre}}</b><span>:{{row.valor}}</span></p>
                                        </div>
                                    </div>
                                    <div class="col-sm-offset-1 col-sm-5 border-left-points">
                                        <div class="row">
                                            <h3 class="bold pl-28">Consultas</h3>
                                            <div class="p-28">
                                                <p class="zizou-14" data-ng-repeat="row in models.render.consultas">{{row.nombre}}<br><a class="text-blue" href="">{{row.valor}}</a></p>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>

                                </div>
                                
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-offset-1 col-sm-10 p-0">
                        
                        <div class="bg-red p-14  zizou-14">
                            <h2 class="pt-28 text-white"><b>Beneficios</b></h2>
                            <div class="title-borderline-white mb-35"></div>
                            <div class="row">
                                <div class="col-sm-6 p-14 text-center text-white" data-ng-repeat="row in models.render.beneficios">
                                    <img data-ng-src="{{row.imagen}}" alt="{{row.nombre}}">
                                    <p class="pt-7">{{row.nombre}}</p>                              
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <div class="row hidden-lg hidden-md hidden-sm pb-14 mt-28">
                    <div class="modo p-0">
                        <div class="bg-grey-logros-movil col-xs-12   p-35 p-0 ">
                            <div class="">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <h3 class="bold pl-14">Modo de estudios</h3>
                                        
                                        <div class="black-line-bottom pb-14">
                                            <div class="col-sm-6 col-xs-6 text-center" data-ng-repeat="row in models.render.modo">
                                                <img data-ng-src="{{row.imagen}}" alt="{{row.nombre}}">
                                                <p class="helvetica">{{row.nombre}}</p>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="p-28">
                                            <p class="uppercase zizou-14" data-ng-repeat="row in models.render.informacion"><b>{{row.nombre}}</b><span>:{{row.valor}}</span></p>
                                        </div>
                                    </div>
                                    <div class="col-xs-offset-1 col-xs-5">
                                        <div class="row">
                                            <h3 class="bold pl-28">Consultas</h3>
                                            <div class="p-28">
                                                <p class="zizou-14" data-ng-repeat="row in models.render.consultas">{{row.nombre}}<br><a class="text-blue" href="">{{row.valor}}</a></p>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 p-0">
                        <div class="bg-red p-14  zizou-14">
                            <h2 class="pt-28 text-white"><b>Beneficios</b></h2>
                            <div class="title-borderline-white mb-35"></div>

                            <div class="row">
                                
                                <div class="col-xs-6 p-14 text-center text-white" data-ng-repeat="row in models.render.beneficios">
                                    <img data-ng-src="{{row.imagen}}" alt="{{row.nombre}}">
                                    <p class="pt-7">{{row.nombre}}</p>
                                    
                                </div>

                            </div>

                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>

            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
    
                        <ui-map class="mapa" data-ui-config="mapConfig" data-ui-render-create="createMap" data-ui-render="renderMap" data-ui-markers="models.render.sedes" data-ui-address="models.address" data-ui-render-address="renderAddress" style="height:550px;"></ui-map>

                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 bg-blue-circle hidden-xs hidden-sm p-0">
                        <div class="p-35">
                            <div class="">
                                <div class="row">
                                    
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <h2 class="solano text-white p-28">Campus donde puedes cursar</h2>
                                    </div>
                                </div>
                                <div class="row pt-14" data-ng-repeat="row in models.render.sedes" data-ng-class="{'pb-14':$index===models.render.sedes.length-1}">
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3  text-right">
                                        <img src="./imagenes/logo-sedes.png" alt="">
                                    </div>
                                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                        <p class="text-white zizou-16">
                                            {{row.nombre}}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="trama-fondo-blue">
                            <h2 class="solano text-white p-14 pl-14">Calcular campus más cercano</h2>
                            <div class="row">
                                <div class="p-35">
                                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 ">
                                        <img src="./imagenes/home-white.png" alt="" style="width:30px;height: 27px;">
                                    </div>
                                    <div class="col-lg-10 text-white">
                                        <input type="text" placeholder="Dirección de tu casa" style="font-size: 16px; color: #fff !important; padding: 0 1%;" data-ng-model="models.address">
                                    </div>
                                </div>
                                <div class="col-xs-12 p-0 text-right m-21 pl-14">
                                    <button type="button" class="btn btn-custom black-btn wide full-width lg p-0 mt-0" data-ng-click="onClick.searchAddress()">Calcular</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 bg-blue hidden-lg hidden-md p-0">
                <div class="p-35">
                    <div class="">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <h2 class="solano text-white">Campus donde puedes cursar</h2>
                            </div>
                        </div>
                        <div class="row pt-14 ml-14" data-ng-repeat="row in models.render.sedes" data-ng-class="{'pb-14':$index===models.render.sedes.length-1}">
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 campus-move text-right">
                                <img src="./imagenes/logo-sedes.png" alt="">
                            </div>
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                <p class="text-white zizou-16">
                                    {{row.nombre}}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="trama-fondo-blue">
                    <h2 class="solano text-white pb-14">Como llegar desde tu casa</h2>
                    <div class="row">
                        <div class="">
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 ">
                                <img src="./imagenes/home-white.png" alt="" style="width:30px;height: 27px;">
                            </div>
                            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 text-white">
                                <input type="text" placeholder="Dirección de tu casa" style="font-size: 16px; color: #fff !important; padding: 0 1%;" data-ng-model="models.address">
                            </div>
                        </div>
                        <div class="col-xs-12 p-0 text-right m-7">
                            <button type="button" class="btn btn-custom black-btn wide full-width lg p-0 mt-0" data-ng-click="onClick.searchAddress()">Calcular</button>
                        </div>
                    </div>
                </div>
            </div>


    </div>

    <section class="container">
        <div class="mt-35 mb-35">
            <div class="bg-black-transparent p-28">
                <h2 class="text-white">
                    Casos de éxito
                </h2>
                <div class="white-line-bottom mb-28"></div>
                
                    <div class="hidden-sx hidden-sm" style="position:relative;">
					<div data-ui-slider data-ui-render="renderSliderVideos" data-ui-prev="prevSliderDesktop" data-ui-next="nextSliderDesktop">
						<div class="row" data-ng-repeat="row in models.render.casos.videosDesktop">
							<div class="col-lg-4 col-md-4"  data-ng-repeat="r in row">
								<caso-exito-video data-ui-url="r.url" data-ui-thumbnail="r.thumbnail"></caso-exito-video>
							</div>
						</div>					
					</div>
					<a href="" class="facultades-item-prev facultades-item-desktop-prev" data-ng-click="prevSliderDesktop=true;"></a>
					<a href="" class="facultades-item-next facultades-item-desktop-next" data-ng-click="nextSliderDesktop=true;"></a>
				</div>
				
				<div class="hidden-md hidden-lg" style="position:relative;">
					<div data-ui-slider data-ui-render="renderSliderVideosMobile" data-ui-prev="prevSliderMobile" data-ui-next="nextSliderMobile">
						<div class="row pb-14" data-ng-repeat="row in models.render.casos.videos">
							<div class="col-xs-12 col-sm-12">
								<caso-exito-video data-ui-url="row.url" data-ui-thumbnail="row.thumbnail"></caso-exito-video>
							</div>
						</div>
					</div>
					<a href="" class="facultades-item-prev facultades-item-desktop-prev" data-ng-click="prevSliderMobile=true;"></a>
					<a href="" class="facultades-item-next facultades-item-desktop-next" data-ng-click="nextSliderMobile=true;"></a>
				</div>

            </div>
        </div>
        <div class="mt-35 mb-35">
            <div class="bg-black-transparent p-28">
                <h2 class="text-white">
                    Casos de éxito
                </h2>
                <div class="white-line-bottom mb-28"></div>

                <div class="hidden-sx hidden-sm" style="position:relative;">
					<div data-ui-slider data-ui-render="renderSliderImages" data-ui-prev="prevSliderImagesDesktop" data-ui-next="nextSliderImagesDesktop">
						<div class="row" data-ng-repeat="row in models.render.casos.imagesDesktop">
							<div class="col-lg-4 col-md-4"  data-ng-repeat="r in row">
								<caso-exito-video data-ui-url="r.url" data-ui-thumbnail="r.thumbnail"></caso-exito-video>
							</div>
						</div>					
					</div>
					<a href="" class="facultades-item-prev facultades-item-desktop-prev" data-ng-click="prevSliderImagesDesktop=true;"></a>
					<a href="" class="facultades-item-next facultades-item-desktop-next" data-ng-click="nextSliderImagesDesktop=true;"></a>
				</div>
				
				<div class="hidden-md hidden-lg" style="position:relative;">
					<div data-ui-slider data-ui-render="renderSliderImagesMobile" data-ui-prev="prevSliderImagesMobile" data-ui-next="nextSliderImagesMobile">
						<div class="row pb-14" data-ng-repeat="row in models.render.casos.imagenes">
							<div class="col-xs-12 col-sm-12">
								<caso-exito-video data-ui-url="row.url" data-ui-thumbnail="row.thumbnail"></caso-exito-video>
							</div>
						</div>
					</div>
					<a href="" class="facultades-item-prev facultades-item-desktop-prev" data-ng-click="prevSliderImagesMobile=true;"></a>
					<a href="" class="facultades-item-next facultades-item-desktop-next" data-ng-click="nextSliderImagesMobile=true;"></a>
				</div>


            </div>
        </div>
    </section>

    <ui-footer></ui-footer>