<div class="container-fluid">

	<ui-header></ui-header>

</div>


<div class="trama-1 descripcion-1">
			<div class="col-lg-offset-2 col-md-offset-1 col-sm-offset-1 col-xs-offset-1 col-lg-8 col-md-9 col-sm-11 col-xs-11 p-14">
				<div class="height-100"></div>
				<div class="row text-left pb-28 pl-28">
					<div class="height-25 hidden-lg"></div>
					<h3 class="title-form text-black aptitud">Selecciones deportivas upc</h3>
					<div class="title-borderline mb-35"></div>
					<h4 class="helvetica pb-28 interline pt-14 pr-14 pl-0">En la UPC promovemos el deporte como complemento de la formación profesional de nuestros alumnos y nos interesa que cumplan tanto sus metas deportivas como académicas. Para ello, hemos desarrollado un plan completo de beneficios que les permita combinar su vida universitaria con sus entrenamientos y competencias.</h4>
				</div>
				<div class="row">
					<div class="col-lg-6 col-md-7 col-sm-7 col-xs-12">
						<h4 class="acreditaciones interline pt-28 pl-28">SI eres un <span class="red">DEPORTISTA CLASIFICADO</span>, regístrate en UPC Deportes. Al registrarte, al igual que los Seleccionados de Alto Rendimiento, y has obtenido una nota igual o mayor a 14 en el ciclo vigente obtendrás beneficios académicos y económicos para el ciclo académico posterior.</h4>
					</div>
					<div class=" col-lg-offset-1 col-lg-4 col-md-4 col-sm-4 col-xs-12 text-center">
						<img style="width: 200px;" src="./imagenes/deportes/ico1.png">
					</div>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>



<section class="bg-general p-28" data-ui-night>
		<div class="container">
			<div class="row mt-35 mb-35 hidden-xs">
				<div class="col-lg-7 col-sm-7 col-md-7 p-0">
					<h2 class="pt-28 text-black"><b>Beneficios durante el ciclo</b></h2>
					<div class="title-borderline mb-35"></div>
					<div class="bg-blue text-white academicos p-28 mt-28" style="width: 110%;">
						<h4 class="helvetica pb-14"><b>Académicos</b></h4>
						<ul>
							<li>+10% de faltas Justificadas</li>
							<li> Recuperación de todas las notas justificadas</li>
							<li>1 crédito extraacadémico</li>
						</ul>
						<div class="height-50"></div>
						<h4 class="helvetica pb-14"><b>De representación</b></h4>
						<ul>
							<li>Uniformes y accesorios</li>
							<li>Movilidad e hidratación en todas las competencias</li>
						</ul>
					</div>
				</div>
				<div class="modo">
					<div class="col-lg-5 col-md-5 col-sm-5 bg-grey-apptitud p-42 p-0 ">
						<div class="p-28 ">
							<h2 class="xl text-black pl-14 mb-14">Nuestras <br>selecciones</h2>
							<div class="row selecciones">
								<ul class="mt-21">
									<li>Ajedrez</li>
									<li>Atletismo</li>
									<li>Básquet Damas</li>
									<li>Futsal Damas</li>
									<li>Futsal Varones</li>
									<li>Karate</li>
									<li>Kung Fu</li>
									<li>Rugby Varones</li>
									<li>Taekwondo</li>
									<li>Vóley Damas</li>
									<li>Tenis de Mesa</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row hidden-lg hidden-md hidden-sm pb-14 mt-28">
				<div class="modo p-0">
					<div class="bg-grey-logros-movil-blue col-xs-12  p-35 p-0 ">
						<div>
							<h2 class="xl text-black pl-14 mb-14">Nuestras <br>selecciones</h2>
							<div class="row selecciones">
								<ul class="mt-21">
									<li>Ajedrez</li>
									<li>Atletismo</li>
									<li>Básquet Damas</li>
									<li>Futsal Damas</li>
									<li>Futsal Varones</li>
									<li>Karate</li>
									<li>Kung Fu</li>
									<li>Rugby Varones</li>
									<li>Taekwondo</li>
									<li>Vóley Damas</li>
									<li>Tenis de Mesa</li>
								</ul>
							</div>
						</div>
					</div>
					<div>
						<div class="bg-blue p-14  col-xs-12 p-0">
							<h2 class="pt-28 text-white"><b>Beneficios durante el ciclo</b></h2>
							<div class="text-white academicos p-28 mt-14">
								<h4 class="helvetica pb-14"><b>Académicos</b></h4>
								<ul>
									<li>+10% de faltas Justificadas</li>
									<li> Recuperación de todas las notas justificadas</li>
									<li>1 crédito extraacadémico</li>
								</ul>
								<div class="height-50"></div>
								<h4 class="helvetica pb-14"><b>De representación</b></h4>
								<ul>
									<li>Uniformes y accesorios</li>
									<li>Movilidad e hidratación en todas las competencias</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<h2 class="pt-28 text-black"><b>Beneficios ciclo inmediato posterior</b></h2>
				<div class="title-borderline mb-35"></div>
				<div class="bg-blue pt-14 pl-28">
					<div class="text-white academicos p-28 mt-14">
						<h4 class="helvetica pb-14"><b>Académicos</b></h4>
						<ul>
							<li>Matricula Preferencial</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="p-14">
					<h2 class="pt-28 text-black"><b>Espacios deportivos</b></h2>
					<div class="title-borderline"></div>
				</div>
				<div class="bg-red pb-14 ">
					<div class="helvetica p-28 text-white interline">
					<h4>Losas multideportivas, losas para Futsal, Básquet, Vóley y Tenis de Campo, cancha de fútbol FIFA, cancha de grass sintético con medidas oficiales FIFA, pista de velocidad, pista de 1.10 metros. para pruebas de velocidad y velocidad con vallas, piscina semiolímpica con 8 carriles, 25 metros de largo, 1.50 metros de profundidad y apoyo permanente de un salvavidas, gimnasios, máquinas cardiovasculares y de musculación, y apoyo permanente de un Entrenador especializado.</h4></div>
				</div>
			</div>
		</div>
		<div class="height-200"></div>
	</section>


<ui-footer></ui-footer>