
<div class="container-fluid">

    <ui-header></ui-header>

    <div class="trama-1 descripcion-1 pb18">
        <div class="col-lg-offset-2 col-md-offset-1 col-sm-offset-1 col-lg-8 col-md-10 col-sm-10 col-xs-12 p-14 ">
            <div class="height-100"></div>
            <div class="row text-left pb-28">
                <div class="height-75 hidden-xs"></div>
                <h4 class="helvetica pb-28 interline p-14">
                    {{models.render.descripcion}}
                </h4>
                <div class="black-line-bottom pb-28"></div>
            </div>
            <div class="height-25"></div>

            <div class="row pl-28 mb-28">
                <h2 class="text-black zizou-bold"> Las carreras</h2>
                <div class="title-borderline mb-35"></div>                
            </div>

            <div class="row pl-28 mb-28">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 pt-14 pl-0 helvetica" data-ng-repeat="row in models.render.carreras">
                    <img data-ng-src="{{row.imagen}}" alt="{{row.nombre}}">
                    <h4 class="pt-14 pb-14 boldie">{{row.nombre}}</h4>
                    <div class="red-line-bottom mb-14"></div>
                    <h5 class="interline pb-14">{{row.descripcion}}</h5>
                    <a href="#/carrera/{{row.uri}}"><p class="zizou-14 red ">Conocer más  <img src="./imagenes/facultad/1X/flecha-roja-1.png" alt="Conocer más"></p>
                    </a>
                </div>
            </div>

        </div>
        <div class="clearfix"></div>
    </div>

</div>

<section class="container">
    <div class="mt-35 mb-35">
        <div class="bg-black-transparent p-28">
            <h2 class="text-white">
                Casos de éxito
            </h2>
            <div class="white-line-bottom mb-28"></div>
            
            <div class="hidden-sx hidden-sm" style="position:relative;">
					<div data-ui-slider data-ui-render="renderSliderVideos" data-ui-prev="prevSliderDesktop" data-ui-next="nextSliderDesktop">
						<div class="row" data-ng-repeat="row in models.render.casos.videosDesktop">
							<div class="col-lg-4 col-md-4"  data-ng-repeat="r in row">
								<caso-exito-video data-ui-url="r.url" data-ui-thumbnail="r.thumbnail"></caso-exito-video>
							</div>
						</div>					
					</div>
					<a href="" class="facultades-item-prev facultades-item-desktop-prev" data-ng-click="prevSliderDesktop=true;"></a>
					<a href="" class="facultades-item-next facultades-item-desktop-next" data-ng-click="nextSliderDesktop=true;"></a>
				</div>
				
				<div class="hidden-md hidden-lg" style="position:relative;">
					<div data-ui-slider data-ui-render="renderSliderVideosMobile" data-ui-prev="prevSliderMobile" data-ui-next="nextSliderMobile">
						<div class="row pb-14" data-ng-repeat="row in models.render.casos.videos">
							<div class="col-xs-12 col-sm-12">
								<caso-exito-video data-ui-url="row.url" data-ui-thumbnail="row.thumbnail"></caso-exito-video>
							</div>
						</div>
					</div>
					<a href="" class="facultades-item-prev facultades-item-desktop-prev" data-ng-click="prevSliderMobile=true;"></a>
					<a href="" class="facultades-item-next facultades-item-desktop-next" data-ng-click="nextSliderMobile=true;"></a>
				</div>

        </div>
    </div>
    <div class="mt-35 mb-35">
        <div class="bg-black-transparent p-28">
            <h2 class="text-white">
                Casos de éxito
            </h2>
            <div class="white-line-bottom mb-28"></div>
            
<div class="hidden-sx hidden-sm" style="position:relative;">
					<div data-ui-slider data-ui-render="renderSliderImages" data-ui-prev="prevSliderImagesDesktop" data-ui-next="nextSliderImagesDesktop">
						<div class="row" data-ng-repeat="row in models.render.casos.imagesDesktop">
							<div class="col-lg-4 col-md-4"  data-ng-repeat="r in row">
								<caso-exito-video data-ui-url="r.url" data-ui-thumbnail="r.thumbnail"></caso-exito-video>
							</div>
						</div>					
					</div>
					<a href="" class="facultades-item-prev facultades-item-desktop-prev" data-ng-click="prevSliderImagesDesktop=true;"></a>
					<a href="" class="facultades-item-next facultades-item-desktop-next" data-ng-click="nextSliderImagesDesktop=true;"></a>
				</div>
				
				<div class="hidden-md hidden-lg" style="position:relative;">
					<div data-ui-slider data-ui-render="renderSliderImagesMobile" data-ui-prev="prevSliderImagesMobile" data-ui-next="nextSliderImagesMobile">
						<div class="row pb-14" data-ng-repeat="row in models.render.casos.imagenes">
							<div class="col-xs-12 col-sm-12">
								<caso-exito-video data-ui-url="row.url" data-ui-thumbnail="row.thumbnail"></caso-exito-video>
							</div>
						</div>
					</div>
					<a href="" class="facultades-item-prev facultades-item-desktop-prev" data-ng-click="prevSliderImagesMobile=true;"></a>
					<a href="" class="facultades-item-next facultades-item-desktop-next" data-ng-click="nextSliderImagesMobile=true;"></a>
				</div>

        </div>
    </div>
</section>

<ui-footer></ui-footer>