<header>
	<div class="container-fluid">
		<div class="row">
			<div class="img-header container-fluid">
				<div class="wrapper"><img class="pull-right pb-28" src="./imagenes/logo-white.png" alt="">
					<div class="clearfix"></div>
					<div class="height-50"></div>
					<h1 class="titulo">Vive la mejor<br>experiencia de<br>educación en la UPC </h1>
					<div class="clearfix"></div>
				</div>
				<div class="clearfix"></div>
				<div class="row p-0">
					<a href="#">
						<div class=" col-sm-2 col-xs-5 bg-red financiamiento hidden-lg hidden-md  p-7 pl-14">
							<span class=" text-white helvetica-14 pl-7 text-center">Entérate más sobre</span>
							<img class="w-100 pl-7" src="./imagenes/banner-home1.gif" alt="">
						</div>
					</a>
					<div class="redes-mobile hidden-lg hidden-md">
						<a href="" data-ng-click="onClick.registerFacebook()"><img class="pr-7" src="./imagenes/ico-face.png" alt=""></a>
						<a href="#/login"><img src="./imagenes/ico-mail.png" alt=""></a>
						<a href="#/registro"><img src="./imagenes/ico-mail.png" alt=""></a>
					</div>
					<div class="dias-admision">
						<div class="col-xs-12 bg-black hidden-lg hidden-md p-0">
							<div class="col-xs-5 bg-grey  text-black p-0">
								<h1 class="col-xs-offset-1 col-sm-offset-1 col-xs-1 col-sm-1 solano-bold-24 pr-7 pt-14 pb-7" style="padding-left: 6px;" data-ui-counter></h1>
								<p class="col-xs-9 col-sm-9 pt-14 helvetica-14 text-center uppercase text-dias-admision">Días para el cierre de Admisión</p>
							</div>
							<a href="#/registro">
								<div class="col-xs-7">
									<h1 class="solano  text-white text-center">postula upc</h1>
								</div>
							</a>
						</div>
						<div class="col-lg-5 col-md-5 hidden-sm hidden-xs fecha text-white p-0">
							<div class="row">
								<div class="col-lg-4 col-md-6 dias  bg-red" style="height: 73px;">
									<h1 class="solano-bold-24 pl-14 pt-7" data-ui-counter></h1>
									<p class=" helvetica pl-14 pr-7 uppercase">Días para el cierre <br class="hidden-md">de Admisión</p>
								</div>
								<a href="#/registro">
									<div class="col-lg-5  col-md-6 pt-5 bg-white-transparent">
										<h1 class="solano  text-black pt-14 pb-14">postula upc</h1>
									</div>
								</a>
							</div>
						</div>
					</div>
					<div class="necesita" style="/* margin-top: 0%; *">
						<div class="col-lg-3 col-md-3 hidden-sm hidden-xs saber bg-red pull-right caja text-white p-0">
							<h2 class=" text-center zizou-bold-26 pt-5">
								¿Quieres saber sobre?
							</h2>
							<img class="pl-14" src="./imagenes/banner-home1.gif" alt="">
							<!--<div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 bg-grey p-0 pt-5 pb-5">
								--<span class="col-lg-5 col-md-4 zizou-bold-16 text-left text-black  p-7">Registrate:</span>--
								<a href="#/login">
									<div class="col-lg-2 col-md-3 col-sm-12 col-xs-12 pt-5">
										<div class="text-center">
											<img src="./imagenes/ico-mail.png" alt="">
										</div>
									</div>
								</a>
								<a href="#/registro">
									<div class="col-lg-2 col-md-2 col-sm-3 col-xs-3 pt-5">
										<div class="text-center">
											<img src="./imagenes/ico-mail.png" alt="">
										</div>
									</div>
								</a>
								<a href="" data-ng-click="onClick.registerFacebook()">
									<div class="col-lg-2 col-md-2 col-sm-3 col-xs-3 pt-5">
										<div class="text-center">
											<img src="./imagenes/ico-face.png" alt="">
										</div>
									</div>
								</a>
								--<a href="#">
									<div class="col-lg-2 col-md-2 col-sm-3 col-xs-3">
										<div class="user p-7 hidden ">
											<img src="./imagenes/user.png" alt="">
										</div>
									</div>
								</a>-->
								<div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 bg-grey p-0">

										<a href="#">
											<div class="col-lg-5 col-md-3 col-sm-12 col-xs-12 p-0">
												<div class="text-center pt-7">
													<a href="#/registro"><img src="./imagenes/registro.png" alt=""><span class="solano-bold-12 pt-7">Registrate</span></a>
												</div>
											</div>
										</a>
										<a href="#">
											<div class="col-lg-5 col-md-2 col-sm-3 col-xs-3 p-0">
												<div class="text-center mt-7">
													<a href="#/login"><img src="./imagenes/iniciar-sesion.png" alt=""><span class="solano-bold-12 pt-7">Iniciar sesión</span></a>
												</div>
											</div>
										</a>
										<a href="#">
											<div class="col-lg-2 bg-blue col-md-2 col-sm-3 col-xs-3 p-2">
												<div class="text-center ">
													<a href="" data-ng-click="onClick.registerFacebook()"><img class="p-5" src="./imagenes/facebook.png" alt=""><span class="solano-bold-12"></span></a>
												</div>
											</div>
										</a>
										<a href="#">
											<div class="col-lg-2 col-md-2 col-sm-3 col-xs-3">
												<div class="user p-7 hidden ">
													<img src="./imagenes/user.png" alt="">
												</div>
											</div>
										</a>
									</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--<div class="button-down text-center">
				<a href="" id="scrollTo"><img class="hidden-md hidden-lg img-circle button-down" src="./imagenes/boton-abajo.png" alt=""></a>
			</div>-->
		</div>
	</div>
			<!--<div class="dias-admision mt-14">
				<div class="col-xs-12 bg-black hidden-lg hidden-md p-0">
					<div class="col-xs-4 bg-grey">
						<h1 class="col-xs-offset-1 col-sm-offset-1 col-xs-1 col-sm-1 solano-bold-24 p-7">49</h1>
						<p class="col-xs-9 col-sm-9 helvetica pt-7 text-center uppercase">Días para el cierre de Admisión</p>
					</div>
					<div class="col-xs-7">
						<h1 class="solano  text-white">postula upc</h1>
					</div>
				</div>
				<div class="col-lg-4 col-md-5 hidden-sm hidden-xs fecha text-white p-0">
					<div class="row">
						<div class="col-lg-5 col-md-6 dias  bg-red" style="height: 73px;">
							<h1 class="solano-bold-24 p-7">49</h1>
							<p class=" helvetica pl-7 pr-7 uppercase">Días para el cierre de Admisión</p>
						</div>
						<div class="col-lg-6  col-md-6 pt-5 bg-white-transparent">
							<h1 class="solano  text-black pt-14 pb-14">postula upc</h1>
						</div>
					</div>
				</div>
			</div>-->
		</header>

		<div class="height-25 hidden-xs"></div>
		<div class="height-25 hidden-lg hidden-md"></div>


		<section class="pt-28 pb-28 bg-general" data-ui-night>
			<div class="container">
				<div class="row">
					<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 mb-14" data-toggle="collapse" data-target="#demo1">
						<div>
							<a href="" data-ui-icon-button="no" data-ui-render="slideFacultadesDesktopRender" data-ui-open="slideFacultadesDesktopIsOpen">
								<div class="carreras p-42 mb-14 ">
									<h2 class="uppercasse solano text-white"> {{models.facultades.length}} facultades con 42 carreras</h2>
									<div class="clearfix"></div>
									<p class=" zizou-16 text-white">Hay una diseñada especialmente para ti</p>
								</div>
							</a>
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
								<a href="" data-ui-icon-button data-ui-render="slideFacultadesDesktopRender" data-ui-open="slideFacultadesDesktopIsOpen"></a>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 hidden-lg hidden-md  hidden-xs mb-14">
						<div id="campus">
							<a  href="" data-ui-icon-button="no" data-ui-render="slideCampusDesktopRender" data-ui-open="slideCampusDesktopIsOpen">
							<div class="campus p-42 mb-14">
								<h2 class="uppercasse solano text-white pb-28"> {{models.campus.length}} campus full equipados</h2>
								<div class="clearfix"></div>
								<p class="zizou-16 text-white">Ubica el más cercano a tu casa </p>
							</div>
						</a>
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
								<a href="" data-ui-icon-button data-ui-render="slideCampusDesktopRender" data-ui-open="slideCampusDesktopIsOpen"></a>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 hidden-sm hidden-xs mb-14">
						<div id="campus" href="#">
							<a href="" data-ui-icon-button="no" data-ui-render="slideCampusDesktopRender" data-ui-open="slideCampusDesktopIsOpen">
							<div class="campus p-42 mb-14">
								<h2 class="uppercasse solano text-white pb-28"> {{models.campus.length}} campus full equipados </h2>
								<div class="clearfix"></div>
								<p class="zizou-16 text-white">Ubica el más cercano a tu casa</p>
							</div>
							</a>
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
								<a href="" data-ui-icon-button data-ui-render="slideCampusDesktopRender" data-ui-open="slideCampusDesktopIsOpen"></a>
							</div>
						</div>
					</div>

					<!--
					<div class="container hidden-lg hidden-md">
						<div class="row  text-center">
							<div class=" col-xs-6">
								<a href="#/facultad/key">
									<img class="img-100px" src="./imagenes/circular-economia.png" alt="">
									<p class="solano-bold-14">Facultd de<br> Ciencias de la Salud</p>
								</a>
							</div>
							<div class=" col-xs-6">
								<a href="#/facultad/key">
									<img class="img-100px" src="./imagenes/circular-diseno.png" alt="">
									<p class="solano-bold-14">Facultad de<br>  ciencias humanas</p>
								</a>
							</div>
						</div>
						<a href="#"><img class="" src="./imagenes/globales/1x/roja-1.png" alt=""></a>
						<a href="#"><img class="pull-right" src="./imagenes/globales/1x/negra-1.png" alt=""></a>
						<div class="row text-center">
							<div class=" col-xs-6">
								<a href="facultad-comunicaciones.html">
									<img class="img-100px" src="./imagenes/circular-economia.png" alt="">
									<p class="solano-bold-14">Facultad de<br>  Comunicaciones</p>
								</a>
							</div>
							<div class=" col-xs-6">
								<a href="facultad-diseño.html">
									<img class="img-100px" src="./imagenes/circular-ingenieria.png" alt="">
									<p class="solano-bold-14">Facultad de<br>  Diseño</p>
								</a>
							</div>
						</div>
					</div>-->
					<ui-facultades-mobile data-ui-render="slideFacultadesDesktopRender" data-ui-items="models.facultades" data-ui-open="slideFacultadesDesktopIsOpen"></ui-facultades-mobile>

					<!--campus tablet
					<div class="container hidden-lg hidden-md" id="view-slider-campus-container-tablet">
						<div class="row">
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
								<div class="bg-grey p-7">
									<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
										<h4 class="pb-14 zizou-bold pt-14">Facultades</h4>
										<a href="campus-foto.html">
											<div class="p-0 col-sm-6 col-xs-6 t-14">
												<img src="./imagenes/mo.png" class="img-campus img-100px" alt="">
												<h3 class="pb-7 pt-14 solano-bold-22">Monterricxo</h3>
											</div>
										</a>
										<a href="#">
											<div class="p-0 col-sm-5 col-xs-5">
												<img src="./imagenes/mo.png" class="img-campus img-100px" alt="">
												<h3 class="pb-7 pt-14 solano-bold-22">Villa</h3>
											</div>
										</a>
										<a href="#">
											<div class="p-0 col-sm-1 col-xs-1 ">
												<img class="pt-28" src="./imagenes/globales/1x/negra-1.png" alt="">
											</div>
										</a>
									</div>
									<div class="clearfix"></div>
								</div>
							</div>
						</div>
					</div>-->

					<ui-campus-mobile-one data-ui-render="slideCampusDesktopRender" data-ui-items="models.campus" data-ui-open="slideCampusDesktopIsOpen"></ui-campus-mobile-one>

					<div id="convenios" class="col-lg-4 col-md-4 col-sm-12 col-xs-12 mb-14 hidden-sm hidden-xs">
						<a href="" data-ui-icon-button="no" data-ui-render="conveniosDesktopRender" data-ui-open="conveniosDesktopIsOpen">
						<div class="convenios p-42 mb-14">
							<h2 class="uppercasse solano text-white"> Más de 80 convenios internacionales</h2>
							<div class="clearfix"></div>
							<p class="zizou-16 text-white">Estudias en UPC, estudias en el mundo. <br>¡Averigua cómo!</p>
						</div>
						<a>
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
							<a href="" data-ui-icon-button data-ui-render="conveniosDesktopRender" data-ui-open="conveniosDesktopIsOpen"></a>
						</div>
					</div>
					<!--<div class="container hidden-lg hidden-md ">
						<div class="row  text-center">
							<div class=" col-xs-6">
								<a href="#/facultad/key">
									<img class="img-100px" src="./imagenes/circular-economia.png" alt="">
									<p class="solano-bold-14">Facultd de<br> Ciencias de la Salud</p>
								</a>
							</div>
							<div class=" col-xs-6">
								<a href="#/facultad/key">
									<img class="img-100px" src="./imagenes/circular-diseno.png" alt="">
									<p class="solano-bold-14">Facultad de<br>  ciencias humanas</p>
								</a>
							</div>
						</div>
						<a href="#"><img class="" src="./imagenes/globales/1x/roja-1.png" alt=""></a>
						<a href="#"><img class="pull-right" src="./imagenes/globales/1x/negra-1.png" alt=""></a>
						<div class="row text-center">
							<div class=" col-xs-6">
								<a href="facultad-comunicaciones.html">
									<img class="img-100px" src="./imagenes/circular-economia.png" alt="">
									<p class="solano-bold-14">Facultad de<br>  Comunicaciones</p>
								</a>
							</div>
							<div class=" col-xs-6">
								<a href="facultad-diseño.html">
									<img class="img-100px" src="./imagenes/circular-ingenieria.png" alt="">
									<p class="solano-bold-14">Facultad de<br>  Diseño</p>
								</a>
							</div>
						</div>
					</div>-->
					<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 hidden-sm hidden-lg hidden-md mb-14">
						<div id="campus">
							<a href="" data-ui-icon-button="no" data-ui-render="slideCampusDesktopRender" data-ui-open="slideCampusDesktopIsOpen">
								<div class="campus p-42 mb-14">
									<h2 class="uppercasse solano text-white pb-28"> {{models.campus.length}} campus full equipados</h2>
									<div class="clearfix"></div>
									<p class="zizou-16 text-white">Ubica el más cercano a tu casa</p>
								</div>
							</a>
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
								<a href="" data-ui-icon-button data-ui-render="slideCampusDesktopRender" data-ui-open="slideCampusDesktopIsOpen"></a>
							</div>
						</div>
					</div>
					<!--<div class="row hidden-lg hidden-sm  hidden-xs">
						<div class="row  text-center">
							<div class="col-md-4 col-sm-4 col-md-2">
								<a href="facultades-administracion-hoteleria.html">
									<img class="img-100px" src="./imagenes/circular-economia.png" alt="">
									<p class="solano-bold-14">Facultd de<br> Administración Hotelería y Turismo</p>
								</a>
							</div>
							<div class="col-md-4 col-sm-4 col-md-2">
								<a href="facultad-derecho.html">
									<img class="img-100px" src="./imagenes/circular-diseno.png" alt="">
									<p class="solano-bold-14">Facultad de<br>  Derecho</p>
								</a>
							</div>
							<div class="col-md-4 col-sm-4 col-md-2">
								<a href="facultad-economia.html">
									<img class="img-100px" src="./imagenes/comunicaciones-rounded.png" alt="">
									<p class="solano-bold-14">Facultad de<br>  economía</p>
								</a>
							</div>
						</div>
						<a href="#"><img class="" src="./imagenes/globales/1x/roja-1.png" alt=""></a>
						<a href="#"><img class="pull-right" src="./imagenes/globales/1x/negra-1.png" alt=""></a>
						<div class="row text-center">
							<div class="col-md-4 col-sm-4 col-md-2">
								<a href="facultad-educacion.html">
									<img class="img-100px" src="./imagenes/circular-economia.png" alt="">
									<p class="solano-bold-14">Facutlad de<br>  educación</p>
								</a>
							</div>
							<div class="col-md-4 col-sm-4 col-md-2">
								<a href="#/facultad/key">
									<img class="img-100px" src="./imagenes/circular-ingenieria.png" alt="">
									<p class="solano-bold-14">Facultad de<br>  Ciencias Humanas</p>
								</a>
							</div>
							<div class="col-md-4 col-sm-4 col-md-2">
								<a href="facultad-diseño.html">
									<img class="img-100px" src="./imagenes/circular-ingenieria.png" alt="">
									<p class="solano-bold-14">Facultad de<br>  Diseño</p>
								</a>
							</div>
						</div>
					</div>-->

					<!--campus mobile
					<div class="container hidden-lg hidden-md" id="view-slider-campus-container-mobile">
						<div class="row">
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
								<div class="bg-grey p-7">
									<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
										<h4 class="pb-14 zizou-bold pt-14">Facultades</h4>
										<a href="campus-foto.html">
											<div class="p-0 col-sm-6 col-xs-6 t-14">
												<img src="./imagenes/mo.png" class="img-campus img-100px" alt="">
												<h3 class="pb-7 pt-14 solano-bold-22">Monterrico</h3>
											</div>
										</a>
										<a href="#">
											<div class="p-0 col-sm-5 col-xs-5">
												<img src="./imagenes/mo.png" class="img-campus img-100px" alt="">
												<h3 class="pb-7 pt-14 solano-bold-22">Villa</h3>
											</div>
										</a>
										<a href="#">
											<div class="p-0 col-sm-1 col-xs-1 ">
												<img class="pt-28" src="./imagenes/globales/1x/negra-1.png" alt="">
											</div>
										</a>
									</div>
									<div class="clearfix"></div>
								</div>
							</div>
						</div>
					</div>-->

					<ui-campus-mobile data-ui-render="slideCampusDesktopRender" data-ui-items="models.campus" data-ui-open="slideCampusDesktopIsOpen"></ui-campus-mobile>

					<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 mb-14 hidden-md hidden-lg">
						<a href="" data-ui-icon-button="no" data-ui-render="conveniosDesktopRender" data-ui-open="conveniosDesktopIsOpen">
							<div class="convenios p-42 mb-14">
								<h2 class="uppercasse solano text-white"> Más de 80 convenios internacionales</h2>
								<div class="clearfix"></div>
								<p class="zizou-16 text-white">Estudias en UPC, estudias en el mundo. <br>¡Averigua cómo!</p>
							</div>
						</a>
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
							<a href="" data-ui-icon-button data-ui-render="conveniosDesktopRender" data-ui-open="conveniosDesktopIsOpen"></a>
						</div>
					</div>

					<div class="clearfix"></div>

					<!--<div class="bg-blue text-white hidden-lg hidden-md p-28" id="view-slider-convenios-container-mobile">
						<div class=" pb-14">
							<h2 class="solano">Estudias en UPC, estudias en el mundo</h2>
							<p class="zizou-14 pb-14">Sé un comunicador que viva una verdadera experiencia internacional</p>
						</div>
						<h3 class="pt-14 solano">Tus facultades</h3>
						
						
						<a href="" data-ng-repeat="row in models.facultades" data-ng-click="onClick.modalConvenioMobile(row)"><p class="text-white zizou-14">{{row.nombre}}</p></a>
						<a href="index-collapse-5.html"><p class="text-white zizou-14">Facultad de Derecho</p></a>
						<a href="index-collapse-5.html"><p class="text-white zizou-14">Facultad de Educación</p></a>
						<a href="index-collapse-5.html"><p class="text-white zizou-14">Facultad de Comunicaciones</p></a>
						<a href="index-collapse-5.html"><p class="text-white zizou-14">Facultad de Arquitectura</p></a>
						<a href="index-collapse-5.html"><p class="text-white zizou-14">Facultad de Derecho</p></a>
						<a href="index-collapse-5.html"><p class="text-white zizou-14">Facultad de Educación</p></a>
						<a href="index-collapse-5.html"><p class="text-white zizou-14">Facultad de Comunicaciones</p></a>
						<a href="index-collapse-5.html"><p class="text-white zizou-14">Facultad de Arquitectura</p></a>
						<a href="index-collapse-5.html"><p class="text-white zizou-14">Facultad de Derecho</p></a>
						<a href="index-collapse-5.html"><p class="text-white zizou-14">Facultad de Educación</p></a>
						<a href="index-collapse-5.html"><p class="text-white zizou-14">Facultad de Comunicaciones</p></a>
						<a href="index-collapse-5.html"><p class="text-white zizou-14">Facultad de Arquitectura</p></a>
						<a href="index-collapse-5.html"><p class="text-white zizou-14">Facultad de Derecho</p></a>
						<a href="index-collapse-5.html"><p class="text-white zizou-14">Facultad de Educación</p></a>
					</div>-->


				</div>
				<!--Esto pertenece a #facultades

				<div class="col-lg-12" id="view-slider-facultades-container-desktop">
					<div class="row hidden-sm hidden-xs">
						<a href="" class="facultades-item-prev facultades-item-desktop-prev" data-ng-click="clickPrev=true"></a>
						<a href="" class="facultades-item-next facultades-item-desktop-next" data-ng-click="clickNext=true"></a>
						<div class="border-grey pt-14  col-lg-12 col-md-12 col-sm-12 col-xs-12" data-ui-slider data-ui-prev="clickPrev" data-ui-next="clickNext" data-ui-render="renderSliderDesktop">
							<div data-ng-repeat="pages in facultadesIteratorDesktop">
								<div class="row  text-center" data-ng-repeat="row in pages">
									<div class="col-lg-2 col-md-2" data-ng-repeat="r in row" data-ng-class="{'col-lg-offset-1':$index===0, 'col-md-offset-1':$index===0}">
										<a href="#/facultad/key">
											<img class="img-100px  hover-img-circular" data-ng-src="{{r.imagen}}" alt="{{r.nombre}}">
											<p class="solano-bold-14">Facultad de<br>  {{r.nombre}}</p>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>-->

				<ui-facultades-desktop data-ui-render="slideFacultadesDesktopRender" data-ui-items="models.facultades" data-ui-open="slideFacultadesDesktopIsOpen"></ui-facultades-desktop>

				<ui-campus-desktop data-ui-render="slideCampusDesktopRender" data-ui-items="models.campus" data-ui-open="slideCampusDesktopIsOpen"></ui-campus-desktop>

				<ui-convenio  data-ui-animation="conveniosDesktopRender" data-ui-open="conveniosDesktopIsOpen" data-ui-facultades="models.facultades" data-ui-render="renderFacultadesConvenios" data-ui-convenios="conveniosMobile" data-ui-render-convenios="renderConveniosMobile" data-ui-detail="conveniosDetail"></ui-convenio>

				<!--Esto pertenece a #facultades
				<div class="hidden-sm hidden-xs" id="view-slider-campus-container-desktop">
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
							<div class="bg-grey p-7">
								<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
									<h4 class="pb-14 zizou-bold pt-14">Campus</h4>
									<div id="slider-campus-container-desktop">
										<div>
											<a href="#/campus/{{row.uri}}" data-ng-repeat="row in models.campus">
												<div class="p-0 col-lg-3 col-md-3 col-sm-6 hidden-xs t-14">
													<img data-ng-src="{{row.imagen}}" class="img-campus" alt="{{row.nombre}}">
													<h3 class="pb-7 pt-14 solano-bold-22">{{row.nombre}}</h3>
												</div>
											</a>
										</div>
									</div>
								</div>
								<div class="clearfix"></div>
							</div>
						</div>
					</div>
				</div>-->
				<!--esto es convenios
				<div class=" hidden-sm hidden-xs" id="view-slider-convenios-container-desktop">
					<div class="row">
						<div class="col-lg-12 col-md-12  ">
							<div class="bg-grey">
								<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 p-0">
									<div class="bg-blue p-21">
										<div class="height-100" data-ng-show="models.facultad.id===-1"></div>
										<div data-ng-show="models.facultad.id===-1">
											<h2 class="solano text-white">Escoge una Facultad y decide dónde quieres Estudiar</h2>
											<div class="form-group text-white">
												<select class="w-100 drop-down no-radius helvetica zizou-16 text-white select-white-border" data-ng-change="onChange.facultad()" data-ng-model="models.facultad" data-ng-options="p.nombre for p in models.facultadesCopy"></select>
											</div>
										</div>

										<div class="text-white pt-28 animate-show" data-ng-show="models.facultad.id!==-1">
											<div class=" pb-7">
												<h3 class="solano">Estudias en UPC, estudias en el mundo</h3>
												<p class="zizou-14">Sé un comunicador que viva una verdadera experiencia internacional</p>
											</div>
											<h3 class=" solano">Tus facultades</h3>
											<div data-ui-scroll> 
												<a href="" data-ng-repeat="row in models.facultadesSeleccionadas" data-ng-click="onClick.renderMarkers(row)"><p class="text-white zizou-14 zizou-14 zizou-14">{{row.nombre}}</p></a>
											</div>

											<h4 class="pt-7 solano pb-14">También Tienes</h4>
												<div data-ui-scroll> 
											<a href="" data-ng-repeat="row in models.facultadesRecomendadas" data-ng-click="onClick.renderMarkers(row)"><p class="text-white zizou-14">{{row.nombre}}</p></a>
										</div>
										</div>

										<div class="height-100" data-ng-show="models.facultad.id===-1"></div>
										<button type="button" data-ng-show="models.facultad.id!==-1" class="btn btn-custom black-btn wide full-width lg p-0 mt-0"  style="margin-top:10px!important;" data-ng-click="onClick.back()">Regresar</button>
										<div class="clearfix"></div>
									</div>
								</div>
								<div class="col-lg-9 col-md-9 hidden-sm hidden-xs">
									<div id="mapaConvenios" data-ui-mapa-convenios data-ui-select-marker="onClick.selectedMap(code)" data-ui-markers="models.markers" data-ui-render="renderMarkers" style="width: 100%; height: 430px;"></div>
								</div>
								
							</div>
						</div>
					</div>
				</div>-->

				<style>
				/*.evento-responsive{
					position:absolute;
					z-index:10;
					width: 0;
					height: 333px;
					overflow: hidden;
					left: -80px;
					top: 1px;
				}
				.evento-no-responsive{
					position: relative;
					width: 100%!important;
				}
				.evento-abierto{
					background : #ffb400;
				}*/
				</style>

				<div class="row" data-ng-class="{'mt-14':showFacultadesCampus,'m-5':showFacultadesCampus,'capa-amarilla':showFacultadesCampus,'mb-21':showFacultadesCampus,'mb-28':!showFacultadesCampus}">

		            <div class="col-md-4 col-sm-12 col-xs-12" data-ng-class="{'col-lg-3':showFacultadesCampus,'col-lg-4':!showFacultadesCampus}">
		                <a href="" data-ng-click="showFacultadesCampus=true">
		                    <div class="eventos">
		                        <img class="w-100 hidden-lg hidden-md" src="./imagenes/collapsed-down.png" alt="">
		                        <img class="hidden-xs hidden-sm" src="./imagenes/eventos-desplegado_03.png" alt="">
		                    </div>
		                </a>
		            </div>

		            <div class="col-md-8 col-sm-12 col-xs-12 p-0 " data-ng-class="{'col-lg-9':showFacultadesCampus,'col-lg-8':!showFacultadesCampus}">
		                <div data-ui-resize data-ui-render="showFacultadesCampus" style="overflow:hidden;height:327px;width:0px;">
		                    <div class="eventos-colapsado pd-l-14">
		                        <div class="col-lg-12 mb-14  pl-0" style="margin-top:8px;">
		                            <div class="bg-white pl-14 pt-14 pr-14 border-left-points mn-l-7 evento-expanded-bg border-left-none">

		                                <ui-evento data></ui-evento>

		                            </div>
		                            <img class="hidden-sm hidden-xs" data-ng-click="showFacultadesCampus=false" src="./imagenes/button-left.png" alt="" style="position:absolute;right:5px;top:150px;cursor:pointer;">
		                        </div>
		                        <div class="clearfix"></div>
		                    </div>
		                </div>
		            </div>

		            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12" data-ui-fade data-ui-render="showFacultadesCampus">
		            	<a href="#/aptitud" class="hidden-sm hidden-xs">
								<div class="apptitud-active">
									<div class="caja-negra-transparente text-white">
										<h2 class="solano uppercasse">Vive apptitud:</h2>
										<h4 class="zizou--bold-14">Experiemnta la universidad digital</h4>
									</div>
								</div>
							</a>
		            </div>

		        </div>




				<!--<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="row mt-14 contenedor-eventos">
						<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 ">
							<div class="eventos mt-7">
								<a href="" class="evento-mobile"><img class="w-100 hidden-lg hidden-md" src="./imagenes/collapsed-down.png" alt=""></a>
								<a href="" class="evento-desktop"><img class="hidden-xs hidden-sm" src="./imagenes/eventos-desplegado_03.png" alt=""></a>
							</div>
						</div>						
						<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">

							<div id="evento-responsive">
								<div class="eventos-colapsado pd-l-14">
									<div class="col-lg-12 mt-14 mb-14  pl-0">
										<div class="bg-white pl-14 pt-14 pr-14 border-left-points mn-l-7 evento-expanded-bg border-left-none">
											<div class="hidden-sm hidden-xs">
												<div class="input-group  text-black">
													<input type="text" class="no-radius zizou-14 text-black input-grey-border buscador-evento-expanded-" placeholder="Encuentra y participa de los eventos que tenemos para ti">
													<span class="input-group-btn">
														<button class="btn bg-white btn-secondary" type="button">
															<img style="width:20px;" src="./imagenes/search.png" alt="">
														</button>
													</span>
												</div>
											</div>
											<div class="hidden-lg hidden-md">
												<div class="input-group text-black">
													<input type="text" class="no-radius zizou-14 text-black input-grey-border buscador-evento-expanded-" placeholder="Encuentra más eventos aquí">
													<span class="input-group-btn">
														<button class="btn bg-white btn-secondary" type="button">
															<img style="width:20px;" src="./imagenes/search.png" alt="">
														</button>
													</span>
												</div>
											</div>
											<div class="feria pt-14 hidden-xs hidden-sm" data-ui-slider data-ui-prev="clickPrev" data-ui-next="clickNext" data-ui-render="renderSliderEventos" data-ui-reset="renderSliderEventosReset">
												<div>
													<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
														<div class="pull-right">
															<img src="./imagenes/globales/1X/fb.png" class="p-7" style="width: 21px;">
															<img src="./imagenes/globales/1X/tw.png" class="p-7" style="width: 28px;">
															<img src="./imagenes/globales/1X/g.png" class="p-7" style="width: 28px;">
														</div>
														<h2 class="solano-bold-22 red mt-28"> charla virtual</h2>
														<p class="zizou-16 pt-14"><b>Ingeniería Civil</b></p>
														<ul class="list-unstyled">
															<li class="pb-7">
																<img class="feria-icon pr-7" src="./imagenes/calendar.png" alt=""><span class="zizou-14">Miércoles 23 de Set</span>
															</li>
															<li class="pb-7 ">
																<img class="feria-icon pr-7" src="./imagenes/alarm.png" alt=""><span class="zizou-14">Campus San Isidro</span>
															</li>
															<li class="pb-7 ">
																<img class="feria-icon pr-7" src="./imagenes/location.png" alt=""><span class="zizou-14">5:00pm a 6:30pm</span>
															</li>
															<div class="pull-right pt-7 pb-7">
																<a href="#" data-toggle="modal" data-target=".bs-example-modal-lg" class="text-blue zizou-14">Ver más información ►</a>
															</div>
															<li class="pb-7 pt-7">
																<a href="form-basico.html"><input type="button" data-toggle="modal" data-target=".bs-example-modal-lg" value="Quiero ir" class="no-radius btn btn-danger solano-17"></a>
															</li>
														</ul>
													</div>
													<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 border-left-points border-left-none">
														<div class="pull-right">
															<img src="./imagenes/globales/1X/fb.png" class="p-7" style="width: 21px;">
															<img src="./imagenes/globales/1X/tw.png" class="p-7" style="width: 28px;">
															<img src="./imagenes/globales/1X/g.png" class="p-7" style="width: 28px;">
														</div>
														<h2 class="solano-bold-22 red mt-28"> charla virtual</h2>
														<p class="zizou-16 pt-14"><b>Ingeniería Civil</b></p>
														<ul class="list-unstyled">
															<li class="pb-7">
																<img class="feria-icon pr-7" src="./imagenes/calendar.png" alt=""><span class="zizou-14">Miércoles 23 de Set</span>
															</li>
															<li class="pb-7 ">
																<img class="feria-icon pr-7" src="./imagenes/alarm.png" alt=""><span class="zizou-14">Campus San Isidro</span>
															</li>
															<li class="pb-7 ">
																<img class="feria-icon pr-7" src="./imagenes/location.png" alt=""><span class="zizou-14">5:00pm a 6:30pm</span>
															</li>
															<div class="pull-right pt-7 pb-7">
																<a href="form-basico.html" class="text-blue zizou-14">Ver más información ►</a>
															</div>
															<li class="pb-7 pt-7">
																<input type="button" value="Quiero ir" class="no-radius btn btn-danger solano-17">
															</li>
														</ul>
													</div>
													<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 border-left-points border-left-none">
														<div class="pull-right mb-21">
															<img src="./imagenes/globales/1X/fb.png" class="p-7" style="width: 21px;">
															<img src="./imagenes/globales/1X/tw.png" class="p-7" style="width: 28px;">
															<img src="./imagenes/globales/1X/g.png" class="p-7" style="width: 28px;">
														</div>
														<h2 class="solano-bold-22 red mt-28 text-3"> charla virtual</h2>
														<p class="zizou-16 pt-14"><b>Ingeniería Civil</b></p>
														<ul class="list-unstyled">
															<li class="pb-7">
																<img class="feria-icon pr-7" src="./imagenes/calendar.png" alt=""><span class="zizou-14">Miércoles 23 de Set</span>
															</li>
															<li class="pb-7 ">
																<img class="feria-icon pr-7" src="./imagenes/alarm.png" alt=""><span class="zizou-14">Campus San Isidro</span>
															</li>
															<li class="pb-7 ">
																<img class="feria-icon pr-7" src="./imagenes/location.png" alt=""><span class="zizou-14">5:00pm a 6:30pm</span>
															</li>
															<div class="pull-right pt-7 pb-7">
																<a href="form-basico.html" class="text-blue zizou-14">Ver más información ►</a>
															</div>
															<li class="pb-7 pt-7">
																<input type="button" value="Quiero ir" class="no-radius btn btn-danger solano-17">
															</li>
														</ul>
													</div>
												</div>

												<div>
													<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
														<div class="pull-right">
															<img src="./imagenes/globales/1X/fb.png" class="p-7" style="width: 21px;">
															<img src="./imagenes/globales/1X/tw.png" class="p-7" style="width: 28px;">
															<img src="./imagenes/globales/1X/g.png" class="p-7" style="width: 28px;">
														</div>
														<h2 class="solano-bold-22 red mt-28"> charla virtual</h2>
														<p class="zizou-16 pt-14"><b>Ingeniería Civil</b></p>
														<ul class="list-unstyled">
															<li class="pb-7">
																<img class="feria-icon pr-7" src="./imagenes/calendar.png" alt=""><span class="zizou-14">Miércoles 23 de Set</span>
															</li>
															<li class="pb-7 ">
																<img class="feria-icon pr-7" src="./imagenes/alarm.png" alt=""><span class="zizou-14">Campus San Isidro</span>
															</li>
															<li class="pb-7 ">
																<img class="feria-icon pr-7" src="./imagenes/location.png" alt=""><span class="zizou-14">5:00pm a 6:30pm</span>
															</li>
															<div class="pull-right pt-7 pb-7">
																<a href="#" data-toggle="modal" data-target=".bs-example-modal-lg" class="text-blue zizou-14">Ver más información ►</a>
															</div>
															<li class="pb-7 pt-7">
																<a href="form-basico.html"><input type="button" data-toggle="modal" data-target=".bs-example-modal-lg" value="Quiero ir" class="no-radius btn btn-danger solano-17"></a>
															</li>
														</ul>
													</div>
													<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 border-left-points border-left-none">
														<div class="pull-right">
															<img src="./imagenes/globales/1X/fb.png" class="p-7" style="width: 21px;">
															<img src="./imagenes/globales/1X/tw.png" class="p-7" style="width: 28px;">
															<img src="./imagenes/globales/1X/g.png" class="p-7" style="width: 28px;">
														</div>
														<h2 class="solano-bold-22 red mt-28"> charla virtual</h2>
														<p class="zizou-16 pt-14"><b>Ingeniería Civil</b></p>
														<ul class="list-unstyled">
															<li class="pb-7">
																<img class="feria-icon pr-7" src="./imagenes/calendar.png" alt=""><span class="zizou-14">Miércoles 23 de Set</span>
															</li>
															<li class="pb-7 ">
																<img class="feria-icon pr-7" src="./imagenes/alarm.png" alt=""><span class="zizou-14">Campus San Isidro</span>
															</li>
															<li class="pb-7 ">
																<img class="feria-icon pr-7" src="./imagenes/location.png" alt=""><span class="zizou-14">5:00pm a 6:30pm</span>
															</li>
															<div class="pull-right pt-7 pb-7">
																<a href="form-basico.html" class="text-blue zizou-14">Ver más información ►</a>
															</div>
															<li class="pb-7 pt-7">
																<input type="button" value="Quiero ir" class="no-radius btn btn-danger solano-17">
															</li>
														</ul>
													</div>
													<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 border-left-points border-left-none">
														<div class="pull-right mb-21">
															<img src="./imagenes/globales/1X/fb.png" class="p-7" style="width: 21px;">
															<img src="./imagenes/globales/1X/tw.png" class="p-7" style="width: 28px;">
															<img src="./imagenes/globales/1X/g.png" class="p-7" style="width: 28px;">
														</div>
														<h2 class="solano-bold-22 red mt-28 text-3"> charla virtual</h2>
														<p class="zizou-16 pt-14"><b>Ingeniería Civil</b></p>
														<ul class="list-unstyled">
															<li class="pb-7">
																<img class="feria-icon pr-7" src="./imagenes/calendar.png" alt=""><span class="zizou-14">Miércoles 23 de Set</span>
															</li>
															<li class="pb-7 ">
																<img class="feria-icon pr-7" src="./imagenes/alarm.png" alt=""><span class="zizou-14">Campus San Isidro</span>
															</li>
															<li class="pb-7 ">
																<img class="feria-icon pr-7" src="./imagenes/location.png" alt=""><span class="zizou-14">5:00pm a 6:30pm</span>
															</li>
															<div class="pull-right pt-7 pb-7">
																<a href="form-basico.html" class="text-blue zizou-14">Ver más información ►</a>
															</div>
															<li class="pb-7 pt-7">
																<input type="button" value="Quiero ir" class="no-radius btn btn-danger solano-17">
															</li>
														</ul>
													</div>
												</div>
											</div>

											<div class="feria pt-14 hidden-lg hidden-md" data-ui-slider data-ui-prev="clickPrev" data-ui-next="clickNext" data-ui-render="renderSliderEventosMobile">
												<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
														<div class="pull-right">
															<img src="./imagenes/globales/1X/fb.png" class="p-7" style="width: 21px;">
															<img src="./imagenes/globales/1X/tw.png" class="p-7" style="width: 28px;">
															<img src="./imagenes/globales/1X/g.png" class="p-7" style="width: 28px;">
														</div>
														<h2 class="solano-bold-22 red mt-28"> charla virtual</h2>
														<p class="zizou-16 pt-14"><b>Ingeniería Civil</b></p>
														<ul class="list-unstyled">
															<li class="pb-7">
																<img class="feria-icon pr-7" src="./imagenes/calendar.png" alt=""><span class="zizou-14">Miércoles 23 de Set</span>
															</li>
															<li class="pb-7 ">
																<img class="feria-icon pr-7" src="./imagenes/alarm.png" alt=""><span class="zizou-14">Campus San Isidro</span>
															</li>
															<li class="pb-7 ">
																<img class="feria-icon pr-7" src="./imagenes/location.png" alt=""><span class="zizou-14">5:00pm a 6:30pm</span>
															</li>
															<div class="pull-right pt-7 pb-7">
																<a href="#" data-toggle="modal" data-target=".bs-example-modal-lg" class="text-blue zizou-14">Ver más información ►</a>
															</div>
															<li class="pb-7 pt-7">
																<a href="form-basico.html"><input type="button" data-toggle="modal" data-target=".bs-example-modal-lg" value="Quiero ir" class="no-radius btn btn-danger solano-17"></a>
															</li>
														</ul>
													</div>
													<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 border-left-points border-left-none">
														<div class="pull-right">
															<img src="./imagenes/globales/1X/fb.png" class="p-7" style="width: 21px;">
															<img src="./imagenes/globales/1X/tw.png" class="p-7" style="width: 28px;">
															<img src="./imagenes/globales/1X/g.png" class="p-7" style="width: 28px;">
														</div>
														<h2 class="solano-bold-22 red mt-28"> charla virtual</h2>
														<p class="zizou-16 pt-14"><b>Ingeniería Civil</b></p>
														<ul class="list-unstyled">
															<li class="pb-7">
																<img class="feria-icon pr-7" src="./imagenes/calendar.png" alt=""><span class="zizou-14">Miércoles 23 de Set</span>
															</li>
															<li class="pb-7 ">
																<img class="feria-icon pr-7" src="./imagenes/alarm.png" alt=""><span class="zizou-14">Campus San Isidro</span>
															</li>
															<li class="pb-7 ">
																<img class="feria-icon pr-7" src="./imagenes/location.png" alt=""><span class="zizou-14">5:00pm a 6:30pm</span>
															</li>
															<div class="pull-right pt-7 pb-7">
																<a href="form-basico.html" class="text-blue zizou-14">Ver más información ►</a>
															</div>
															<li class="pb-7 pt-7">
																<input type="button" value="Quiero ir" class="no-radius btn btn-danger solano-17">
															</li>
														</ul>
													</div>
													<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 border-left-points border-left-none">
														<div class="pull-right mb-21">
															<img src="./imagenes/globales/1X/fb.png" class="p-7" style="width: 21px;">
															<img src="./imagenes/globales/1X/tw.png" class="p-7" style="width: 28px;">
															<img src="./imagenes/globales/1X/g.png" class="p-7" style="width: 28px;">
														</div>
														<h2 class="solano-bold-22 red mt-28 text-3"> charla virtual</h2>
														<p class="zizou-16 pt-14"><b>Ingeniería Civil</b></p>
														<ul class="list-unstyled">
															<li class="pb-7">
																<img class="feria-icon pr-7" src="./imagenes/calendar.png" alt=""><span class="zizou-14">Miércoles 23 de Set</span>
															</li>
															<li class="pb-7 ">
																<img class="feria-icon pr-7" src="./imagenes/alarm.png" alt=""><span class="zizou-14">Campus San Isidro</span>
															</li>
															<li class="pb-7 ">
																<img class="feria-icon pr-7" src="./imagenes/location.png" alt=""><span class="zizou-14">5:00pm a 6:30pm</span>
															</li>
															<div class="pull-right pt-7 pb-7">
																<a href="form-basico.html" class="text-blue zizou-14">Ver más información ►</a>
															</div>
															<li class="pb-7 pt-7">
																<input type="button" value="Quiero ir" class="no-radius btn btn-danger solano-17">
															</li>
														</ul>
													</div>
											</div>

											<div class="clearfix">	</div>
										</div>
										<img class="hidden-sm hidden-xs" id="close-evento-desktop" src="./imagenes/button-left.png" alt="" style="position:absolute;right:5px;top:150px;cursor:pointer;">
									</div>
									<div class="clearfix"></div>
								</div>
							</div>

							<a href="#/aptitud" class="hidden-sm hidden-xs">
								<div class="apptitud-active">
									<div class="caja-negra-transparente text-white">
										<h2 class="solano uppercasse">Vive apptitud:</h2>
										<h4 class="zizou--bold-14">Experiemnta la universidad digital</h4>
									</div>
								</div>
							</a>
						</div>
					</div>
				</div>-->


				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p-0 hidden-xs hidden-sm" data-ui-fade data-ui-render="!showFacultadesCampus">
					<a href="#/aptitud">
						<div class="apptitud">
							<div class="caja-negra-transparente text-white">
								<h2 class="solano uppercasse">Vive apptitud:</h2>
								<h4 class="zizou--bold-14">Experimenta la universidad digital</h4>
							</div>
						</div>
					</a>
				</div>

				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 p-0 hidden-md hidden-lg">
			<a href="#/aptitud">
				<div class="apptitud">
					<div class="caja-negra-transparente text-white">
						<h2 class="solano uppercasse">Vive apptitud:</h2>
						<h4 class="zizou--bold-14">Experimenta la universidad digital</h4>
					</div>
				</div>
			</a>
		</div>

				<!--modalidades-->
				<div class="clearfix"></div>
				<div class="circular">
					<div class=" mt-7 pb-35">
						<div class="height-50"></div>
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pt-28">
							<div class="text-center pb-35">
								<h1 class="zizou-bold-26">Modalidades de Admisión</h1>
							</div>
						</div>
						<div class="container">
							<div>
								<div class="col-lg-offset-2 col-md-offset-2 col-lg-4 col-md-4 col-sm-6 col-xs-12 text-soft-black jump mb-14" id="link-admision-preferente">
									<div class="divContainerDown ">
										<h2 class="solano text-center pb-14">Soy Alumno destacado en</h2>
										<p class="helvetica-16 text-center">3°, 4° y 5° de secundaria y he <br>pertenecido al tercio superior o he <br>logrado un promedio de 15 ó más.</p>
									</div>
									<div class="calloutDown">
										<div class="calloutDown2">
										</div>
									</div>
									<img class="alumno" src="./imagenes/girl-1.png" alt="">
								</div>
								<div class="col-lg-offset-2 col-md-offset-2 col-lg-4 col-md-4 col-sm-12 col-xs-12 text-white pb-28" id="view-admision-preferente-desktop">
									<div class="divContainerDown bg-blue helvetica-16">
										<h2 class="solano text-center  pb-14">Admisión Preferente</h2>
										<ul style="font-size:14px;">
											<li>No pagas el derecho de admisión de s/. 500.00.</li>
											<li>Obtén una beca de honor de 30%</li>
											<li>Ten la posibilidad de rendir la Evaluación Integral y convalidad cursos de 1er Nivel.</li>
										</ul>
										<p class="helvetica-16 text-right">Para ver más <a href="#/registro"><span class=" text-yellow helvetica">regístrate aquí</span></a></p>
									</div>
									<div class="calloutDownblue">
										<div class="calloutDown2blue">
										</div>
									</div>
									<img class=" alumno" src="./imagenes/girl-1.png" alt="" />
								</div>
							</div>
							<div>
								<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text-soft-black jump" id="link-admision-general">
									<div class=" divContainerDown">
										<h2 class="solano text-center pb-14">Soy Alumno destacado en</h2>
										<p class="helvetica-16 text-hover text-center">3°, 4° y 5° de secundaria y he <br>pertenecido al tercio superior o he <br>logrado un promedio de 15 ó más.</p>
									</div>
									<div class="calloutDown">
										<div class="calloutDown2">
										</div>
									</div>
									<img class="alumno" src="./imagenes/boy-1.png" alt="">
								</div>
								<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-white pb-28" id="view-admision-general-desktop">
									<div class="divContainerDown bg-blue helvetica-16">
										<h2 class="solano text-center pb-14">Admisión General</h2>
										<ul class="helvetica">
											<li>Postula</li>
											<li>Evalúa tu potencial</li>
											<li>Revisa tus resultados</li>
										</ul>
										<p class="helvetica-16">¡Listo! Ahora incorpórate a la UPC</p>
										<p class="helvetica-16 text-right">Para ver más <a href="#/registro"><span class=" text-yellow helvetica">regístrate aquí</span></a></p>
									</div>
									<div class="calloutDownblue">
										<div class="calloutDown2blue">
										</div>
									</div>
									<img class=" alumno" src="./imagenes/boy-1.png" alt="">
								</div>
							</div>
						</div>
					</div>
					<div class="height-100"></div>
					<div class="clearfix"></div>
				</div>
				<div class="row  pb-42">
					<div class="col-lg-offset-1 col-md-offset-1 col-lg-5 col-md-5 col-sm-12 col-xs-12 pb-14">
						<a href="#/testimonios">
							<div class="alumni">
								<div class="caja-negra-transparente text-white">
									<h2 class="solano uppercasse">Testimonios</h2>
									<h4 class="zizou--bold-14">Descubre cómo la hicieron</h4>
								</div>
							</div>
						</a>
					</div>
					<div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
						<a href="#/acreditaciones">
							<div class="decano">
								<div class="caja-negra-transparente text-white">
									<h2 class="solano uppercasse">Ranking y acreditaciones</h2>
									<h4 class="zizou--bold-14">Exigencia al más alto nivel</h4>
								</div>
							</div>
						</a>
					</div>
					<div class="clearfix"></div>
					<div class="hidden-100 hidden-lg hidden-md"></div>
					<div class="height-200  hidden-sm hidden-xs"></div>
				</div>
			</div></section>



			<ui-footer></ui-footer>



			


			<div class="modal fade bs-example-modal-lg" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
				<div class="modal-dialog modal-lg" role="document">
					<div class=" p-0">
						<div class=" p-0">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><img src="./imagenes/testimonios/close2.png" alt=""></button>
							<div class="clearfix"></div>
						</div>
						<div class="height-75 hidden-sm hidden-xs"></div>
						<div>
							<!--INGRESAR CONTENIDO-->
							<div class="capa-evento col-lg-6 col-md-6 col-sm-12 col-xs-12 pt-5 pl-5 pr-0">
								<div class="campus-evento ">
									<div style="margin-left: -5px;" class="pull-left mt-28 bg-red p-14">
										<h2 style="font-size: 20px" class="solano text-white">Talleres Vivenciales</h2>
									</div>
								</div>
								<div class="pl-21">
									<p class="zizou-18 text-white black-line-bottom pt-28 pb-14">¿Quieres conocer cualquiera de nuestros 4 campus UPC a través de un tour guiado?</p>
									<p class="helvetica-14 pb-14" style="color: #000;">Te invitamos a participar de los talleres vivenciales donde podrás vivir de cerca tu futura profesión. Además, podrás conocer todo lo que la UPC te ofrece para que puedas desarrollar al máximo todo tu talento.</p>
								</div>
								<div class="row">
									<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
										<div class="pl-21">
											<div class="row pt-7 pb-7">
												<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
													<img src="./imagenes/calendar.png" alt="" style="width: 20px;">
												</div>
												<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
													<p class="helvetica-14 text-black">20 de Enero</p>
												</div>
											</div>
											<div class="row">
												<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
													<img src="./imagenes/reloj.png" alt="" style="width: 20px;">
												</div>
												<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
													<p class="helvetica-14 text-black">De 14:30h a 18:30h</p>
												</div>
											</div>
											<div class="row pt-7 pb-7">
												<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
													<img src="./imagenes/sobre-rojo.png" alt="" style="width: 20px;">
												</div>
												<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
													<a href="#"><p class="helvetica-14 text-blue">eventos@upc.edu.pe</p></a>
												</div>
											</div>
										</div>
									</div>
									<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
										<div class="row pt-7 pb-7 pl-21">
											<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
												<img src="./imagenes/location.png" alt="" style="width: 20px;">
											</div>
											<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
												<p class="helvetica-14 text-black">Campus</p>
												<a href="#"><span class="helvetica-14 text-blue">San Miguel, San Isidro, Monterrico y Villa</span></a>
											</div>
										</div>
									</div>
									<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pt-7 pb-7 pt-14">
										<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 pl-21">
											<a href="form-basico.html"><input type="button" value="Quiero ir" style="background: #ff0000;" class="mt-14 mb-14 no-radius sm btn btn-danger solano-17"></a>
										</div>
										<div class="col-lg-offset-1 col-lg-6 pt-14">
											<div class="col-lg-offset-4 col-lg-2 col-md-2 col-sm-2 col-xs-2">
												<a href="#"><img src="./imagenes/globales/1X/fb-blanco.png" alt="" style="width: 8px;"></a>
											</div>
											<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
												<a href="#"><img src="./imagenes/globales/1X/g-blanco.png" alt="" style="width: 15px;"></a>
											</div>
											<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
												<a href="#"><img src="./imagenes/globales/1X/tw-blanco.png" alt="" style="width: 15px;"></a>
											</div>
										</div>
									</div>
								</div>
								<div class="hidden-lg hidden-md height-50"></div>
							</div>
							<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 capa-evento pl-0 pr-11" style="margin: -6% 0%;">
								<div class="bg-white m-5 p-14">
									<h2 class="solano text-blue">FILTRAR</h2>
									<div class="hidden-xs">
										<div class="input-group text-black">
											<input type="text" class="no-radius helvetica-14 text-black input-grey-border" placeholder="Elegir fecha">
											<span class="input-group-btn">
												<button class="btn bg-white btn-secondary" type="button">
													<img style="width:20px;" src="./imagenes/calendar-negro.png" alt="">
												</button>
											</span>
										</div>
									</div>
									<div class="p-7">
										<h4 class="pt-7 pb-7 titulares"><b>Tipo</b></h4>
										<button type="button" class="btn btn-style helvetica-12  no-radius mr-5">Charla</button>
										<button type="button" class="btn btn-style helvetica-12  no-radius mr-5">Charla Virtual</button>
										<button type="button" class="btn btn-style helvetica-12  no-radius mr-5">Feria</button>
										<button type="button" class="btn btn-style helvetica-12  no-radius mr-5">Taller</button>
									</div>
									<div class="p-7">
										<h4 class="pt-7 pb-7 titulares"><b>Facultad</b></h4>
										<button type="button" class="btn text-white bg-blue helvetica-12 no-radius mr-5">Charla X</button>
										<button type="button" class="btn text-white bg-blue helvetica-12 no-radius mr-5">Charla  Virtual X</button>
										<div class="input-group text-black">
											<input type="text" class="no-radius helvetica-14 text-black input-grey-border" placeholder="Elegir fecha">
											<span class="input-group-btn">
												<button class="btn bg-white btn-secondary" type="button">
													<img style="width:20px;" src="./imagenes/search.png" alt="">
												</button>
											</span>
										</div>
									</div>
									<div class="p-7">
										<h4 class="pt-7 pb-7 titulares"><b>Campus</b></h4>
										<button type="button" class="btn text-white bg-blue helvetica-12 no-radius">Monterrico ✓</button>
										<button type="button" class="btn text-white bg-blue helvetica-12 no-radius">Villa</button>
										<button type="button" class="btn text-white bg-blue helvetica-12 no-radius">San Miguel ✓</button>
										<button type="button" class="btn text-white bg-blue helvetica-12 no-radius">San Isidro</button>
										<!--Al dar clic a los campus de arriba debe cambiar el mapa por el de la ubicación del mismo-->

									</div>
									<div class="clearfix"></div>
								</div>
								<div class="bg-mapa-modal ubicacion-campus-eventos m-5 pt-14">
									<div class="pl-21">
										<h4 class="titulares"><b>Ubicación de nuestros campus</b></h4>
										<div class="helvetica-16 pt-7 pb-14">
											<span>Monterrico </span>-<span> Villa </span>-<span> San Isidro </span>-<span> San Miguel </span>
										</div>
									</div>
									<div class="mapa">
										<iframe src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d15598.412266418023!2d-77.00681532220663!3d-12.207389561766334!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e0!4m5!1s0x9105b9e06917e2a5%3A0x45b9d803f782cea9!2sUpc+Campus+Villa+Chorrillos%2C+Distrito+de+Chorrillos!3m2!1d-12.197565899999999!2d-77.0084534!4m5!1s0x9105b9f4a26e7f51%3A0x3512b7495e360b6!2sLos+Pantanos+de+Villa%2C+Distrito+de+Chorrillos+15067!3m2!1d-12.2173993!2d-76.98571919999999!5e0!3m2!1ses-419!2spe!4v1478115926871" width="100%" height="300" frameborder="0" style="border:0" allowfullscreen=""></iframe>
									</div>
								</div>
							</div>
							<div class="clearfix"></div>
						</div>
					</div>
				</div>
			</div>




			<div class="modal fade bg-white-transparent" id="modalConvenioMobile" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none;">
												<div class="modal-dialog" role="document">
													<div class="p-0">
														<div class=" p-0">
															<button type="button" class="close" data-dismiss="modal" aria-label="Close"><img src="./imagenes/testimonios/close2.png" alt=""></button>
															<div class="clearfix"></div>
														</div>
														<div class="bg-white ">
															<!--INGRESAR CONTENIDO-->
															<div class="row">
																<div class="text-responsive text-black">
																	<h2>Estudias en UPC, estudias en el mundo</h2>
																	<p class="zizou-14">Sé un comunicador que viva una verdadera experiencia internacional</p>
																</div>
																<a href="" style="position:absolute;top:50%;left:10px;z-index:2;" data-ng-click="clickPrevConveniosMobile=true"><img style="width:15px" class="" src="./imagenes/izq.png" alt=""></a>
																<a href="" style="position:absolute;top:50%;right:10px;z-index:2;" data-ng-click="clickNextConveniosMobile=true"><img style="width:15px" class=" pull-right" src="./imagenes/der.png" alt=""></a>
																<div data-ui-slider data-ui-prev="clickPrevConveniosMobile" data-ui-next="clickNextConveniosMobile" data-ui-render="renderSliderConveniosMobile">
																	<div data-ng-repeat="row in conveniosIteratorMobile">
																		<div class="row text-center" data-ng-repeat="r in row">
																			<div class=" col-xs-6"  data-ng-repeat="x in r">
																				<a href="">
																					<img class="img-100px" data-ng-src="{{x.image}}" alt="{{x.country}}">
																					<p class="solano-bold-14 pt-7">{{x.country}} <br> <span class="zizou-14">{{x.description}}</span></p>
																				</a>
																			</div>
																		</div>
																	</div>
																</div>
																<div class="text-center pb-14">
					                                                <a href="http://upc.edu.pe" target="_blank" class="btn btn-custom black-btn wide  p-0 mt-0">Conoce más aquí</a>
					                                            </div>
															</div>
														</div>
													</div>
												</div>
											</div>


<!--
<div class="modal fade " id="modalMap" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
				<div class="modal-dialog" role="document">
					<div class=" p-0">
						<div class=" p-0">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><img src="./imagenes/testimonios/close2.png" alt=""></button>
							<div class="clearfix"></div>
						</div>
						<div class="bg-white p-14">
							
							<div class="hidden-sm hidden-xs">
								<div class="row">
									<div class="p-28">
										<h2 class="solano pb-7 text-center">{{models.marker.name}}</h2>
										<div class="pais p-14" data-ng-repeat="row in models.marker.locations">
											<h3 class="solano">{{models.marker.country}}</h3>
											<h4>{{row.university}}</h4>
											<span class="zizou-14 pt-7 pb-7"><b>Tipos de convenio:</b> {{row.description}} </span>
											<p class="zizou-14"><b>Idioma: </b>{{row.language}}</p>
										</div>
										<div class="pb-14 text-center">
											<a href="http://www.upc.edu.pe/" target="_blank" class="btn btn-custom black-btn wide  p-0 mt-0">Conoce más aquí</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
-->
<ui-modal-convenio-mobile data-ui-convenios="conveniosMobile" data-ui-render="renderConveniosMobile"></ui-modal-convenio-mobile>
<ui-modal-convenio data-ui-detail="conveniosDetail"></ui-modal-convenio>									