<header>
    <div class="container-fluid">
        <div class="row">
            <div class="img-header">
                <div class="wrapper">
                    <img class="pull-right pb-28" src="./imagenes/logo-white.png" alt="">
                    <div class="clearfix"></div>
                    <div class="height-50"></div>
                    <h1 class="titulo"><span style="color: #e3ffff">Hola {{models.name}},</span><br>Vive la mejor experiencia de<br>educación digital </h1>
                    <!--<a href=""><img src="./imagenes/user.png" style="width: 60px; float: right ;margin-top: 43px; bottom: 0;"></a>-->
                    <div class="dropdown pull-right">
                        <div class="dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                            <div id="ie-avatar"></div>
                            <a href="#"><img src="./imagenes/user.png" style="width: 60px; float: right ;margin-top: 43px; bottom: 0;"></a>
                        </div>
                        <ul class="dropdown-menu" role="menu">
                            <!--<li class="dditem ddmain" role="presentation"><a id="lnk_int_MisDatos" role="menuitem" tabindex="-1" href="#">Mis Datos</a></li>-->
                            <li class="dditem ddmain" role="presentation"><a role="menuitem" tabindex="-1" href="" data-ng-click="onClick.close()">Cerrar Sesión</a></li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                    <div class="height-25"></div>
                    <a href="" data-ng-click="onClick.postule()">
                        <h1 style="border: 1px solid #fff;" class="mt-7 pull-right solano-bold-28 bg-red text-white p-14">Quiero postular</h1>
                    </a>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
                <div class="height-25"></div>
                <div class="dias-admision">
                    <div class="clearfix"></div>
                    <div class="col-lg-5 col-md-5 col-sm-8 col-xs-12 fecha text-white p-0">
                        <div class="row">
                            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 dias hidden-sm hidden-xs bg-blue-transparent pt-14" style="height: 70px;">
                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 col-md-3">
                                    <h1 class="solano-bold-24 pl-14 pt-7" data-ui-counter></h1>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-8 col-md-9 p-0">
                                    <p class=" helvetica pl-7 pt-7 uppercase">Días para el cierre de Admisión</p>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 dias hidden-md hidden-lg bg-black mt-14" style="height: 70px;">
                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-2 col-md-3">
                                    <h1 class="solano text-right pl-35" data-ui-counter></h1>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-10  pt-28">
                                    <p class=" helvetica-14 pl-14 pr-7 uppercase">Días para el cierre de Admisión</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</header>
<div>
    <!--<div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
        <a href="index-momento-1-becas.html">
            <button id="btn_int_IniciarSesion" type="submit" value="Send" class="btn btn-custom bg-red wide full-width lg p-0 mt-0">Financiamiento<i class="fa fa-chevron-down" aria-hidden="true"></i> </button>
        </a>
    </div>-->
    <div style="position:relative;">
        <div style="position:absolute;top:0;left:0;width:100%;height:50px;z-index:2;text-align:center;">
            <div id="buttonsProfileFinancial" style="width:50%;margin:0 auto;">
                <a style="padding: 10px !important;" href="" id="btn_profile" class="col-lg-offset-2 col-lg-4 col-xs-6 btn btn-custom bg-blue wide lg mt-0">Perfil  <i class="fa fa-chevron-down" aria-hidden="true"></i></a>
                <a style="padding: 10px !important;" href="" id="btn_financial" class="col-lg-4 col-xs-6 btn btn-custom bg-red wide lg mt-0">Financiamiento  <i class="fa fa-chevron-down" aria-hidden="true"></i></a>
            </div>
        </div>
        <div style="width:100%;" id="btn_profile_view">
            <!--<div class="menujq">
                <ul>
                	<li class="desplegable">
                		<ul>
                			<li class="list-none">
                				<div class="bg-blue">
                					<div class="container">
                						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                							<div class="p-21 text-white">
                								<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 requisitos  pt-14">
                									<h1 class="pb-14 pt-14"><b>Anabelle,</b></h1>
                									<h4 class="helvetica pt-7 interline pb-7">TU PERFIL DE INGRESO ES <b>REGULAR</b></h4>
                									<h5 class="helvetica pb-28">Al postular a la UPC debes seguir estos pasos </h5>
                									<div class="row">
                										<div class="col-lg-1 col-md-2 col-sm-2 col-xs-3 p-14">
                											<img src="./imagenes/preferente/ico1.png" alt="">
                										</div>
                										<div class="col-lg-10 col-md-10-col-sm-10 col-xs-9 p-14">
                											<p class="helvetica-16">Realizar y presentar el recibo por pago de derecho de admisión de s/.550.</p>
                										</div>
                									</div>
                									<div class="row">
                										<div class="col-lg-1 col-md-2 col-sm-2 col-xs-3 p-14">
                											<img src="./imagenes/preferente/ico2.png" alt="">
                										</div>
                										<div class="col-lg-10 col-md-10-col-sm-10 col-xs-9 p-14">
                											<p class="helvetica-16">Deberás realizar la Evaluación Integral, una prueba obligatoria que definirá si empiezas a estudiar <br>cursos de tu carrera o si  necesitas reforzar previamente algún área en particular.</p>
                										</div>
                									</div>
                									<div class="row">
                										<div class="col-lg-1 col-md-2 col-sm-2 col-xs-3 p-14">
                											<img src="./imagenes/preferente/ico3.png" alt="">
                										</div>
                										<div class="col-lg-10 col-md-10-col-sm-10 col-xs-9 p-14 ">
                											<p class="helvetica-16">En caso no apruebes la Evaluación Integral o no la hayas podido rendir en la fecha indicada,<br> tienes una oportunidad más a través del Examen de Admisión.</p>
                										</div>
                									</div>
                									<div class="height-25 hidden-xs white-dashed-bottom"></div>
                									<p class="zizou-14 pt-14 pb-14">Ups! este no es mi perfil, quiero <a href="index-evento-expanded.html"><b class="text-white">cambiar de perfil</b></a></p>
                								</div>
                								<div class="col-lg-4 col-md-4 hidden-sm hidden-xs pull-right">
                									<img class="ml-ninos" src="./imagenes/preferente/nino-nubes1.png" alt="">
                								</div>
                							</div>
                						</div>
                					</div>
                				</div>
                			</li>
                		</ul>
                	</li>
                </ul>
            </div>-->
            <div class="bg-blue">
                <div class="container">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="p-21 text-white">
                            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 requisitos  pt-14" data-ng-if="models.level===2">
                                <h1 class="pb-14 pt-14"><b>{{models.name}},</b></h1>
                                <h4 class="helvetica pt-7 interline pb-7">TU PERFIL DE INGRESO ES <b >REGULAR</b></h4>
                                <h5 class="helvetica pb-28">Al postular a la UPC debes seguir estos pasos </h5>
                                <div class="row">
                                    <div class="col-lg-1 col-md-2 col-sm-2 col-xs-3 p-14">
                                        <img src="./imagenes/preferente/ico1.png" alt="">
                                    </div>
                                    <div class="col-lg-10 col-md-10-col-sm-10 col-xs-9 p-14">
                                        <p class="helvetica-16">Realizar y presentar el recibo por pago de derecho de admisión de s/.550.</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-1 col-md-2 col-sm-2 col-xs-3 p-14">
                                        <img src="./imagenes/preferente/ico2.png" alt="">
                                    </div>
                                    <div class="col-lg-10 col-md-10-col-sm-10 col-xs-9 p-14">
                                        <p class="helvetica-16">Deberás realizar la Evaluación Integral, una prueba obligatoria que definirá si empiezas a estudiar <br>cursos de tu carrera o si  necesitas reforzar previamente algún área en particular.</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-1 col-md-2 col-sm-2 col-xs-3 p-14">
                                        <img src="./imagenes/preferente/ico3.png" alt="">
                                    </div>
                                    <div class="col-lg-10 col-md-10-col-sm-10 col-xs-9 p-14 ">
                                        <p class="helvetica-16">En caso no apruebes la Evaluación Integral o no la hayas podido rendir en la fecha indicada,<br> tienes una oportunidad más a través del Examen de Admisión.</p>
                                    </div>
                                </div>
                                <!--<div class="height-25 hidden-xs white-dashed-bottom"></div>
                                <p class="zizou-14 pt-14 pb-14">Ups! este no es mi perfil, quiero <a href="index-evento-expanded.html"><b class="text-white">cambiar de perfil</b></a></p>-->
                            </div>
                            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 requisitos  pt-14" data-ng-if="models.level===1">
                                <h1 class="pb-14 pt-14"><b>{{models.name}},</b></h1>
                                <h4 class="helvetica pt-7 interline pb-7">TU PERFIL DE INGRESO ES <b>PREFERENTE</b></h4>
                                <h5 class="helvetica pb-28">Al postular a UPC cuenta con las siguentes ventajas </h5>
                                <div class="row">
                                    <div class="col-lg-1 col-md-2 col-sm-2 col-xs-3 p-14">
                                        <img src="./imagenes/preferente/ico1.png" alt="">
                                    </div>
                                    <div class="col-lg-10 col-md-10-col-sm-10 col-xs-9 p-14">
                                        <p class="helvetica-16">No pagas el derecho de admisión de s/.550.</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-1 col-md-2 col-sm-2 col-xs-3 p-14">
                                        <img src="./imagenes/preferente/ico2.png" alt="">
                                    </div>
                                    <div class="col-lg-10 col-md-10-col-sm-10 col-xs-9 p-14">
                                        <p class="helvetica-16">Obtienes una Beca de Honor de 30% (a excepción de la carrera de Medicina). Esta condición puede ser renovada cada ciclo dependiendo de tus resultados académicos y los requisitos aplicados a tu carrera (como por ejemplo, el promedio ponderado que obtengas).</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-1 col-md-2 col-sm-2 col-xs-3 p-14">
                                        <img src="./imagenes/preferente/ico3.png" alt="">
                                    </div>
                                    <div class="col-lg-10 col-md-10-col-sm-10 col-xs-9 p-14 ">
                                        <p class="helvetica-16">Tienes la posibilidad de rendir la Evaluación Integral, una prueba escrita que evalúa tus conocimientos en letras y ciencias, y que dependiendo de tus resultados, podrías hasta convalidar cursos de 1er nivel.</p>
                                    </div>
                                </div>
                                <!--<div class="height-25 hidden-xs white-dashed-bottom"></div>
                                <p class="zizou-14 pt-14 pb-14">Ups! este no es mi perfil, quiero <a href="index-evento-expanded.html"><b class="text-white">cambiar de perfil</b></a></p>-->
                            </div>
                            <div class="col-lg-4 col-md-4 hidden-sm hidden-xs pull-right">
                                <img class="ml-ninos"  data-ng-if="models.level===2" src="./imagenes/preferente/nino-nubes1.png" alt="">
                                <img class="ml-ninos" data-ng-if="models.level===1" src="./imagenes/preferente/nina-nubes1.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="width:100%;" id="btn_financial_view">
            <div class="menujq">
                <ul>
                    <li class="desplegable">
                        <ul>
                            <li class="desplegable">
                                <div class="bg-red borde-financiamiento">
                                    <div class="container">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="clearfix"></div>
                                            <div class="p-21 text-white text-center mb-14">
                                                <div class="row">
                                                    <div class="text-center pt-14">
                                                        <div>
                                                            <div style="margin-top:20px;margin-bottom:20px;">
                                                                <span style="display:inline-block;margin:0 10px;cursor:pointer;" data-ng-click="onClick.selectTab(0)">
                                                                    <img class="p-7" src="./imagenes/ico-financiamiento-01.png" alt="">
                                                                    <p class="helvetica-12 text-white">SIMULADOR</p>
                                                                </span>
                                                                <span style="display:inline-block;margin:0 10px;cursor:pointer;" data-ng-click="onClick.selectTab(1)">
                                                                    <img class="p-7" src="./imagenes/ico-financiamiento-02.png" alt="">
                                                                    <p class="helvetica-12 text-white">FINANCIAMIENTO</p>
                                                                </span>
                                                                <span style="display:inline-block;margin:0 10px;cursor:pointer;" data-ng-click="onClick.selectTab(2)">
                                                                    <img class="p-7" src="./imagenes/financiamiento-on_03.png" alt="">
                                                                    <p class="helvetica-12 text-white">BECAS</p>
                                                                </span>
                                                            </div>
                                                            <div id="tab1" data-ng-show="models.tabs[0].active">
                                                                <div class="calcula-pension">
                                                                    <div class="col-lg-offset-1 col-md-offset-1 col-lg-5 col-md-5 col-sm-12 col-xs-12 mb-14 text-left pl-14 text-white">
                                                                        <h1 class="solano pb-21">simulador de pensiones</h1>
                                                                        <p class="helvetica-16">Con este simulador podrás conocer la escala de pago <br>aproximada que te correspondería como alumno de la UPC.</p>
                                                                        <p class="helvetica-16">
                                                                            Recuerda que cuanto más exacta sera la información que <br>proporciones, más cercano a la escala real que te toque <br>cuando ingreses será el resultado.
                                                                        </p>
                                                                    </div>
                                                                    <div class=" col-lg-4 col-md-5 col-sm-12 col-xs-12 mb-14 text-left">
                                                                        <div class="row">
                                                                            <label class="helvetica-14" for="">Colegio</label>
                                                                            <div class="form-group text-white">
                                                                                <select style="margin-top: 0%;" class="w-100 drop-down no-radius helvetica zizou-16 text-white select-white-border" data-ng-model="models.school" data-ng-options="p.name for p in models.schoolList"></select>
                                                                            </div>
                                                                        </div>
                                                                        <div class="row mt-14">
                                                                            <label class="helvetica-14" for="">Año de egreso</label>
                                                                            <div class="form-group text-white">
                                                                                <select style="margin-top: 0%;" class="w-100 drop-down no-radius helvetica zizou-16 text-white select-white-border" data-ng-model="models.year_end" data-ng-options="p.value for p in models.yearsList"></select>
                                                                            </div>
                                                                        </div>
                                                                        <div class="row mt-14">
                                                                            <label class="helvetica-14" for="">Carrera</label>
                                                                            <div class="form-group text-white">
                                                                                <select style="margin-top: 0%;" class="w-100 drop-down no-radius helvetica zizou-16 text-white select-white-border" data-ng-model="models.career" data-ng-options="p.name for p in models.careerList"></select>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="clearfix"></div>
                                                                    <!--<div class="col-lg-offset-6 col-lg-2 text-right col-md-offset-6 col-md-2 col-sm-12 col-xs-12 p-0 pt-21 pl-28 mb-7">
                                                                        <a href=""><button id="btn_int_IniciarSesion" type="submit" value="Send" class="btn btn-custom black-btn wide full-width  p-0 mt-0">Calcular pensión</button></a>
                                                                    </div>-->
                                                                    <div class="col-lg-offset-6 col-lg-2 text-right col-md-offset-6 col-md-2 col-sm-12 col-xs-12 p-0 pl-28 pt-14 mb-7">
                                                                        <button type="button"  class="btn btn-custom black-btn wide full-width  p-0 mt-0" data-ng-click="showCalcular=true">Calcular pensión</button>
                                                                    </div>
                                                                    <div class="col-lg-2 col-md-3 col-sm-12 col-xs-12" data-ng-show="showCalcular">
                                                                        <div class="resultado-simulador p-7 hidden-sm hidden-xs ml-42">
                                                                            <h2 class="solano text-white">s/. 1580.00</h2>
                                                                            <span class="text-black helvetica-12"><b>Valor aproximado</b></span>
                                                                        </div>
                                                                        <div class="resultado-simulador p-7 hidden-lg hidden-md ">
                                                                            <h1 class="solano text-white">s/. 1580.00</h1>
                                                                            <span class="text-black helvetica-12"><b>Valor aproximado</b></span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div id="tab2" data-ng-show="models.tabs[1].active">
                                                                <div class="text-center">
                                                                    <h1 class="solano text-white pb-21">Financiamiento UPC</h1>
                                                                    <p class="helvetica-14 text-white">En la UPC buscamos resolver todas tus consultas sobre pagos y financiamiento. Lo que más nos importa es que logres tus metas <br>universitarias e inviertas en una educacción al más alto nivel sin preocuparte ni dejar de avanzar.</p>
                                                                    <div class="container">
                                                                        <div class="row">
                                                                            <div class="col-md-12">
                                                                                <div class="carousel slide hidden-sm hidden-xs">
                                                                                    <!-- Carousel items -->
                                                                                    <div class="carousel-inner" style="height: 280px;">
                                                                                        <div class="item active">
                                                                                            <div class="row">
                                                                                                <div class="col-lg-offset-1 col-lg-5 col-md-5 col-sm-6 col-xs-12 mb-14">
                                                                                                    <div class="thumbnail">
                                                                                                        <div class="bg-financiamiento pt-14 pb-14">
                                                                                                            <h4 class="helvetica-14 text-black pt-14 pb-14"><b>Canales de atención</b></h4>
                                                                                                            <ul class="text-left helvetica-12 pl-14 pr-7" style="display: block;">
                                                                                                                <p class="text-white helvetica-12 pt-0">● Contacto presencial, a través de Atención al alumno</p>
                                                                                                                <p class="text-white helvetica-12 pt-0">● Contacto telefónico, a través del 630-3333</p>
                                                                                                                <p class="text-white helvetica-12 pt-0">● Contacto WEB, a trvés de la Intranet del alumno.</p>
                                                                                                            </ul>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                </div>
                                                                                                <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12 mb-14">
                                                                                                    <div class="thumbnail">
                                                                                                        <div class="bg-financiamiento pt-14 pb-14">
                                                                                                            <h4 class="helvetica-14 text-black pt-14 pb-14"><b>Becas y recategorizaciones</b></h4>
                                                                                                            <ul class="text-left helvetica-12 pl-14 pr-7" style="display: block;">
                                                                                                                <p class="text-white helvetica-12 pt-0">● Facilidades de pago y consultas con un asesor de cobranzas (A través de contacto Web).</p>
                                                                                                                <p class="text-white helvetica-12 pt-0">● Medios de pago rápidos y seguros.</p>
                                                                                                                <p class="text-white helvetica-12 pt-0">● Notificacines de vencimiento de cuotas.</p>
                                                                                                                <p class="text-white helvetica-12 pt-0">● Emisión de constancias de No Adeudo (A través de Intranet).</p>
                                                                                                                <p class="text-white helvetica-12 pt-0">● Otros servicios.</p>
                                                                                                            </ul>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                            <!--.row-->
                                                                                        </div>
                                                                                        <!--.item-->
                                                                                    </div>
                                                                                    <!--.carousel-inner-->
                                                                                </div>
                                                                                <!--.Carousel-->

                                                                                <div class="carousel slide hidden-lg hidden-md">
                                                                                    <!-- Carousel items -->
                                                                                    <div class="carousel-inner">
                                                                                        <div class="item active">
                                                                                            <div class="row" data-ui-slider data-ui-render="renderFinancial" data-ui-prev="prevSliderFinancialMobile" data-ui-next="nextSliderFinancialMobile">
                                                                                                <div class="col-lg-offset-1 col-lg-5 col-md-5 col-sm-6 col-xs-12 mb-14">
                                                                                                    <div class="thumbnail">
                                                                                                        <div class="bg-financiamiento pt-14 pb-14">
                                                                                                            <h4 class="helvetica-14 text-black pt-14 pb-14"><b>Canales de atención</b></h4>
                                                                                                            <ul class="text-left helvetica-12 pl-14 pr-7" style="display: block;">
                                                                                                                <p class="text-white helvetica-12 pt-0">● Contacto presencial, a través de Atención al alumno</p>
                                                                                                                <p class="text-white helvetica-12 pt-0">● Contacto telefónico, a través del 630-3333</p>
                                                                                                                <p class="text-white helvetica-12 pt-0">● Contacto WEB, a trvés de la Intranet del alumno.</p>
                                                                                                            </ul>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                </div>
                                                                                                <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12 mb-14">
                                                                                                    <div class="thumbnail">
                                                                                                        <div class="bg-financiamiento pt-14 pb-14">
                                                                                                            <h4 class="helvetica-14 text-black pt-14 pb-14"><b>Becas y recategorizaciones</b></h4>
                                                                                                            <ul class="text-left helvetica-12 pl-14 pr-7" style="display: block;">
                                                                                                                <p class="text-white helvetica-12 pt-0">● Facilidades de pago y consultas con un asesor de cobranzas (A través de contacto Web).</p>
                                                                                                                <p class="text-white helvetica-12 pt-0">● Medios de pago rápidos y seguros.</p>
                                                                                                                <p class="text-white helvetica-12 pt-0">● Notificacines de vencimiento de cuotas.</p>
                                                                                                                <p class="text-white helvetica-12 pt-0">● Emisión de constancias de No Adeudo (A través de Intranet).</p>
                                                                                                                <p class="text-white helvetica-12 pt-0">● Otros servicios.</p>
                                                                                                            </ul>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                            <!--.row-->
                                                                                        </div>
                                                                                        <!--.item-->
                                                                                    </div>
                                                                                    <!--.carousel-inner-->
                                                                                    <a href="" class="left carousel-control" data-ng-click="prevSliderFinancialMobile=true;"><i class="text-black  fa fa-2x fa-chevron-left" aria-hidden="true"></i></a>
                                                                                    <a href="" class="right carousel-control" data-ng-click="nextSliderFinancialMobile=true;"><i class="text-black  fa fa-2x fa-chevron-right" aria-hidden="true"></i></a>
                                                                                </div>
                                                                                <!--.Carousel-->

                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <!--.container-->
                                                                </div>
                                                            </div>
                                                            <div id="tab3" data-ng-show="models.tabs[2].active">
                                                                <div class="text-center">
                                                                    <h1 class="solano text-white pb-21">Becas y financiamientos</h1>
                                                                    <p class="helvetica-14 text-white">UPC  te ofrece diversas opciones de financiamiento para que puedas solventar tus estudios. Queremos que <br>alcances todos tus objetivos académicos y que tus oportunidades se amplien perfectamente.</p>
                                                                    <div class="container">
                                                                        <div class="row">
                                                                            <div class="col-md-12">
                                                                                <div  class="carousel slide hidden-xs hidden-sm">
                                                                                    <!-- Carousel items -->
                                                                                    <div style="height: 280px;" data-ui-slider data-ui-render="renderBecas" data-ui-prev="prevSliderBecas" data-ui-next="nextSliderBecas">
                                                                                        <div class="item active">
                                                                                            <div class="row">
                                                                                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 mb-14">
                                                                                                    <div class="thumbnail">
                                                                                                        <div class="bg-becas pt-14 pb-14">
                                                                                                            <h4 class="helvetica-14 text-black pt-14 pb-14"><b>Becas Internas Alumnos</b></h4>
                                                                                                            <ul class="text-left pl-14 pr-7" style="display: block;">
                                                                                                                <p class="text-white helvetica-12 pt-0">● Beca de honor UPC</p>
                                                                                                                <p class="text-white helvetica-12 pt-0">● Beca Laureate</p>
                                                                                                                <p class="text-white helvetica-12 pt-0">● Recategorización socioeconómica</p>
                                                                                                                <p class="text-white helvetica-12 pt-0">● Beca Socioeconómica</p>
                                                                                                                <p class="text-white helvetica-12 pt-0">● Recategorización por hermano o padre</p>
                                                                                                                <p class="text-white helvetica-12 pt-0">● Beca deportiva de alto rendimiento</p>
                                                                                                                <p class="text-white helvetica-12 pt-0">● Beca Deportiva Seleccionados nacionales</p>
                                                                                                            </ul>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                </div>
                                                                                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 mb-14">
                                                                                                    <div class="thumbnail">
                                                                                                        <div class="bg-becas pt-14 pb-14">
                                                                                                            <h4 class="helvetica-14 text-black pt-14 pb-14"><b>Becas Internas Postulantes</b></h4>
                                                                                                            <ul class="text-left  pl-14 pr-7" style="display: block;">
                                                                                                                <p class="text-white helvetica-12 pt-0">● Beca de honor</p>
                                                                                                                <p class="text-white helvetica-12 pt-0">● Recategorización</p>
                                                                                                                <p class="text-white helvetica-12 pt-0">● Beca socioeconómica</p>
                                                                                                                <p class="text-white helvetica-12 pt-0">● Beca deportiva</p>
                                                                                                            </ul>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                </div>
                                                                                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 mb-14">
                                                                                                    <div class="thumbnail">
                                                                                                        <div class="bg-becas pt-14 pb-14">
                                                                                                            <h4 class="helvetica-14 text-black pt-14 pb-14"><b>Becas Externas Postulantes</b></h4>
                                                                                                            <ul class="text-left helvetica-12 pl-14  pr-7" style="display: block;">
                                                                                                                <p class="text-white helvetica-12 pt-0">● Beca vocación de maestro</p>
                                                                                                                <p class="text-white helvetica-12 pt-0">● Beca 18</p>
                                                                                                                <p class="text-white helvetica-12 pt-0">● Beca CAFED</p>
                                                                                                            </ul>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                            <!--.row-->
                                                                                        </div>
                                                                                        <!--.item-->
                                                                                        <div class="item">
                                                                                            <div class="row">
                                                                                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 mb-14">
                                                                                                    <div class="thumbnail">
                                                                                                        <div class="bg-becas pt-14 pb-14">
                                                                                                            <h4 class="helvetica-14 text-black pt-14 pb-14"><b>Becas Externas Postulantes</b></h4>
                                                                                                            <ul class="text-left helvetica-12 pl-14  pr-7" style="display: block;">
                                                                                                                <p class="text-white helvetica-12 pt-0">● Beca vocación de maestro</p>
                                                                                                                <p class="text-white helvetica-12 pt-0">● Beca 18</p>
                                                                                                                <p class="text-white helvetica-12 pt-0">● Beca CAFED</p>
                                                                                                            </ul>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                </div>
                                                                                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 mb-14">
                                                                                                        <div class="thumbnail">
                                                                                                            <div class="bg-becas pt-14 pb-14">
                                                                                                                <h4 class="helvetica-14 text-black pt-14 pb-14"><b>Becas Internas Alumnos</b></h4>
                                                                                                                <ul class="text-left helvetica-12 pl-14  pr-7" style="display: block;">
                                                                                                                    <p class="text-white helvetica-12 pt-0">● Beca vocación de maestro</p>
                                                                                                                    <p class="text-white helvetica-12 pt-0">● Beca 18</p>
                                                                                                                    <p class="text-white helvetica-12 pt-0">● Beca CAFED</p>
                                                                                                                </ul>
                                                                                                            </div>
                                                                                                        </div>
                                                                                                    </div>
                                                                                            </div>
                                                                                            <!--.row-->
                                                                                        </div>
                                                                                        <!--.item-->
                                                                                    </div>
                                                                                    <!--.carousel-inner-->
                                                                                    <a href="" class="left carousel-control" data-ng-click="prevSliderBecas=true;"><i class="text-black  fa fa-2x fa-chevron-left" aria-hidden="true"></i></a>
                                                                                    <a href="" class="right carousel-control" data-ng-click="nextSliderBecas=true;"><i class="text-black  fa fa-2x fa-chevron-right" aria-hidden="true"></i></a>
                                                                                </div>
                                                                                <!--.Carousel-->
                                                                                <div class="carousel slide hidden-lg hidden-md">
                                                                                    <!-- Carousel items -->
                                                                                    <div>
                                                                                        <div class="item active">
                                                                                            <div class="row" data-ui-slider data-ui-render="renderBecas" data-ui-prev="prevSliderBecasMobile" data-ui-next="nextSliderBecasMobile" >
                                                                                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 mb-14">
                                                                                                    <div class="thumbnail">
                                                                                                        <div class="bg-becas pt-14 pb-14">
                                                                                                            <h4 class="helvetica-14 text-black pt-14 pb-14"><b>Becas Internas Alumnos</b></h4>
                                                                                                            <ul class="text-left pl-14 pr-7" style="display: block;">
                                                                                                                <p class="text-white helvetica-12 pt-0">● Beca de honor UPC</p>
                                                                                                                <p class="text-white helvetica-12 pt-0">● Beca Laureate</p>
                                                                                                                <p class="text-white helvetica-12 pt-0">● Recategorización socioeconómica</p>
                                                                                                                <p class="text-white helvetica-12 pt-0">● Beca Socioeconómica</p>
                                                                                                                <p class="text-white helvetica-12 pt-0">● Recategorización por hermano o padre</p>
                                                                                                                <p class="text-white helvetica-12 pt-0">● Beca deportiva de alto rendimiento</p>
                                                                                                                <p class="text-white helvetica-12 pt-0">● Beca Deportiva Seleccionados nacionales</p>
                                                                                                            </ul>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                </div>
                                                                                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 mb-14">
                                                                                                    <div class="thumbnail">
                                                                                                        <div class="bg-becas pt-14 pb-14">
                                                                                                            <h4 class="helvetica-14 text-black pt-14 pb-14"><b>Becas Internas Postulantes</b></h4>
                                                                                                            <ul class="text-left  pl-14 pr-7" style="display: block;">
                                                                                                                <p class="text-white helvetica-12 pt-0">● Beca de honor</p>
                                                                                                                <p class="text-white helvetica-12 pt-0">● Recategorización</p>
                                                                                                                <p class="text-white helvetica-12 pt-0">● Beca socioeconómica</p>
                                                                                                                <p class="text-white helvetica-12 pt-0">● Beca deportiva</p>
                                                                                                            </ul>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                </div>
                                                                                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 mb-14">
                                                                                                    <div class="thumbnail">
                                                                                                        <div class="bg-becas pt-14 pb-14">
                                                                                                            <h4 class="helvetica-14 text-black pt-14 pb-14"><b>Becas Externas Postulantes</b></h4>
                                                                                                            <ul class="text-left helvetica-12 pl-14  pr-7" style="display: block;">
                                                                                                                <p class="text-white helvetica-12 pt-0">● Beca vocación de maestro</p>
                                                                                                                <p class="text-white helvetica-12 pt-0">● Beca 18</p>
                                                                                                                <p class="text-white helvetica-12 pt-0">● Beca CAFED</p>
                                                                                                            </ul>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                </div>
                                                                                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 mb-14">
                                                                                                    <div class="thumbnail">
                                                                                                        <div class="bg-becas pt-14 pb-14">
                                                                                                            <h4 class="helvetica-14 text-black pt-14 pb-14"><b>Becas Externas Postulantes</b></h4>
                                                                                                            <ul class="text-left helvetica-12 pl-14  pr-7" style="display: block;">
                                                                                                                <p class="text-white helvetica-12 pt-0">● Beca vocación de maestro</p>
                                                                                                                <p class="text-white helvetica-12 pt-0">● Beca 18</p>
                                                                                                                <p class="text-white helvetica-12 pt-0">● Beca CAFED</p>
                                                                                                            </ul>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                </div>
                                                                                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 mb-14">
                                                                                                        <div class="thumbnail">
                                                                                                            <div class="bg-becas pt-14 pb-14">
                                                                                                                <h4 class="helvetica-14 text-black pt-14 pb-14"><b>Becas Internas Alumnos</b></h4>
                                                                                                                <ul class="text-left helvetica-12 pl-14  pr-7" style="display: block;">
                                                                                                                    <p class="text-white helvetica-12 pt-0">● Beca vocación de maestro</p>
                                                                                                                    <p class="text-white helvetica-12 pt-0">● Beca 18</p>
                                                                                                                    <p class="text-white helvetica-12 pt-0">● Beca CAFED</p>
                                                                                                                </ul>
                                                                                                            </div>
                                                                                                        </div>
                                                                                                    </div>
                                                                                            </div>
                                                                                            <!--.row-->
                                                                                        </div>
                                                                                    </div>
                                                                                    <!--.carousel-inner-->
                                                                                    <a href="" class="left carousel-control" data-ng-click="prevSliderBecasMobile=true;"><i class="text-black  fa fa-2x fa-chevron-left" aria-hidden="true"></i></a>
                                                                                    <a href="" class="right carousel-control" data-ng-click="nextSliderBecasMobile=true;"><i class="text-black  fa fa-2x fa-chevron-right" aria-hidden="true"></i></a>
                                                                                </div>
                                                                                <!--.Carousel-->
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <!--.container-->
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                    <div class="height-100"></div>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<section class="pt-28 pb-28 bg-general"  data-ui-night>
    <div class="height-25"></div>
    <div class="container">


        <ui-convenio data-ng-show="models.level===1"  data-ui-facultades="models.facultades" data-ui-render="renderFacultadesConvenios" data-ui-convenios="conveniosMobile" data-ui-render-convenios="renderConveniosMobile" data-ui-detail="conveniosDetail"></ui-convenio>

        <div class="height-25 "></div>

        <div class="row" data-ng-class="{'mt-14':showFacultadesCampus,'m-5':showFacultadesCampus,'capa-amarilla':showFacultadesCampus,'mb-21':showFacultadesCampus,'mb-28':!showFacultadesCampus}">

            <div class="col-md-4 col-sm-12 col-xs-12" data-ng-class="{'col-lg-3':showFacultadesCampus,'col-lg-4':!showFacultadesCampus}">
                <a href="" data-ng-click="showFacultadesCampus=true">
                    <div class="eventos">
                        <img class="w-100 hidden-lg hidden-md" src="./imagenes/collapsed-down.png" alt="">
                        <img class="hidden-xs hidden-sm" src="./imagenes/eventos-desplegado_03.png" alt="">
                    </div>
                </a>
            </div>

            <div class="col-md-8 col-sm-12 col-xs-12 p-0 " data-ng-class="{'col-lg-9':showFacultadesCampus,'col-lg-8':!showFacultadesCampus}">
                <div data-ui-resize data-ui-render="showFacultadesCampus" style="overflow:hidden;height:327px;width:0px;">
                    <div class="eventos-colapsado pd-l-14">
                        <div class="col-lg-12 mb-14  pl-0" style="margin-top:8px;">
                            <div class="bg-white pl-14 pt-14 pr-14 border-left-points mn-l-7 evento-expanded-bg border-left-none">

                                <ui-evento data></ui-evento>

                            </div>
                            <img class="hidden-sm hidden-xs" data-ng-click="showFacultadesCampus=false" src="./imagenes/button-left.png" alt="" style="position:absolute;right:5px;top:150px;cursor:pointer;">
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>


            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" data-ui-fade data-ui-render="showFacultadesCampus">

                <div class="ultimos">
                    <div class="mensaje">
                      <div class="panel-group">
                        <div>
                            <div class="panel-heading">
                                <a href="" data-ui-icon-button="no" data-ui-render="slideFacultadesDesktopRender" data-ui-open="slideFacultadesDesktopIsOpen">
                                  <div class="carreras-2 p-42 mb-14 ">
                                    <h1 class="uppercasse solano text-white pb-28"> 13 facultades con <br>42 carreras</h1>
                                    <div class="clearfix"></div>
                                    <p class=" zizou-16 text-white">Hay una diseñada especialmente para ti</p>
                                </div>
                            </a><div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                            <a href="" data-ui-icon-button data-ui-render="slideFacultadesDesktopRender" data-ui-open="slideFacultadesDesktopIsOpen"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

                <!--<div id="carreras">
                    <div class="carreras-2 p-42 mb-14 ">
                        <h1 class="uppercasse solano text-white pb-28"> 13 facultades con <br>42 carreras</h1>
                        <div class="clearfix"></div>
                        <p class=" zizou-16 text-white">Hay una diseñada especialmente para tixxx</p>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                        <a href="" data-ui-icon-button data-ui-render="slideFacultadesDesktopRender" data-ui-open="slideFacultadesDesktopIsOpen"></a>
                    </div>
                </div>-->
            </div>

            <ui-facultades-mobile data-ng-show="!showFacultadesCampus" data-ui-render="slideFacultadesDesktopRender" data-ui-items="models.facultades" data-ui-open="slideFacultadesDesktopIsOpen"></ui-facultades-mobile>
            
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"  data-ui-fade data-ui-render="showFacultadesCampus">
                <!--<div id="campus">
                    <div class="campus-2 p-42 mb-14">
                        <h1 class="uppercasse solano text-white pb-28"> 4 campus full <br>equipados</h1>
                        <div class="clearfix"></div>
                        <p class="zizou-18 text-white">Ubica el más cercano a tu casa</p>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                        <a href="" data-ui-icon-button data-ui-render="slideCampusDesktopRender" data-ui-open="slideCampusDesktopIsOpen"></a>
                    </div>
                </div>-->

                <div class="ultimos">
                    <div class="mensaje">
                      <div class="panel-group">
                        <div>
                            <div class="panel-heading">
                                <a href="" data-ui-icon-button="no" data-ui-render="slideCampusDesktopRender" data-ui-open="slideCampusDesktopIsOpen">
                                  <div class="campus-2 p-42 mb-14">
                                    <h1 class="uppercasse solano text-white pb-28"> 4 campus full <br>equipados</h1>
                                    <div class="clearfix"></div>
                                    <p class="zizou-18 text-white">Ubica el más cercano a tu casa</p>
                                </div>
                            </a>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                                <a href="" data-ui-icon-button data-ui-render="slideCampusDesktopRender" data-ui-open="slideCampusDesktopIsOpen"></a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>


    </div>

</div>

<div class="row" data-ui-fade-other data-ui-render="showFacultadesCampus">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 mt-14">
        <!--<div id="carreras">
            <div class="carreras-2 p-42 mb-14 ">
                <h1 class="uppercasse solano text-white pb-28"> 13 facultades con <br>42 carreras</h1>
                <div class="clearfix"></div>
                <p class=" zizou-16 text-white">Hay una diseñada especialmente para ti</p>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                <a href="" data-ui-icon-button data-ui-render="slideFacultadesDesktopRender" data-ui-open="slideFacultadesDesktopIsOpen"></a>
            </div>
        </div>  --> 
        <div class="ultimos">
                    <div class="mensaje">
                      <div class="panel-group">
                        <div>
                            <div class="panel-heading">
                                <a href="" data-ui-icon-button="no" data-ui-render="slideFacultadesDesktopRender" data-ui-open="slideFacultadesDesktopIsOpen">
                                  <div class="carreras-2 p-42 mb-14 ">
                                    <h1 class="uppercasse solano text-white pb-28"> 13 facultades con <br>42 carreras</h1>
                                    <div class="clearfix"></div>
                                    <p class=" zizou-16 text-white">Hay una diseñada especialmente para ti</p>
                                </div>
                            </a><div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                            <a href="" data-ui-icon-button data-ui-render="slideFacultadesDesktopRender" data-ui-open="slideFacultadesDesktopIsOpen"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<ui-facultades-mobile data-ui-render="slideFacultadesDesktopRender" data-ui-items="models.facultades" data-ui-open="slideFacultadesDesktopIsOpen"></ui-facultades-mobile>

<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 mt-14">
    <!--<div id="campus">
        <div class="campus-2 p-42 mb-14">
            <h1 class="uppercasse solano text-white pb-28"> 4 campus full <br>equipados</h1>
            <div class="clearfix"></div>
            <p class="zizou-18 text-white">Ubica el más cercano a tu casa</p>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
            <a href="" data-ui-icon-button data-ui-render="slideCampusDesktopRender" data-ui-open="slideCampusDesktopIsOpen"></a>
        </div>
    </div>-->

    <div class="ultimos">
                    <div class="mensaje">
                      <div class="panel-group">
                        <div>
                            <div class="panel-heading">
                                <a href="" data-ui-icon-button="no" data-ui-render="slideCampusDesktopRender" data-ui-open="slideCampusDesktopIsOpen">
                                  <div class="campus-2 p-42 mb-14">
                                    <h1 class="uppercasse solano text-white pb-28"> 4 campus full <br>equipados</h1>
                                    <div class="clearfix"></div>
                                    <p class="zizou-18 text-white">Ubica el más cercano a tu casa</p>
                                </div>
                            </a>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                                <a href="" data-ui-icon-button data-ui-render="slideCampusDesktopRender" data-ui-open="slideCampusDesktopIsOpen"></a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

</div>
</div>

<ui-facultades-desktop data-ui-render="slideFacultadesDesktopRender" data-ui-items="models.facultades" data-ui-open="slideFacultadesDesktopIsOpen"></ui-facultades-desktop>

<ui-campus-desktop data-ui-render="slideCampusDesktopRender" data-ui-items="models.campusList" data-ui-open="slideCampusDesktopIsOpen"></ui-campus-desktop>

<div class="row" data-ng-if="models.level===2">
    <!--<div id="convenios" class="col-lg-6 col-md-6 col-sm-12 col-xs-12" data-toggle="collapse" data-target="#demo3">
        <div class="convenios-2 p-42 mb-14">
            <h1 class="uppercasse solano text-white"> Más de 80 convenios <br>internacionales</h1>
            <div class="clearfix"></div>
            <p class="zizou-18 text-white">Estudias en UPC, estudiasx en el mundo. <br>¡Averigua cómo!</p>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
            <a href="" id="btn-convenios-slider-desktop">
                <img class="button-small" src="./imagenes/button-down-2.png" alt=""></a>
            </div>
        </div>-->

<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
        <div class="ultimos">
            <div class="mensaje">
              <div class="panel-group">
                <div>
                <div class="panel-heading p-0">
            <a href="" data-ui-icon-button="no" data-ui-render="$parent.conveniosDesktopRender" data-ui-open="$parent.conveniosDesktopIsOpen">
                  <div class="convenios-2 p-42 mb-14">
                    <h1 class="uppercasse solano text-white"> Más de 80 convenios <br>internacionales</h1>
                    <div class="clearfix"></div>
                    <p class="zizou-18 text-white">Estudias en UPC, estudias en el mundo. <br>¡Averigua cómo!</p>
                </div>
            </a>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                <a href="" data-ui-icon-button data-ui-render="$parent.conveniosDesktopRender" data-ui-open="$parent.conveniosDesktopIsOpen"></a>
            </div>
        </div>
        </div>
    </div>
    </div>
    </div>
</div>

        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 mb-14 hidden-xs hidden-sm">
            <a href="#/aptitud">
                <div class="vive-apptitud">
                    <div class="caja-negra-transparente text-white">
                        <h2 class="solano uppercasse">Vive apptitud:</h2>
                        <h4 class="zizou--bold-14">Experimenta la universidad digital</h4>
                    </div>
                </div>
            </a>
        </div>
    </div>


    <ui-convenio  data-ui-animation="conveniosDesktopRender" data-ui-open="conveniosDesktopIsOpen" data-ui-facultades="models.facultades" data-ui-render="renderFacultadesConvenios" data-ui-convenios="conveniosMobile" data-ui-render-convenios="renderConveniosMobile" data-ui-detail="conveniosDetail"></ui-convenio>

    <div class="height-25"></div>
    <div class="row hidden-lg hidden-md">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 mb-14">
            <a href="#/aptitud">
                <div class="vive-apptitud">
                    <div class="caja-negra-transparente text-white">
                        <h2 class="solano uppercasse">Vive apptitud:</h2>
                        <h4 class="zizou--bold-14">Experimenta la universidad digital</h4>
                    </div>
                </div>
            </a>
        </div>
    </div>


    <div class="row" data-ng-if="models.level===1">
        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 mb-21 hidden-xs hidden-sm">
            <a href="#/aptitud">
                <div class="vive-apptitud2">
                    <div class="caja-negra-transparente text-white">
                        <h2 class="solano uppercasse">Vive apptitud</h2>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-9 col-md-6 col-sm-12 col-xs-12 mb-14">
            <a href="#/acreditaciones">
                <div class="decano-preferente">
                    <div class="caja-negra-transparente text-white">
                        <h2 class="solano uppercasse">Ranking y acreditaciones</h2>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="row" data-ng-if="models.level===2">
        <div class="height-50 hidden-sm hidden-xs"></div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 mb-14">
            <a href="#/acreditaciones">
                <div class="decano">
                    <div class="caja-negra-transparente text-white">
                        <h2 class="solano uppercasse">Ranking y acreditaciones</h2>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 mb-14">
            <a href="#/testimonios">
                <div class="testimonios-2">
                    <div class="caja-negra-transparente text-white">
                        <h2 class="solano uppercasse">Testimonios</h2>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 mb-14">
            <a href="https://www.youtube.com/user/UPCedupe" target="_blank">
                <div class="videos p-35">
                    <img src="./imagenes/preferente/videos.png" alt="">
                    <div class="caja-transparente text-white">
                        <h2 class="solano uppercasse">videos</h2>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="row" data-ng-if="models.level===1">
        <div class="height-50 hidden-sm hidden-xs"></div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 mb-14">
            <a href="#/testimonios">
                <div class="testimonios-preferente">
                    <div class="caja-negra-transparente text-white">
                        <h2 class="solano uppercasse">Testimonios</h2>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 mb-14">
            <a href="https://www.youtube.com/user/UPCedupe" target="_blank">
                <div class="videos-preferente p-35">
                    <img src="./imagenes/preferente/videos.png" alt="">
                    <div class="caja-transparente text-white">
                        <h2 class="solano uppercasse">videos</h2>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="height-50 hidden-sm hidden-xs"></div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 mb-14" data-ng-if="models.level===2">
            <div class="frase-aleatoria text-center text-white p-35" data-ui-frase-aleatoria data-ui-render="models.phrasesRender">
                <div data-ng-repeat="row in models.phrases">
                    <p class="text-left zizou-14">Sabias que...</p>
                    <h2 class="solano ">{{row.titulo}}</h2>
                    <h4 class="solano pb-14">({{row.estudio}})</h4>
                    <div class="white-dashed-bottom pb-14"></div>
                    <p class="zizou-14 pt-7">Averigua más <a class="text-white" href="{{row.url}}" target="_blank">aquí</a></p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 mb-14">
            <a href="#/vida-universitaria">
                <div class="vida-u-2 p-35">
                    <div class="caja-transparente text-white">
                        <h1 class="solano uppercasse">Vida Universitaria</h1>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 mb-14">
            <a href="#/deportes">
                <div class="deportes-2">
                    <div class="caja-negra-transparente text-white">
                        <h2 class="solano uppercasse">Deportes</h2>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 mb-14" data-ng-if="models.level===1">
            <div class="frase-aleatoria text-center text-white p-35" data-ui-frase-aleatoria data-ui-render="models.phrasesRender">
                <div data-ng-repeat="row in models.phrases">
                    <p class="text-left zizou-14">Sabias que...</p>
                    <h2 class="solano ">{{row.titulo}}</h2>
                    <h4 class="solano pb-14">({{row.estudio}})</h4>
                    <div class="white-dashed-bottom pb-14"></div>
                    <p class="zizou-14 pt-7">Averigua más <a class="text-white" href="{{row.url}}" target="_blank">aquí</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--aqui termina container-->
<div class="height-200"></div>
</section>
<ui-footer></ui-footer>


<ui-modal-convenio-mobile data-ui-convenios="conveniosMobile" data-ui-render="renderConveniosMobile"></ui-modal-convenio-mobile>
<ui-modal-convenio data-ui-detail="conveniosDetail"></ui-modal-convenio>

<!--
<div class="modal fade bg-white-transparent" id="modalConvenioMobile" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none;">
    <div class="modal-dialog" role="document">
        <div class="p-0">
            <div class=" p-0">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><img src="./imagenes/testimonios/close2.png" alt=""></button>
                <div class="clearfix"></div>
            </div>
            <div class="bg-white ">
                
                <div class="row">
                    <div class="text-responsive text-black">
                        <h2>Estudias en UPC, estudias en el mundo</h2>
                        <p class="zizou-14">Sé un comunicador que viva una verdadera experiencia internacional</p>
                    </div>
                    <a href="" style="position:absolute;top:50%;left:10px;z-index:2;" data-ng-click="clickPrevConveniosMobile=true"><img style="width:15px" class="" src="./imagenes/izq.png" alt=""></a>
                    <a href="" style="position:absolute;top:50%;right:10px;z-index:2;" data-ng-click="clickNextConveniosMobile=true"><img style="width:15px" class=" pull-right" src="./imagenes/der.png" alt=""></a>
                    <div data-ui-slider data-ui-prev="clickPrevConveniosMobile" data-ui-next="clickNextConveniosMobile" data-ui-render="renderSliderConveniosMobile">
                        <div data-ng-repeat="row in conveniosIteratorMobile">
                            <div class="row text-center" data-ng-repeat="r in row">
                                <div class=" col-xs-6"  data-ng-repeat="x in r">
                                    <a href="">
                                        <img class="img-100px" data-ng-src="{{x.image}}" alt="{{x.country}}">
                                        <p class="solano-bold-14 pt-7">{{x.country}} <br> <span class="zizou-14">{{x.description}}</span></p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-center pb-14">
                        <a href="http://upc.edu.pe" target="_blank" class="btn btn-custom black-btn wide  p-0 mt-0">Conoce más aquí</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>-->

<div class="modal fade bs-example-modal-lg" id="modalEventos" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class=" p-0">
            <div class=" p-0">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><img src="./imagenes/testimonios/close2.png" alt=""></button>
                <div class="clearfix"></div>
            </div>
            <div class="height-75 hidden-sm hidden-xs"></div>
            <div>
                <!--INGRESAR CONTENIDO-->
                <div class="capa-evento col-lg-6 col-md-6 col-sm-12 col-xs-12 pt-5 pl-5 pr-0">
                    <div class="campus-evento ">
                        <div style="margin-left: -5px;" class="pull-left mt-28 bg-red p-14">
                            <h2 style="font-size: 20px" class="solano text-white">Talleres Vivenciales</h2>
                        </div>
                    </div>
                    <div class="pl-21">
                        <p class="zizou-18 text-white black-line-bottom pt-28 pb-14">¿Quieres conocer cualquiera de nuestros 4 campus UPC a través de un tour guiado?</p>
                        <p class="helvetica-14 pb-14" style="color: #000;">Te invitamos a participar de los talleres vivenciales donde podrás vivir de cerca tu futura profesión. Además, podrás conocer todo lo que la UPC te ofrece para que puedas desarrollar al máximo todo tu talento.</p>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
                            <div class="pl-21">
                                <div class="row pt-7 pb-7">
                                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                                        <img src="./imagenes/calendar.png" alt="" style="width: 20px;">
                                    </div>
                                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                                        <p class="helvetica-14 text-black">20 de Enero</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                                        <img src="./imagenes/reloj.png" alt="" style="width: 20px;">
                                    </div>
                                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                                        <p class="helvetica-14 text-black">De 14:30h a 18:30h</p>
                                    </div>
                                </div>
                                <div class="row pt-7 pb-7">
                                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                                        <img src="./imagenes/sobre-rojo.png" alt="" style="width: 20px;">
                                    </div>
                                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                                        <a href="#">
                                            <p class="helvetica-14 text-blue">eventos@upc.edu.pe</p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <div class="row pt-7 pb-7 pl-21">
                                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                                    <img src="./imagenes/location.png" alt="" style="width: 20px;">
                                </div>
                                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                                    <p class="helvetica-14 text-black">Campus</p>
                                    <a href="#"><span class="helvetica-14 text-blue">San Miguel, San Isidro, Monterrico y Villa</span></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pt-7 pb-7 pt-14">
                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 pl-21">
                                <a href="form-basico.html"><input type="button" value="Quiero ir" style="background: #ff0000;" class="mt-14 mb-14 no-radius sm btn btn-danger solano-17"></a>
                            </div>
                            <div class="col-lg-offset-1 col-lg-6 pt-14">
                                <div class="col-lg-offset-4 col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                    <a href="#"><img src="./imagenes/globales/1X/fb-blanco.png" alt="" style="width: 8px;"></a>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                    <a href="#"><img src="./imagenes/globales/1X/g-blanco.png" alt="" style="width: 15px;"></a>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                    <a href="#"><img src="./imagenes/globales/1X/tw-blanco.png" alt="" style="width: 15px;"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="hidden-lg hidden-md height-50"></div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 capa-evento pl-0 pr-11" style="margin: -6% 0%;">
                    <div class="bg-white m-5 p-14">
                        <h2 class="solano text-blue">FILTRAR</h2>
                        <div class="hidden-xs">
                            <div class="input-group text-black">
                                <input type="text" class="no-radius helvetica-14 text-black input-grey-border" placeholder="Elegir fecha">
                                <span class="input-group-btn">
                                    <button class="btn bg-white btn-secondary" type="button">
                                        <img style="width:20px;" src="./imagenes/calendar-negro.png" alt="">
                                    </button>
                                </span>
                            </div>
                        </div>
                        <div class="p-7">
                            <h4 class="pt-7 pb-7 titulares"><b>Tipo</b></h4>
                            <button type="button" class="btn btn-style helvetica-12  no-radius mr-5">Charla</button>
                            <button type="button" class="btn btn-style helvetica-12  no-radius mr-5">Charla Virtual</button>
                            <button type="button" class="btn btn-style helvetica-12  no-radius mr-5">Feria</button>
                            <button type="button" class="btn btn-style helvetica-12  no-radius mr-5">Taller</button>
                        </div>
                        <div class="p-7">
                            <h4 class="pt-7 pb-7 titulares"><b>Facultad</b></h4>
                            <button type="button" class="btn text-white bg-blue helvetica-12 no-radius mr-5">Charla X</button>
                            <button type="button" class="btn text-white bg-blue helvetica-12 no-radius mr-5">Charla  Virtual X</button>
                            <div class="input-group text-black">
                                <input type="text" class="no-radius helvetica-14 text-black input-grey-border" placeholder="Elegir fecha">
                                <span class="input-group-btn">
                                    <button class="btn bg-white btn-secondary" type="button">
                                        <img style="width:20px;" src="./imagenes/search.png" alt="">
                                    </button>
                                </span>
                            </div>
                        </div>
                        <div class="p-7">
                            <h4 class="pt-7 pb-7 titulares"><b>Campus</b></h4>
                            <button type="button" class="btn text-white bg-blue helvetica-12 no-radius">Monterrico ✓</button>
                            <button type="button" class="btn text-white bg-blue helvetica-12 no-radius">Villa</button>
                            <button type="button" class="btn text-white bg-blue helvetica-12 no-radius">San Miguel ✓</button>
                            <button type="button" class="btn text-white bg-blue helvetica-12 no-radius">San Isidro</button>
                            <!--Al dar clic a los campus de arriba debe cambiar el mapa por el de la ubicación del mismo-->
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="bg-mapa-modal ubicacion-campus-eventos m-5 pt-14">
                        <div class="pl-21">
                            <h4 class="titulares"><b>Ubicación de nuestros campus</b></h4>
                            <div class="helvetica-16 pt-7 pb-14">
                                <span>Monterrico </span>-<span> Villa </span>-<span> San Isidro </span>-<span> San Miguel </span>
                            </div>
                        </div>
                        <div class="mapa">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d15598.412266418023!2d-77.00681532220663!3d-12.207389561766334!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e0!4m5!1s0x9105b9e06917e2a5%3A0x45b9d803f782cea9!2sUpc+Campus+Villa+Chorrillos%2C+Distrito+de+Chorrillos!3m2!1d-12.197565899999999!2d-77.0084534!4m5!1s0x9105b9f4a26e7f51%3A0x3512b7495e360b6!2sLos+Pantanos+de+Villa%2C+Distrito+de+Chorrillos+15067!3m2!1d-12.2173993!2d-76.98571919999999!5e0!3m2!1ses-419!2spe!4v1478115926871" width="100%" height="300" frameborder="0" style="border:0" allowfullscreen=""></iframe>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>