<ui-only-header></ui-only-header>

<section class="login pt-28 pb-80 bg-general" data-ui-night>
	<div class="container mb-20">
		<div class="row">
			<h2 class="text-center zizou-bold mt-28 mb-28">Sé parte de UPC</h2>
			<div class="col-lg-offset-3 col-md-offset-2 col-md-7 col-lg-6 col-sm-12 col-xs-12 login mb-21 hidden-xs">
			<ng-form name="frmLoginOne">
				<div class="row mt-28 ml-28">
					<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
						<img src="./imagenes/globales/1x/ico-correo.png" style="margin-left: 20px; margin-top: 10px;">
					</div>
					<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
						<div class="input-group text-black w-100 mb-28 mt-7 " style="margin-left: -45px;">
							<!--<label for="" class="helvetica-16">Correo eletrónico</label>-->
							<input type="text" class="p-0 no-radius helvetica-16 text-black input-grey-border" placeholder="Correo eletrónico" name="email" data-ng-model="models.login.email" data-ng-required="true" data-ng-trim="true">
						</div>
					</div>
				</div>
				<div class="row mt-28 ml-28">
					<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
						<img src="./imagenes/globales/1x/ico-contrasena.png" style="margin-left: 20px; margin-top: 10px;">
					</div>
					<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
						<div class="input-group text-black w-100 mb-28 mt-7 " style="margin-left: -45px;">
							<!--<label for="" class="helvetica-16">Contraseña</label>-->
							<input type="password" class="p-0 no-radius helvetica-16 text-black input-grey-border" placeholder="Contraseña" name="password" data-ng-model="models.login.password" data-ng-required="true" data-ng-trim="true">
						</div>
					</div>
				</div>			
				<div class="height-50"></div>
				<div class="row ml-28 mb-21 hidden-md">
					<!--<div class=" col-lg-5 col-md-6 col-sm-5  mt-7 ml-28">
						<button type="button" data-ng-click="onClick.register(frmLoginOne.$valid)" data-ng-disabled="frmLoginOne.$invalid" class="btn btn-custom black-btn wide full-width lg p-0 mt-0">Registrarme</button>
					</div>-->
					<div class="col-lg-11 col-md-11 col-sm-11  mt-7 ml-28">
						<button type="button" data-ng-click="onClick.login(frmLoginOne.$valid)" data-ng-disabled="frmLoginOne.$invalid" class="btn btn-custom bg-red wide full-width lg p-0 mt-0">Iniciar sesión</button>
					</div>
				</div>
				<div class="row ml-28 mb-21 hidden-sm hidden-lg hidden-xs">
					<!--<div class="col-md-offset-1 col-lg-5 col-md-5 mt-7">
						<button type="button" data-ng-click="onClick.register(frmLoginOne.$valid)" data-ng-disabled="frmLoginOne.$invalid" class="btn btn-custom black-btn wide full-width lg p-0 mt-0">Registrarme</button>
					</div>-->
					<div class="col-lg-5 col-md-5 mt-7">
						<button type="button" data-ng-click="onClick.login(frmLoginOne.$valid)" data-ng-disabled="frmLoginOne.$invalid" class="btn btn-custom bg-red wide full-width lg p-0 mt-0">Iniciar sesión</button>
					</div>
				</div>
			</ng-form>	
				<div class="row ml-28">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mr-21 mt-21 mb-21 ml-28">
						<!--<a href="#" class="text-gray helvetica-16 mt-21">¿Olvidaste tu contraseña?</a>
						<div class="line mt-28" style="width: 90%;"></div>-->
						<button type="button" data-ng-click="onClick.facebook()"  class="btn btn-info mt-28 full-width wide text-right pl-7" style="width: 90%;"><img src="./imagenes/globales/1x/fb-blanco.png" class="text-left" style="float: left;"> Ingresa con facebook</button>
					</div>
				</div>
			</div>
			<!--XS-->
			<div class="col-lg-offset-2 col-md-offset-2 col-md-7 col-lg-7 col-sm-12 col-xs-12 login mb-21 hidden-lg hidden-md hidden-sm">
				<ng-form name="frmLoginTwo">
					<div class="row mt-28">
						<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
							<img src="./imagenes/globales/1x/ico-correo.png" style="margin-left: 10px; margin-top: 10px;">
						</div>
						<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
							<div class="input-group text-black w-100 mb-28 mt-7" style="margin-left: -15px;">
								<!--<label for="" class="helvetica-16">Correo eletrónico</label>-->
								<input type="text" class="p-0 no-radius helvetica-16 text-black input-grey-border" placeholder="Correo eletrónico" name="email" data-ng-model="models.login.email" data-ng-required="true" data-ng-trim="true">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
							<img src="./imagenes/globales/1x/ico-contrasena.png" style="margin-left: 10px; margin-top: 10px;">
						</div>
						<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
							<div class="input-group text-black w-100 mb-28 mt-7" style="margin-left: -15px;">
								<!--<label for="" class="helvetica-16">Contraseña</label>-->
								<input type="password" class="p-0 no-radius helvetica-16 text-black input-grey-border" placeholder="Contraseña" name="password" data-ng-model="models.login.password" data-ng-required="true" data-ng-trim="true">
							</div>
						</div>
					</div>
					<div class="mb-21 mt-14">
						<!--<div class="col-xs-12 mt-7">
							<button type="button" class="btn btn-custom black-btn wide full-width lg p-0 mt-0">Registrarme</button>
						</div>-->
						<div class="col-xs-12 mt-7">
							<button type="button" data-ng-click="onClick.login(frmLoginTwo.$valid)" data-ng-disabled="frmLoginTwo.$invalid" class="btn btn-custom bg-red wide full-width lg p-0 mt-0">Iniciar sesión</button>
						</div>
					</div>
				</ng-form>	
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mr-21 mt-21 mb-21">
					<!--<a href="" class="text-gray helvetica-16 mt-21">¿Olvidaste tu contraseña?</a>
					<div class="line mt-28"></div>-->
					<button type="button" data-ng-click="onClick.facebook()" class="btn btn-info mt-28 full-width wide text-right pl-7" style="width: 100%;"><img src="./imagenes/globales/1x/fb-blanco.png" class="text-left" style="float: left;" /> Ingresa con facebook</button>
				</div>
			</div>
		</div>
	</div>
	<div class="height-200"></div>
</section>

<ui-footer></ui-footer>