<div data-ng-show="isDNI">
<header id="home-landing" class="bg-trama" style="height: 100%;">
	<form novalidate name="frmDatosDNI">
			<div class="container-fluid">
				<div class="chica">
					<div class="height-50"></div>
					<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 hidden-xs hidden-xs">
						<div class="">
							<h1 class="name zizou-bold-28 text-white">{{models.name}}</h1>
						</div>
						<div class=" text-left">
							<p class="quote zizou-bold-20 text-white">Estas a punto de dar tu</p>
							<br>
						</div>
						<div class="row">
							</div><p class="solano primer text-red" style="font-size: 12em;">primer</p>
						</div>
						<div class=" col-lg-4 col-md-4 col-sm-12 col-xs-12 login">
							<div class="p-0 bg-muted login-floting bottom-red">
								<div class="row">
									<div class="col-md-12 p-0 text-center logo-position"><img class="logo" src="https://mi.upc.edu.pe/assets/img/logo_upc_bg_red.png" alt=""/></div>
								</div>
								<div class="row">
									<div class="col-xs-2"></div>
									<div class="col-xs-8 pt-28 text-center"><span class="uppercase xl">Postula a la UPC</span></div>
								</div>
								<div class="row">
									<div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12">
										<div class="input-group w-100 pl-28 pr-28 mb-28 mt-7" data-ng-class="{'text-error':frmDatosDNI.user_ciu.$error.required || frmDatosDNI.user_ciu.$error.uinumbersonly}">
											<input placeholder="Ingresa tu DNI" type="text" class="p-0 no-radius mb-21 zizou-16 text-grey input-grey-border-postula" data-ng-model="models.user.ciu" name="user_ciu" data-ng-required="true" data-ng-trim="false" data-numbers-only="8">
											<button type="button" class="btn btn-custom bg-red text-white wide full-width lg p-0 mt-0" data-ng-disabled="frmDatosDNI.$invalid"
									data-ng-click="onClick.next(1,frmDatosDNI.$valid)">Postular</a></button>
										</div>
									</div>
								</div>
									
									<div class="row mt-21">
										<div class="col-xs-12">
											<div class="text-center">
												<span class="helvetica-12 black uppercase">*Campo obligatorio</span>
											</div>
										</div>
									</div>
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="clearfix"></div>
				</div>
			</form>
</header>

<section id="gran-paso p-28">
				<div class="container-fluid bg-red">
					<div class="row mb-28">
						<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
							<img class="w-100" src="./imagenes/experiencia-digital.png" alt="">
						</div>
						<div class="height-25"></div>
						<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 p-35">
							<h1 class="text-white solano pt-42">Un gran paso hacia una experiencia de aprendizaje innovador y digital</h1>
							<div class="height-50"></div>
							<p class="zizou-18 interline text-white">Porque te queremos preparar para el entorno que te espera en un futuro próximo, donde el profesional del siglo XXI es global y tiene competencias tecnológicas y digitales altamente desarrolladas. Estas las aplica en su vida profesional, personal y ahora tambien académica.
								<br>
							Porque las estrategias de aprendizaje activo de la UPC son prácticas y no solo teóricas </p>
						</div>
					</div>
				</div>
			</section>
<section id="vida-universitaria">
				<div class="container-fluid">
					<div class="row text-white">
						<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 bg-grey-soft p-28">
							<h1 class="solano text-white pt-42 pb-28">Comienza a experimentar tu vida <br>universitaria</h1>
							<div class="row pb-21">
								<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 text-center">
									<img style="width: 70px;" src="./imagenes/sentado.png" alt="">
								</div>
								<div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
									<p class="zizou-bold-18">Metodología activa</p>
									<p class="helvetica-14">Promovemos que el alumno participe activamente como constructor de su propio conocimiento</p>
								</div>
							</div>
							<div class="row pb-21">
								<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 text-center">
									<img style="width: 70px;" src="./imagenes/avatar.png" alt="">
								</div>
								<div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
									<p class="zizou-bold-18">Admisión Personalizada</p>
									<p class="helvetica-14">El programa de Nivelación y el Sistema de Admisión del Talento les ayudará a orientar positivamente su talento.</p>
								</div>
							</div>
							<div class="row pb-21">
								<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12  text-center">
									<img style="width: 70px;" src="./imagenes/birrete.png" class="w-100%" alt="imagen SVG" title="imagen SVG">
								</div>
								<div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
									<p class="zizou-bold-18 text-uppercase">carreras innovadoras</p>
									<p class="helvetica-14">Ofrecemos 41 carreras, en 12 facultades, que te permitirán vivir una experiencia diferente y que potenciarán toda tu vocación y talento.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
<section id="testimonio-landing ">
				<div class="p-28">
					<div class="height-50"></div>
					<div class="quotes text-center"><p style="font-size: 20px;margin: 10px auto;width:50%;" class="helvetica pr-7" data-ng-show="descriptionPhrase!==null">
						<img style=" width: 30px; padding-right:10px; padding-bottom: 26px;" src="./imagenes/testimonios/comillas3.png" alt="">
					{{descriptionPhrase}}</p>
					<div class="black-solid-line"></div>
					</div>
				<div class="testimotios-slider mt-35" style="width:600px;height: 170px;position:relative;margin:0 auto;">

					<a href="" class="control_next helvetica-18" data-ng-click="clickPrev=true;"><i class="fa fa-2x fa-chevron-right" aria-hidden="true"></i></a>
					<a href="" class="control_prev helvetica-18" data-ng-click="clickNext=true;"><i class="fa fa-2x fa-chevron-left" aria-hidden="true"></i></a>

						<div style="padding:0 100px;" data-ui-slider="3" data-ui-prev="clickPrev" data-ui-next="clickNext" data-ui-render="renderSliderFrases">
							<div class="cicle text-center" data-ng-repeat="row in models.phrasesList">
								<a href="{{row.url}}" data-ui-mouseover="{{row.description}}" data-ui-description="$parent.descriptionPhrase">
									<img class="img-100px hover-img-testimonio" data-ng-src="{{row.image}}">
									<p class="solano-bold-14 ml-7 mt-7">{{row.name}} <br> {{row.career}}</p>
								</a>
							</div>
						</div>

				</div>
				<div class="height-50"></div>
			</div>
		</section>
	<section id="dni">
			<div class="dmi-register container-fluid">
				<form name="frmDatosDNI2">
					<div class="row bg-black pt-21">
						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 dni-footer p-28 text-center">
							<h1 class="xl text-white">Ingresa tu DNI</h1>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 p-28 bg-black">
							<div class="col-lg-6">
								<input placeholder="DNI" type="text" class="no-radius mb-21 helvetica-16 text-grey bg-white" data-ng-model="models.user.ciu" name="user_ciu" data-ng-required="true" data-ng-trim="false" data-numbers-only="8">
							</div>
							<div class="col-lg-6">
								<div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12">
									<div class="input-group w-100">
										<button type="button" class="btn btn-custom bg-red text-white wide full-width lg p-0 mt-0" data-ng-disabled="frmDatosDNI2.$invalid"
										data-ng-click="onClick.next(1,frmDatosDNI2.$valid)">postular</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</section>

		<ui-footer></ui-footer>

	</div>


<div class="container-fluid" data-ng-show="!isDNI">
	<div class="row">
		<div class="col-lg-6 col-md-6 hidden-sm hidden-xs p-0">
			<div class="postula-bg"></div>
		</div>

		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 pt-28 pl-28" data-ng-show="models.isSent">
			<div class="logo-final text-right p-14">
				<img src="./imagenes/logo_upc_red.png" alt="">
			</div>
			<div class="row">
				<div class="col-lg-offset-1 col-lg-7 col-md-6 col-sm-12 col-xs-12">
					<img class="w-100" src="./imagenes/picapica.png" alt="">
					<h1 class="solano" style="font-size: 48px;">¡Genial!</h1>
					<div class="bg-red">
						<p class="zizou-bold pl-7 text-white text-uppercasse" style="font-size: 36px;">{{models.user.name}}</p>
					</div>
					<h1 class="solano pb-28" style="font-size: 39px;">Ahora estas listo para <br>vivir una nueva <br>experiencia para entrar a la universidad.</h1>
					<a href="dashboard">
						<h1 class="zizou-bold-28 red">¡VAMOS! <b>→</b></h1>
					</a>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>

		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 pt-14" data-ng-show="!models.isSent">

			<form novalidate name="frm">
				<div class="row">
					<div class="col-lg-11 col-md-11 hidden-sm hidden-xs pt-28 pb-28">
						<div class="text-right">
							<ol class="indicadores">
								<li data-ng-repeat="row in models.steps" data-ng-class="{'active':row.complete}"></li>
							</ol>
						</div>
					</div>
					<div class="hidden-lg hidden-md col-sm-12 col-xs-12 p-0">
						<div class="text-center">
							<ol class="indicadores-mobile">
								<li data-ng-repeat="row in models.steps" data-ng-class="{'active':row.complete}"></li>
							</ol>
						</div>
					</div>
				</div>

				<!--<div data-ng-show="models.steps[0].visible">
					<ng-form name="frmDatosDNI">
						<div class="row">
							<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
								<div class="input-group text-grey w-100 mb-28 mt-7" data-ng-class="{'text-error':frmDatosDNI.user_ciu.$error.required || frmDatosDNI.user_ciu.$error.uidni}">
									<label for="" class="helvetica-16">DNI* </label>
									<input data-ng-model="models.user.ciu" type="text" class="p-0 no-radius helvetica-20 text-grey input-grey-border-postula"
										name="user_ciu" data-ng-required="true" data-ng-trim="true" data-ui-valid="DNI">
								</div>
							</div>

						</div>

						<div class="clearfix"></div>
						<div class="height-50"></div>
						<div class="downside mt-53 pt-35">
							<div class="col-lg-5 col-md-5 col-sm-6 col-xs-6 pl-0 mb-14">


							</div>
							<div class="col-lg-5 col-md-5 col-sm-6 col-xs-6 pr-0 mb-14">
								<button type="button" class="btn btn-custom bg-red  wide full-width lg p-0 mt-0" style="padding: 16px !important;" data-ng-disabled="frmDatosDNI.$invalid"
									data-ng-click="onClick.next(1,frmDatosDNI.$valid)">Siguiente</button>
							</div>
						</div>
					</ng-form>
					<div class="clearfix"></div>
				</div>-->

				<div data-ng-show="models.steps[1].visible">
					<div class="row pb-14">
						<h3 class="text-black zizou-bold ml-21 pb-28">Por favor confirmar tu perfil, eres...</h3>
						<div class=" col-lg-7 col-md-7 col-sm-12 col-xs-12 text-soft-black mb-14">
							<div class="divContainerRight caja-discapacidad" data-ng-click="models.user.general=false" data-ng-class="{'caja-discapacidad-hover':!models.user.general}"
								style="cursor:pointer;">
								<h2 class="solano text-center pb-14">Soy Alumno preferente</h2>
								<p class="helvetica-16 text-center">3°, 4° y 5° de secundaria y he <br>pertenecido al tercio superior o he <br>logrado un promedio de 15 ó más.</p>
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
							<img class="pt-35" src="./imagenes/girl-1.png" alt="">
						</div>
					</div>
					<div class="row">
						<div class=" col-lg-7 col-md-7 col-sm-12 col-xs-12 text-soft-black mb-14">
							<div class="divContainerRight caja-discapacidad" data-ng-click="models.user.general=true" data-ng-class="{'caja-discapacidad-hover':models.user.general}"
								style="cursor:pointer;">
								<h2 class="solano text-center pb-14">Soy Alumno regular</h2>
								<p class="helvetica-16 text-center">3°, 4° y 5° de secundaria y he <br>pertenecido al tercio superior o he <br>logrado un promedio de 15 ó más.</p>
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
							<img class="pt-35" src="./imagenes/boy-1.png" alt="">
						</div>
					</div>
					<div class="clearfix"></div>
					<div class="height-50"></div>
					<div class="downside mt-53 pt-35">
						<div class="col-lg-5 col-md-5 col-sm-6 col-xs-6 pl-0 mb-14">
							<button type="button" class="btn btn-custom bg-grey  wide full-width lg p-0 mt-0" style="padding: 16px !important;" data-ng-click="onClick.next(0,true)">Anterior</button>
						</div>
						<div class="col-lg-5 col-md-5 col-sm-6 col-xs-6 pr-0 mb-14">
							<button type="button" class="btn btn-custom bg-red  wide full-width lg p-0 mt-0" style="padding: 16px !important;" data-ng-click="onClick.next(2,true)">Siguiente</button>
						</div>
					</div>
					<div class="clearfix"></div>
				</div>

				<div data-ng-show="models.steps[2].visible">
					<ng-form name="frmDatosPersonales">
						<div class="row">
							<h3 class="text-black zizou-bold ml-21">Corrobora tus datos personales</h3>
							<span class="text-red zizou-14 ml-21">*Datos Obligatorios</span>
							<div class="height-25"></div>
							<div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
								<div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12">
									<div class="input-group w-100 mb-28 mt-7" data-ng-class="{'text-error':frmDatosPersonales.user_name.$error.required}">
										<label for="" class="helvetica-16">Mi nombre es<span class="text-red">*</span></label>
										<input data-ng-model="models.user.name" name="user_name" type="text" class="p-0 no-radius helvetica-20 text-grey input-grey-border-postula"
											data-ng-required="true" data-ng-trim="true">
									</div>
								</div>
							</div>
							<div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 mt-14">
								<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
									<div class="input-group w-100 mb-28 mt-7" data-ng-class="{'text-error':frmDatosPersonales.user_last_name.$error.required}">
										<label for="" class="helvetica-16">Mi apellido paterno es<span class="text-red">*</span></label>
										<input data-ng-model="models.user.last_name" name="user_last_name" type="text" class="p-0 no-radius helvetica-20 text-grey input-grey-border-postula"
											data-ng-required="true" data-ng-trim="true">
									</div>
								</div>
								<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
									<div class="input-group w-100 mb-28 mt-7" data-ng-class="{'text-error':frmDatosPersonales.user_second_last_name.$error.required}">
										<label for="" class="helvetica-16">Mi apellido materno es<span class="text-red">*</span></label>
										<input data-ng-model="models.user.second_last_name" name="user_second_last_name" type="text" class="p-0 no-radius helvetica-20 text-grey input-grey-border-postula"
											data-ng-required="true" data-ng-trim="true">
									</div>
								</div>
							</div>
							<div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 mt-14">
								<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
									<div class="input-group w-100 mb-28 mt-7" data-ng-class="{'text-error':frmDatosPersonales.user_birthdate.$error.required || frmDatosPersonales.user_birthdate.$error.uidate}">
										<label for="" class="helvetica-16">Mi fecha de nacimiento es<span class="text-red">*</span> (dd/mm/aaaa)</label>
										<input type="text" class="p-0 no-radius helvetica-20 text-grey input-grey-border-postula datepicker-input" name="user_birthdate" data-ng-model="models.user.birthdate" data-ng-required="true" data-date-format="d/m/Y" data-ui-datepicker>
									</div>
								</div>
								<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 mt-14">
									<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 p-0">
										<div class="input-group text-grey w-100 mb-28 mt-21">
											<label class="helvetica-16" for="">Mi género es<span class="text-red">*</span></label>
										</div>
									</div>
									<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
										<div class="row">
											<!--Cuando se selecciona uno de los niños, se muestra activo el efecto del hover.-->
											<div class=" col-sm-3 col-xs-3 ml-7">
												<a href="" data-ng-click="models.user.gender=true">
													<div class="femenino text-center helvetica-14" data-ng-class="{'femenino-hover':models.user.gender}">
														<p>M</p>
													</div>
												</a>
											</div>
											<div class=" col-sm-3 col-xs-3 ml-7">
												<a href="" data-ng-click="models.user.gender=false">
													<div class="femenino text-center helvetica-14 ml-7" data-ng-class="{'femenino-hover':!models.user.gender}">
														<p>F</p>
													</div>
												</a>
											</div>
										</div>
									</div>
								</div>
								<!--<div class="col-sm-6 p-0">
									<div class="input-group text-black w-100 mb-28 mt-7">
											<label class="helvetica-16" for="">Soy  del género</label>
									</div>
							</div>
							<div class="col-sm-6 ">
								<div class="row">-->
								<!--Cuando se selecciona uno de los niños, se muestra activo el efecto del hove
									<div class="girl-and-boy" style="width: 45%;">
											<div class="col-sm-offset-3 col-sm-2 col-xs-6">
													<div class="femenino"></div>
												</div>r.-->
								<!--<div class="col-sm-2 col-xs-6">
												<img class="hover-ninos" src="./imagenes/nino.png" alt="">
										</div>
									</div>
								</div>
							</div>-->
							</div>
							<div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 mt-14">
								<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
									<div class="input-group text-grey w-100 mb-28 mt-7">
										<label for="" class="helvetica-16">Tipo de documento<span class="text-red">*</span></label>
										<select class="w-100 drop-down drop-down-2 no-radius helvetica helvetica-20 text-white select-grey-border input-grey-border-postula"
											data-ng-model="models.user.document_type" data-ng-options="p.name for p in models.documentTypes"></select>
									</div>
								</div>
								<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
									<div class="input-group text-grey w-100 mb-28 mt-7" data-ng-class="{'text-error':frmDatosPersonales.user_ciu.$error.required || frmDatosPersonales.user_ciu.$error.uinumbersonly}">
										<label for="" class="helvetica-16">Número de documento<span class="text-red">*</span></label>
										<input type="text" class="p-0 no-radius helvetica-20 text-grey input-grey-border-postula" data-ng-model="models.user.ciu"
											name="user_ciu" data-ng-required="true" data-ng-trim="false" data-numbers-only="8">
									</div>
								</div>
							</div>
							<div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 mt-14">
								<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
									<div class="input-group text-grey w-100 mb-28 mt-7">
										<label class="helvetica-16" for="">Mi Nacionalidad es<span class="text-red">*</span></label>
										<select class=" w-100 drop-down drop-down-2 no-radius helvetica helvetica-20 text-white select-grey-border input-grey-border-postula"
											data-ng-model="models.user.nationality" data-ng-options="p.name for p in models.nationalityList"></select>
									</div>
								</div>
								<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
									<div class="input-group text-grey w-100 mb-28 mt-7">
										<label class="helvetica-16" for="">Soy<span class="text-red">*</span></label>
										<select class=" w-100 drop-down drop-down-2 no-radius helvetica helvetica-20 text-white select-grey-border input-grey-border-postula"
											data-ng-model="models.user.civil_status" data-ng-options="p.name for p in models.civilStatusList"></select>
									</div>
								</div>
							</div>
							<div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 mt-14">
								<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-14 mb-14">
									<button type="button" class="btn btn-custom bg-grey  wide full-width lg p-0 mt-0" style="padding: 16px !important;" data-ng-click="onClick.next(1,true)">Anterior</button>
								</div>
								<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-14 mb-14">
									<button type="button" class="btn btn-custom bg-red  wide full-width lg p-0 mt-0" style="padding: 16px !important;" data-ng-click="onClick.next(3,frmDatosPersonales.$valid)"
										data-ng-disabled="frmDatosPersonales.$invalid">Siguiente</button>
								</div>
							</div>
						</div>
					</ng-form>
					<div class="clearfix"></div>
				</div>


				<div data-ng-show="models.steps[3].visible">
					<ng-form name="frmDatosContacto">
						<div class="row">
							<h3 class="text-black zizou-bold  pl-28">Acerca de tus datos de contacto</h3>
							<span class="text-red zizou-14 pl-28">*Datos Obligatorios</span>
							<div class="height-50 hidden-xs"></div>
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<div class=" col-lg-10 col-md-12 col-sm-12 col-xs-12">
									<div class="input-group text-grey w-100 mb-28 mt-7" data-ng-class="{'text-error':frmDatosContacto.user_contact_email.$error.required || frmDatosContacto.user_contact_email.$error.uiemail}">
										<label class="helvetica-16" for="">Mi mail es*</label>
										<input data-ng-model="models.user.contact.email" type="text" class="p-0 no-radius helvetica-20 text-grey input-grey-border-postula"
											name="user_contact_email" data-ng-required="true" data-ng-trim="true" data-ui-valid="EMAIL">
									</div>
									<div class="input-group text-grey w-100 mb-28 mt-7" data-ng-class="{'text-error':frmDatosContacto.user_contact_cell_phone.$error.required || frmDatosContacto.user_contact_cell_phone.$error.uinumbersonly}">
										<label for="" class="helvetica-16">Mi celular es el* </label>
										<input data-ng-model="models.user.contact.cell_phone" type="text" class="p-0 no-radius helvetica-20 text-grey input-grey-border-postula"
											name="user_contact_cell_phone" data-ng-required="true" data-ng-trim="false" data-numbers-only="9">
									</div>
									<div class="input-group text-grey w-100 mb-28 mt-7" data-ng-class="{'text-error':frmDatosContacto.user_contact_phone.$error.required || frmDatosContacto.user_contact_phone.$error.uiinteger}">
										<label for="" class="helvetica-16">Mi teléfono es*</label>
										<input data-ng-model="models.user.contact.phone" type="text" class="p-0 no-radius helvetica-20 text-grey input-grey-border-postula"
											name="user_contact_phone" data-ng-required="true" data-ng-trim="true" data-ui-valid="INTEGER">
									</div>
								</div>
								<div class="clearfix"></div>
								<div class="height-200 hidden-xs"></div>
								<div class="height-100 hidden-md hidden-lg hidden-sm"></div>
								<div class="downside mt-53 pt-35">
									<div class="col-lg-5 col-md-5 col-sm-6 col-xs-6 pl-14">
										<button type="button" class="btn btn-custom bg-grey  wide full-width lg p-0 mt-0" style="padding: 16px !important;" data-ng-click="onClick.next(2,true)">Anterior</button>
									</div>
									<div class="col-lg-5 col-md-5 col-sm-6 col-xs-6 pr-14">
										<button type="button" class="btn btn-custom bg-red  wide full-width lg p-0 mt-0" style="padding: 16px !important;" data-ng-disabled="frmDatosContacto.$invalid"
											data-ng-click="onClick.next(4,frmDatosContacto.$valid)">Siguiente</button>
									</div>
								</div>
								<div class="clearfix"></div>
							</div>

						</div>
					</ng-form>
					<div class="clearfix"></div>
				</div>


				<div data-ng-show="models.steps[4].visible">
					<ng-form name="frmDatosDomicilio">
						<div class="row">
							<h3 class="text-black zizou-bold ml-21">Acerca de tus datos de domicilio</h3>
							<span class="text-red zizou-14 ml-21">*Datos Obligatorios</span>
							<div class="height-25"></div>
							<div class="col-lg-12">
								<div class=" col-lg-10 col-md-12 col-sm-12 col-xs-12">
									<div class="input-group w-100 mb-28 mt-7" data-ng-class="{'text-error':models.user.home.departament.code==='00'}">
										<label for="" class="helvetica-16">Departamento<span class="text-red">*</span></label>
										<select class=" w-100 drop-down drop-down-2 no-radius helvetica helvetica-20 text-white select-grey-border input-grey-border-postula"
											data-ng-model="models.user.home.departament" data-ng-options="p.name for p in models.departamentList" data-ng-change="onChange.getProvinces()"></select>
									</div>
								</div>
							</div>
							<div class="col-lg-12 mt-14">
								<div class="col-lg-10 col-md-12 col-sm-12 col-xs-12">
									<div class="input-group w-100 mb-28 mt-7" data-ng-class="{'text-error':models.user.home.province.code==='00'}">
										<label for="" class="helvetica-16">Provincia<span class="text-red">*</span></label>
										<select class=" w-100 drop-down drop-down-2 no-radius helvetica helvetica-20 text-white select-grey-border input-grey-border-postula"
											data-ng-model="models.user.home.province" data-ng-options="p.name for p in models.provinceList" data-ng-change="onChange.getDistricts()"></select>
									</div>
								</div>
							</div>
							<div class="col-lg-12 mt-14">
								<div class="col-lg-10 col-md-12 col-sm-12 col-xs-12">
									<div class="input-group w-100 mb-28 mt-7" data-ng-class="{'text-error':models.user.home.district.code==='00'}">
										<label for="" class="helvetica-16">Distrito<span class="text-red">*</span></label>
										<select class=" w-100 drop-down drop-down-2 no-radius helvetica helvetica-20 text-white select-grey-border input-grey-border-postula"
											data-ng-model="models.user.home.district" data-ng-options="p.name for p in models.districtList"></select>
									</div>
								</div>
							</div>
							<div class="col-lg-12 mt-14">
								<div class="col-lg-10 col-md-12 col-sm-12 col-xs-12">
									<div class="input-group w-100 mb-28 mt-7">
										<label for="" class="helvetica-16">Urbanización</label>
										<input type="text" class="p-0 no-radius helvetica-20 text-grey input-grey-border-postula" data-ng-model="models.user.home.urbanization">
									</div>
								</div>
							</div>
							<div class="col-lg-12 mt-14">
								<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
									<div class="input-group w-100 mb-28 mt-7">
										<label for="" class="helvetica-16">Vía<span class="text-red">*</span></label>
										<select class=" w-100 drop-down drop-down-2 no-radius helvetica helvetica-20 text-white select-grey-border input-grey-border-postula"
											data-ng-model="models.user.home.via" data-ng-options="p.name for p in models.viaList"></select>
									</div>
								</div>
								<div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
									<div class="input-group w-100 mb-28 mt-7" data-ng-class="{'text-error':frmDatosDomicilio.user_home_address.$error.required}">
										<label for="" class="helvetica-16">Dirección<span class="text-red">*</span></label>
										<input type="text" class="p-0 no-radius helvetica-20 text-grey input-grey-border-postula" data-ng-model="models.user.home.address"
											name="user_home_address" data-ng-required="true" data-ng-trim="true">
									</div>
								</div>
							</div>
							<div class="col-lg-12 mt-14">

								<div class="col-lg-5 col-md-5 col-sm-6 col-xs-6 mb-14">
									<button type="button" class="btn btn-custom bg-grey  wide full-width lg p-0 mt-0" style="padding: 16px !important;" data-ng-click="onClick.next(3,true)">Anterior</button>
								</div>
								<div class="col-lg-5 col-md-5 col-sm-6 col-xs-6 mb-7">
									<button type="button" class="btn btn-custom bg-red  wide full-width lg p-0 mt-0" style="padding: 16px !important;" data-ng-disabled="frmDatosDomicilio.$invalid || models.user.home.departament.code==='00' || models.user.home.province.code==='00' || models.user.home.district.code==='00'"
										data-ng-click="onClick.next(5,frmDatosDomicilio.$valid)">Siguiente</button>
								</div>
							</div>
						</div>
					</ng-form>
					<div class="clearfix"></div>
				</div>

				<div data-ng-show="models.steps[5].visible">
					<ng-form name="frmDatosEstudios">
						<div class="row">
							<h3 class="text-black zizou-bold pl-21">Tus estudios</h3>
							<span class="text-red zizou-14 pl-21">*Datos Obligatorios*</span>
							<div class="height-50 hidden-xs"></div>
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<div class="row">
									<div class=" col-lg-5 col-md-5 col-sm-12 col-xs-12">
										<div class="input-group text-grey w-100 mt-7">
											<label class="helvetica-16" for="">¿Cuándo terminaste o terminarás el colegio?*</label>
											<select class=" w-100 drop-down drop-down-2 no-radius helvetica helvetica-16 select-grey-border input-grey-border-postula"
												data-ng-model="models.user.year_end" data-ng-options="p.value for p in models.yearsList"></select>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
										<div class="input-group text-grey w-100 mb-28 mt-7">
											<label for="" class="helvetica-16">Cursé 3ro en el colegio* </label>
											<select class=" w-100 drop-down drop-down-2 no-radius helvetica helvetica-20 text-white select-grey-border input-grey-border-postula"
												data-ng-model="models.user.studies.third.school" data-ng-options="p.name for p in models.schoolList"></select>
										</div>

									</div>
									<div class="col-lg-5 col-md-5 col-sm-6 col-xs-12">
										<div class="input-group text-grey w-100 mb-28 mt-7" data-ng-class="{'text-error':models.user.studies.third.district.code==='00'}">
											<label for="" class="helvetica-16">Distrito donde cursé*</label>
											<select class=" w-100 drop-down drop-down-2 no-radius helvetica helvetica-20 text-white select-grey-border input-grey-border-postula"
												data-ng-model="models.user.studies.third.district" data-ng-options="p.name for p in models.districtListLima"></select>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
										<div class="input-group text-grey w-100 mb-28 mt-7">
											<label for="" class="helvetica-16">Cursé 4to en el colegio* </label>
											<select class=" w-100 drop-down drop-down-2 no-radius helvetica helvetica-20 text-white select-grey-border input-grey-border-postula"
												data-ng-model="models.user.studies.fourth.school" data-ng-options="p.name for p in models.schoolList"></select>
										</div>

									</div>
									<div class="col-lg-5 col-md-5 col-sm-6 col-xs-12">
										<div class="input-group text-grey w-100 mb-28 mt-7" data-ng-class="{'text-error':models.user.studies.fourth.district.code==='00'}">
											<label for="" class="helvetica-16">Distrito donde cursé*</label>
											<select class=" w-100 drop-down drop-down-2 no-radius helvetica helvetica-20 text-white select-grey-border input-grey-border-postula"
												data-ng-model="models.user.studies.fourth.district" data-ng-options="p.name for p in models.districtListLima"></select>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
										<div class="input-group text-grey w-100 mb-28 mt-7">
											<label for="" class="helvetica-16">Cursé 5to en el colegio* </label>
											<select class=" w-100 drop-down drop-down-2 no-radius helvetica helvetica-20 text-white select-grey-border input-grey-border-postula"
												data-ng-model="models.user.studies.fifth.school" data-ng-options="p.name for p in models.schoolList"></select>
										</div>

									</div>
									<div class="col-lg-5 col-md-5 col-sm-6 col-xs-12">
										<div class="input-group text-grey w-100 mb-28 mt-7" data-ng-class="{'text-error':models.user.studies.fifth.district.code==='00'}">
											<label for="" class="helvetica-16">Distrito donde cursé*</label>
											<select class=" w-100 drop-down drop-down-2 no-radius helvetica helvetica-20 text-white select-grey-border input-grey-border-postula"
												data-ng-model="models.user.studies.fifth.district" data-ng-options="p.name for p in models.districtListLima"></select>
										</div>
									</div>
								</div>
								<div class="clearfix"></div>
								<div class="height-50"></div>
								<div class="downside mt-53 pt-35">
									<div class="col-lg-5 col-md-5 col-sm-6 col-xs-6 pl-0 mb-14">
										<button type="button" class="btn btn-custom bg-grey  wide full-width lg p-0 mt-0" style="padding: 16px !important;" data-ng-click="onClick.next(4,true)">Anterior</button>
									</div>
									<div class="col-lg-5 col-md-5 col-sm-6 col-xs-6 pr-0 mb-14">
										<button type="button" class="btn btn-custom bg-red  wide full-width lg p-0 mt-0" style="padding: 16px !important;" data-ng-disabled="frmDatosEstudios.$invalid || models.user.studies.third.district.code==='00' || models.user.studies.fourth.district.code==='00' || models.user.studies.fifth.district.code==='00'"
											data-ng-click="onClick.next(6,frmDatosEstudios.$valid)">Siguiente</button>
									</div>
								</div>
								<div class="clearfix"></div>
							</div>
						</div>
					</ng-form>
					<div class="clearfix"></div>
				</div>


				<div data-ng-show="models.steps[6].visible">

					<div class="row">
						<h3 class="text-black zizou-bold ml-21">Acerca de tu futuro</h3>
						<span class="text-red zizou-14 ml-21">*Datos Obligatorios</span>
						<div class="height-25"></div>
						<div class="col-lg-12 mt-14">
							<div class=" col-lg-10 col-md-12 col-sm-12 col-xs-12">
								<div class="input-group text-grey w-100 mb-28 mt-7">
									<label class="helvetica-16" for="">Carrera que quieres estudiar<span class="text-red">*</span></label>
									<select class=" w-100 drop-down drop-down-2 no-radius helvetica helvetica-20 text-grey select-grey-border input-grey-border-postula"
										data-ng-model="models.user.career" data-ng-options="p.name for p in models.careerList"></select>
								</div>
							</div>
							<div class=" col-lg-10 col-md-12 col-sm-12 col-xs-12">
								<div class="input-group text-grey w-100 mb-28 mt-7">
									<label class="helvetica-16" for="">Sede donde quieres estudiar<span class="text-red">*</span></label>
									<select class=" w-100 drop-down drop-down-2 no-radius helvetica helvetica-20 text-white select-grey-border input-grey-border-postula"
										data-ng-model="models.user.sede" data-ng-options="p.name for p in models.sedeList"></select>
								</div>
							</div>
						</div>
						<div class="col-lg-12 mt-14">
							<div class="height-200"></div>
							<div class="col-lg-5 col-md-5 col-sm-6 col-xs-6 mb-14">
								<button type="button" class="btn btn-custom bg-grey  wide full-width lg p-0 mt-0" style="padding: 16px !important;" data-ng-click="onClick.next(5,true)">Anterior</button>
							</div>
							<div class="col-lg-5 col-md-5 col-sm-6 col-xs-6 mb-14">
								<button type="button" class="btn btn-custom bg-red  wide full-width lg p-0 mt-0" style="padding: 16px !important;" data-ng-click="onClick.next(7,true)">Siguiente</button>
							</div>
						</div>
					</div>
					<div class="clearfix"></div>
				</div>

				<div data-ng-show="models.steps[7].visible">
					<ng-form name="frmDatosApoderado">
						<div class="row">
							<h3 class="text-black zizou-bold ml-21">Acerca de tu padre o apoderado*</h3>
							<span class="text-red zizou-14 ml-21">*Datos Obligatorios</span>
							<div class="height-25"></div>
							<div class="col-lg-12">
								<div class=" col-lg-10 col-md-12 col-sm-12 col-xs-12">
									<div class="input-group w-100 mb-28 mt-7" data-ng-class="{'text-error':frmDatosApoderado.user_representative_name.$error.required}">
										<label for="" class="helvetica-16">Su nombre es<span class="text-red">*</span></label>
										<input data-ng-model="models.user.representative.name" type="text" class="p-0 no-radius helvetica-20 text-grey input-grey-border-postula"
											name="user_representative_name" data-ng-required="true" data-ng-trim="true">
									</div>
								</div>
							</div>
							<div class="col-lg-12 mt-14">
								<div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
									<div class="input-group w-100 mb-28 mt-7" data-ng-class="{'text-error':frmDatosApoderado.user_representative_last_name.$error.required}">
										<label for="" class="helvetica-16">Su apellido paterno es<span class="text-red">*</span></label>
										<input data-ng-model="models.user.representative.last_name" type="text" class="p-0 no-radius helvetica-20 text-grey input-grey-border-postula"
											name="user_representative_last_name" data-ng-required="true" data-ng-trim="true">
									</div>
								</div>
								<div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
									<div class="input-group w-100 mb-28 mt-7" data-ng-class="{'text-error':frmDatosApoderado.user_representative_second_last_name.$error.required}">
										<label for="" class="helvetica-16">Su apellido materno es<span class="text-red">*</span></label>
										<input data-ng-model="models.user.representative.second_last_name" type="text" class="p-0 no-radius helvetica-20 text-grey input-grey-border-postula"
											name="user_representative_second_last_name" data-ng-required="true" data-ng-trim="true">
									</div>
								</div>
							</div>
							<div class="col-lg-12 mt-14">
								<div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
									<div class="input-group w-100 mb-28 mt-7" data-ng-class="{'text-error':frmDatosApoderado.user_representative_birthdate.$error.required || frmDatosApoderado.user_representative_birthdate.$error.uidate}">
										<label for="" class="helvetica-16">Su fecha de nacimiento es<span class="text-red">*</span> (dd/mm/aaaa)</label>
										<input type="text" class="p-0 no-radius helvetica-20 text-grey input-grey-border datepicker-input" data-ng-model="models.user.representative.birthdate"
											name="user_representative_birthdate" data-ng-required="true" data-date-format="d/m/Y" data-ui-datepicker>
									</div>
								</div>
								<div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
									<div class=" p-0">
										<div class="input-group text-black w-100 mb-28 mt-7">
											<label class="helvetica-16" for="">Su género<span class="text-red">*</span></label>
											<select class=" w-100 drop-down drop-down-2 no-radius helvetica helvetica-20 text-white select-grey-border input-grey-border-postula"
												data-ng-model="models.user.representative.gender" data-ng-options="p.name for p in models.genderList"></select>
										</div>
									</div>

								</div>
								<!--<div class="col-sm-6 p-0">
									<div class="input-group text-black w-100 mb-28 mt-7">
											<label class="helvetica-16" for="">Soy  del género</label>
									</div>
							</div>
							<div class="col-sm-6 ">
								<div class="row">-->
								<!--Cuando se selecciona uno de los niños, se muestra activo el efecto del hove
									<div class="girl-and-boy" style="width: 45%;">
											<div class="col-sm-offset-3 col-sm-2 col-xs-6">
													<div class="femenino"></div>
												</div>r.-->
								<!--<div class="col-sm-2 col-xs-6">
												<img class="hover-ninos" src="./imagenes/nino.png" alt="">
										</div>
									</div>
								</div>
							</div>-->
							</div>
							<div class="col-lg-12 mt-14">
								<div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
									<div class="input-group text-grey w-100 mb-28 mt-7">
										<label for="" class="helvetica-16">Tipo de documento<span class="text-red">*</span></label>
										<select class="w-100 drop-down drop-down-2 no-radius helvetica helvetica-20 text-white select-grey-border input-grey-border-postula"
											data-ng-model="models.user.representative.document_type" data-ng-options="p.name for p in models.documentTypes"></select>
									</div>
								</div>
								<div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
									<div class="input-group text-grey w-100 mb-28 mt-7" data-ng-class="{'text-error':frmDatosApoderado.user_representative_ciu.$error.required || frmDatosApoderado.user_representative_ciu.$error.uinumbersonly}">
										<label for="" class="helvetica-16">Número de documento<span class="text-red">*</span></label>
										<input data-ng-model="models.user.representative.ciu" type="text" class="p-0 no-radius helvetica-20 text-grey input-grey-border-postula"
											name="user_representative_ciu" data-ng-required="true" data-ng-trim="false" data-numbers-only="8">
									</div>
								</div>
							</div>
							<div class="col-lg-12 mt-14">
								<div class="col-lg-5 col-md-6 col-sm-6 col-xs-12">
									<div class="input-group text-grey w-100 mb-28 mt-7">
										<label class="helvetica-16" for="">Su Nacionalidad es<span class="text-red">*</span></label>
										<select class=" w-100 drop-down drop-down-2 no-radius helvetica-20 text-white select-grey-border input-grey-border-postula"
											data-ng-model="models.user.representative.nationality" data-ng-options="p.name for p in models.nationalityList"></select>
									</div>
								</div>
								<div class="col-lg-5 col-md-6 col-sm-6 col-xs-12">
									<div class="input-group text-grey w-100 mb-28 mt-7">
										<label class="helvetica-16" for="">Es mi<span class="text-red">*</span></label>
										<select class=" w-100 drop-down drop-down-2 no-radius helvetica-20 text-white select-grey-border input-grey-border-postula"
											data-ng-model="models.user.representative.relation" data-ng-options="p.name for p in models.relationList"></select>
									</div>
								</div>
							</div>
							<div class="col-lg-12 mt-14">

								<div class="col-lg-5 col-md-5 col-sm-6 col-xs-6 mb-14">
									<button type="button" class="btn btn-custom bg-grey  wide full-width lg p-0 mt-0" style="padding: 16px !important;" data-ng-click="onClick.next(6,true)">Anterior</button>
								</div>
								<div class="col-lg-5 col-md-5 col-sm-6 col-xs-6 mb-14">
									<button type="button" class="btn btn-custom bg-red  wide full-width lg p-0 mt-0" style="padding: 16px !important;" data-ng-disabled="frmDatosApoderado.$invalid"
										data-ng-click="onClick.next(8,frmDatosApoderado.$valid)">Siguiente</button>
								</div>
							</div>
						</div>
					</ng-form>
					<div class="clearfix"></div>
				</div>


				<div data-ng-show="models.steps[8].visible">
					<ng-form name="frmDatosApoderadoContacto">
						<div class="row">
							<h3 class="text-black zizou-bold ml-21">¿Cuáles son los datos de contacto de tu padre o apoderado?</h3>
							<span class="text-red zizou-14 ml-21">*Datos Obligatorios</span>
							<div class="height-25"></div>
							<div class="col-lg-12 mt-14">
								<div class=" col-lg-10 col-md-12 col-sm-12 col-xs-12">
									<div class="input-group text-grey w-100 mb-28 mt-7" data-ng-class="{'text-error':frmDatosApoderadoContacto.user_representative_contact_email.$error.required || frmDatosApoderadoContacto.user_representative_contact_email.$error.uiemail}">
										<label class="helvetica-16" for="">Su mail es<span class="text-red">*</span></label>
										<input data-ng-model="models.user.representative.contact.email" type="text" class="p-0 no-radius helvetica-20 text-grey input-grey-border-postula"
											name="user_representative_contact_email" data-ng-required="true" data-ng-trim="true" data-ui-valid="EMAIL">
									</div>
								</div>
								<div class=" col-lg-10 col-md-12 col-sm-12 col-xs-12">
									<div class="input-group text-grey w-100 mb-28 mt-7" data-ng-class="{'text-error':frmDatosApoderadoContacto.user_representative_contact_cell_phone.$error.required || frmDatosApoderadoContacto.user_representative_contact_cell_phone.$error.uinumbersonly}">
										<label class="helvetica-16" for="">Su celular es<span class="text-red">*</span></label>
										<input data-ng-model="models.user.representative.contact.cell_phone" type="text" class="p-0 no-radius helvetica-20 text-grey input-grey-border-postula"
											name="user_representative_contact_cell_phone" data-ng-required="true" data-ng-trim="false" data-numbers-only="9">
									</div>
								</div>
								<div class=" col-lg-10 col-md-12 col-sm-12 col-xs-12">
									<div class="input-group text-grey w-100 mb-28 mt-7" data-ng-class="{'text-error':frmDatosApoderadoContacto.user_representative_contact_phone.$error.required || frmDatosApoderadoContacto.user_representative_contact_phone.$error.uiinteger}">
										<label class="helvetica-16" for="">Su teléfono es<span class="text-red">*</span></label>
										<input data-ng-model="models.user.representative.contact.phone" type="text" class="p-0 no-radius helvetica-20 text-grey input-grey-border-postula"
											name="user_representative_contact_phone" data-ng-required="true" data-ng-trim="true" data-ui-valid="INTEGER">
									</div>
								</div>
							</div>
							<div class="col-lg-12 mt-14">
								<div class="height-200"></div>
								<div class="col-lg-5 col-md-5 col-sm-6 col-xs-6 mb-14">
									<button type="button" class="btn btn-custom bg-grey  wide full-width lg p-0 mt-0" style="padding: 16px !important;" data-ng-click="onClick.next(7,true)">Anterior</button>
								</div>
								<div class="col-lg-5 col-md-5 col-sm-6 col-xs-6 pl-14 mb-14">
									<button type="button" class="btn btn-custom bg-red  wide full-width lg p-0 mt-0" style="padding: 16px !important;" data-ng-disabled="frmDatosApoderadoContacto.$invalid"
										data-ng-click="onClick.next(9,frmDatosApoderadoContacto.$valid)">Siguiente</button>
								</div>
							</div>
						</div>
					</ng-form>
					<div class="clearfix"></div>
				</div>

				<div data-ng-show="models.steps[9].visible">
					<div class="row">
						<h3 class="text-black zizou-bold  pl-28">Acerca de ti</h3>
						<span class="text-red zizou-14 pl-28">*Datos Obligatorios</span>
						<div class="height-50 hidden-xs"></div>
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pl-28">
							<div class="row">
								<p class="helvetica-20 text-grey pl-14">¿Eres una persona con discapacidad?</p>
								<div class="height-25"></div>
								<div class="col-lg-5 col-md-5 col-sm-6 col-xs-6 text-center">
									<a href="" data-ng-click="models.user.disability=true">
										<div class="caja-discapacidad text-grey si" data-ng-class="{'caja-discapacidad-hover':models.user.disability}">
											<h4 class="helvetica boldie">SI</h4>
										</div>
									</a>
								</div>
								<div class="col-lg-5 col-md-5 col-sm-6 col-xs-6 text-center">
									<a href="" data-ng-click="models.user.disability=false">
										<div class="caja-discapacidad no" data-ng-class="{'caja-discapacidad-hover':!models.user.disability}">
											<h4 class="helvetica boldie">NO</h4>
										</div>
									</a>
								</div>
								<div class="clearfix"></div>
								<div class="height-50"></div>
								<div class="col-lg-10" data-ng-if="models.user.disability">
									<div class="red-square">
										<p class="helvetica-16 boldie red text-center">Para justificar su condición de discapacidad debe presentar en la Oficina de admisión la UPC la ficha deregistro
											de discapacidad emitida por el CONADIS dentro de los tres días útiles siguientes a la fecha de su inscripción
											como postulante.</p>
									</div>
								</div>
							</div>
							<div class="clearfix"></div>
							<div class="height-25"></div>
							<div class="downside mt-53 pt-35">
								<div class="col-lg-5 col-md-5 col-sm-6 col-xs-6 pl-0 mb-14">
									<button type="button" class="btn btn-custom bg-grey  wide full-width lg p-0 mt-0" style="padding: 16px !important;" data-ng-click="onClick.next(8,true)">Anterior</button>
								</div>
								<div class="col-lg-5 col-md-5 col-sm-6 col-xs-6 pr-0 mb-14">
									<button type="button" class="btn btn-custom bg-red  wide full-width lg p-0 mt-0" style="padding: 16px !important;" data-ng-click="onClick.next(10,true)">Siguiente</button>
								</div>
							</div>
							<div class="clearfix"></div>
						</div>
					</div>
					<div class="clearfix"></div>
				</div>

				<div data-ng-show="models.steps[10].visible">
					<div class="row">
						<h3 class="text-black zizou-bold  pl-28">Solo una pregunta más</h3>
						<span class="text-red zizou-14 pl-28">*Datos Obligatorios</span>
						<div class="height-50 hidden-xs"></div>
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pl-28">
							<div class="row mb-42">
								<p class="helvetica-20 text-grey pl-14">¿Has ingresado antes a la UPC?</p>
								<div class="height-25"></div>
								<div class="col-lg-5 col-md-5 col-sm-6 col-xs-6 text-center">
									<a href="" data-ng-click="models.user.before_upc=true">
										<div class="caja-discapacidad text-grey si" data-ng-class="{'caja-discapacidad-hover':models.user.before_upc}">
											<h4 class="helvetica boldie">SI</h4>
										</div>
									</a>
								</div>
								<div class="col-lg-5 col-md-5 col-sm-6 col-xs-6 text-center">
									<a href="" data-ng-click="models.user.before_upc=false">
										<div class="caja-discapacidad no" data-ng-class="{'caja-discapacidad-hover':!models.user.before_upc}">
											<h4 class="helvetica boldie">NO</h4>
										</div>
									</a>
								</div>
								<div class="clearfix"></div>
							</div>

							<div class="row mb-42" data-ng-show="models.user.before_upc">
								<p class="helvetica-20 text-grey pl-14">¿Te matriculaste?</p>
								<div class="height-25"></div>
								<div class="col-lg-5 col-md-5 col-sm-6 col-xs-6 text-center">
									<a href="" data-ng-click="models.user.enrolled=true">
										<div class="caja-discapacidad text-grey si" data-ng-class="{'caja-discapacidad-hover':models.user.enrolled}">
											<h4 class="helvetica boldie">SI</h4>
										</div>
									</a>
								</div>
								<div class="col-lg-5 col-md-5 col-sm-6 col-xs-6 text-center">
									<a href="" data-ng-click="models.user.enrolled=false">
										<div class="caja-discapacidad no" data-ng-class="{'caja-discapacidad-hover':!models.user.enrolled}">
											<h4 class="helvetica boldie">NO</h4>
										</div>
									</a>
								</div>
								<div class="clearfix"></div>
							</div>

							<div class="height-75"></div>
							<div class="clearfix"></div>
							<div class="downside mt-53 pt-35 pb-35">
								<div class="col-lg-5 col-md-5 col-sm-6 col-xs-6 pl-0">
									<button type="button" class="btn btn-custom bg-grey  wide full-width lg p-0 mt-0" style="padding: 16px !important;" data-ng-click="onClick.next(9,true)">Anterior</button>
								</div>
								<div class="col-lg-5 col-md-5 col-sm-6 col-xs-6 pr-0">
									<button type="button" class="btn btn-custom bg-red  wide full-width lg p-0 mt-0" style="padding: 16px !important;" data-ng-disabled="frm.$invalid"
										data-ng-click="onClick.send(frm.$valid)">Enviar**</button>
								</div>
							</div>
							<div class="clearfix"></div>
						</div>
					</div>
					<div class="clearfix"></div>
				</div>
				<!---->
			</form>
		</div>

	</div>
</div>