
<ui-only-header></ui-only-header>

<section class="pt-28 pb-28 pl-14 pr-14" data-ui-night>
	<div class="container">
		<div class="row">
			<div class="bg-white-transparent border-general-grey helvetica p-35" style="margin: auto; ">
				<form novalidate name="frm">
					<div data-ng-show="!models.isSent">
						<div class="texto-titulo text-center">
							<h2 class="text-blue text-center zizou-bold-28 mt-28 mb-21">Regístrate</h2>
							<p style="font-size: 15px;">Recuerda que tus datos son fundamentales para que puedas ingresar al</p>
							<p class="text-center" style="font-size: 15px;">Adminnovation</p>

							<div class="clearfix"></div>
						</div>
						<div class="row mt-28">
							<div class="col-lg-offset-1 col-lg-5 col-md-6 col-sm-6 col-xs-12">
								<div class="input-group text-black w-100 mb-28 mt-7" data-ng-class="{'text-error':frm.name.$error.required}">
									<label for="" class="helvetica-16">Nombre(s)</label>
									<input type="text" class="p-0 no-radius helvetica-16 text-black input-grey-border" name="name" data-ng-required="true" data-ng-trim="true" data-ng-model="models.user.name">
								</div>
							</div>
							<div class="col-lg-5 col-md-6 col-sm-6 col-xs-12">
								<div class="input-group text-black w-100 mb-28 mt-7" data-ng-class="{'text-error':frm.last_name.$error.required}">
									<label class="helvetica-16" for="">Apellido Paterno</label>
									<input type="text" class="helvetica-16 p-0 no-radius zizou-16 text-black input-grey-border" name="last_name" data-ng-required="true" data-ng-trim="true" data-ng-model="models.user.last_name">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-offset-1 col-lg-5 col-md-6 col-sm-6 col-xs-12">
								<div class="input-group text-black w-100 mb-28 mt-7" data-ng-class="{'text-error':frm.second_last_name.$error.required}">
									<label class="helvetica-16" for="">Apellido Materno</label>
									<input type="text" class="p-0 no-radius helvetica-16 text-black input-grey-border" name="second_last_name" data-ng-required="true" data-ng-trim="true" data-ng-model="models.user.second_last_name">
								</div>
							</div>
							<div class="col-lg-5 col-md-6 col-sm-6 col-xs-12">
								<div class="input-group text-black w-100 mb-28 mt-7" data-ng-class="{'text-error':frm.ciu.$error.required || frm.ciu.$error.uinumbersonly}">
									<label class="helvetica-16" for="">DNI</label>
									<input type="text" class="p-0 no-radius helvetica-16 text-black input-grey-border " name="ciu" data-ng-required="true" data-ng-trim="false" data-ng-model="models.user.ciu" data-numbers-only="8">
								</div>
							</div>
						</div>
						<div class="row mb-28">
							<div class="col-lg-offset-1 col-lg-5 col-md-6 col-sm-6 col-xs-12">
								<div class="input-group text-black w-100 mb-28 mt-7" data-ng-class="{'text-error':frm.email.$error.required || frm.email.$error.uiemail}">
									<label class="helvetica-16" for="">Correo electrónico</label>
								<input type="text" class="p-0 no-radius helvetica-16 text-black input-grey-border" name="email" data-ng-required="true" data-ng-trim="true" data-ng-model="models.user.email" data-ui-valid="EMAIL">
								</div>
							</div>
							<div class="col-lg-5 col-md-6 col-sm-6 col-xs-12">
								<div class="input-group text-black w-100 mb-28 mt-7" data-ng-class="{'text-error':frm.phone.$error.required || frm.phone.$error.uinumbersonly}">
									<label class="helvetica-16" for="">Celular o Número de contacto</label>
									<input type="text" class="p-0 no-radius helvetica-16 text-black input-grey-border " name="phone" data-ng-required="true" data-ng-trim="false" data-ng-model="models.user.phone" data-numbers-only="9">
								</div>
							</div>
						</div>
					</div>
					<p class="mt-28 mb-28 text-center" style="font-size: 15px;" data-ng-if="models.isSent">Gracias por asistir, este es solo un paso más para que pronto seas un universitario.</p>
					<div class="row" data-ng-if="!models.isSent">
						<div class="height-50"></div>
						<div class="col-lg-offset-4 col-lg-4 col-md-6 hidden-sm hidden-xs text-center form-basico-button">
							<button type="button" class="btn btn-custom black-btn wide full-width lg p-0 mt-0" data-ng-click="onClick.send(frm)" data-ng-disabled="frm.$invalid">¡Listo!</button>
						</div>
						<div class="col-lg-offset-1 col-xs-12 col-sm-12 hidden-md hidden-lg text-center form-basico-button">
							<button type="button" class="btn btn-custom black-btn wide full-width lg p-0 mt-0" data-ng-click="onClick.send(frm)" data-ng-disabled="frm.$invalid">¡Listo!</button>
						</div>
					</div>
				</form>
			</div>

		</div>
	</div>

	<div class="height-200"></div>
</section>

<ui-footer></ui-footer>
