<ui-only-header></ui-only-header>

<form novalidate name="frm">
<section class="pt-28 pb-28 bg-general" data-ng-show="models.steps[0].visible && !models.isSent" data-ui-night>
	<div class="container">
		<div class="row">
			<ng-form name="frmDatosPersonales">
			<div class="bg-white-transparent border-general-grey helvetica p-35">
				<div class="texto-titulo text-center">
					<div class="height-50 hidden-sm hidden-xs"></div>
					<img class="pull-right hidden-sm hidden-xs p-28" src="./imagenes/user.png" alt="">
					<h2 class="text-blue text-center zizou-bold-28 mt-28 mb-21">Personaliza tu experiencia</h2>
					<img class=" text-center hidden-lg hidden-md p-28" src="./imagenes/user.png" alt="">
					<div class="clearfix"></div>
				</div>
				<div class="row">
					<div class="col-lg-offset-1 col-lg-5 col-md-6 col-sm-6 col-xs-12">
						<div class="input-group text-black w-100 mb-28 mt-7" data-ng-class="{'text-error':frmDatosPersonales.full_name.$error.required}">
							<label for="" class="helvetica-16">Nombre</label>
							<input type="text" class="p-0 no-radius helvetica-16 text-black input-grey-border" name="full_name" data-ng-model="models.user.data.full_name" data-ng-required="true" data-ng-trim="true">
						</div>
					</div>
					<div class="col-lg-5 col-md-6 col-sm-6 col-xs-12">
						<div class="input-group text-black w-100 mb-28 mt-7" data-ng-class="{'text-error':frmDatosPersonales.last_name.$error.required}">
							<label class="helvetica-16" for="">Apellido Paterno</label>
							<input type="text" class="p-0 no-radius helvetica-16 text-black input-grey-border" name="last_name" data-ng-model="models.user.data.last_name" data-ng-required="true" data-ng-trim="true">
						</div>						
					</div>
				</div>
				<div class="row">
					<div class="col-lg-offset-1 col-lg-5 col-md-6 col-sm-6 col-xs-12">
						<div class="input-group text-black w-100 mb-28 mt-7" data-ng-class="{'text-error':frmDatosPersonales.second_last_name.$error.required}">
							<label class="helvetica-16" for="">Apellido Materno</label>
							<input type="text" class="helvetica-16 p-0 no-radius zizou-16 text-black input-grey-border" name="second_last_name" data-ng-model="models.user.data.second_last_name" data-ng-required="true" data-ng-trim="true">
						</div>
					</div>
					<div class="col-lg-5 col-md-6 col-sm-6 col-xs-12">
						<!--Aqui a lado de la fecha debe aparecer el icono de calendario y un datepicker desplegable-->
						<div class="input-group text-black w-100 mb-28 mt-7" data-ng-class="{'text-error':frmDatosPersonales.birthdate.$error.uidate || frmDatosPersonales.birthdate.$error.required}">
							<label class="helvetica-16" for="">Fecha de Nacimiento (dd/mm/aaaa)</label>
							<input type="text" class="p-0 no-radius helvetica-16 text-black input-grey-border " name="birthdate" data-ng-model="models.user.data.birthdate" data-ng-required="true" data-date-format="d/m/Y" data-ui-datepicker>
							<div class="input-append date" name="last_name">
								<span class="add-on"><i class="icon-th"></i></span>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-offset-1 col-lg-5 col-md-6 col-sm-6 col-xs-12">
						<div class="input-group text-black w-100 mb-28 mt-7">
							<label class="helvetica-16" for="">Nacionalidad</label>
							<select class=" w-100 drop-down drop-down-2 no-radius helvetica helvetica-16 text-white select-black-border input-grey-border" data-ng-model="models.user.data.nationality" data-ng-options="p.name for p in models.nationalityList"></select>
						</div>
					</div>
					<div class="col-lg-5 col-md-6 col-sm-6 col-xs-12">
						<div class="input-group text-black w-100 mb-28 mt-7" data-ng-class="{'text-error':frmDatosPersonales.ciu.$error.required || frmDatosPersonales.ciu.$error.uinumbersonly}">
							<label class="helvetica-16" for="">DNI</label>
							<input type="text" class="p-0 no-radius helvetica-16 text-black input-grey-border " name="ciu" data-ng-model="models.user.data.ciu" data-ng-required="true" data-ng-trim="false" data-numbers-only="8">
						</div>
					</div>
				</div>
				<div class="row pb-28">
					<div class="col-lg-offset-1 col-lg-5 col-md-6 col-sm-6 col-xs-12">
						<div class="input-group text-black w-100 mb-28 mt-7">
							<label class="helvetica-16" for="">Colegio</label>
							<select class=" w-100 drop-down drop-down-2 no-radius  helvetica-16 text-white select-black-border input-grey-border" data-ng-model="models.user.data.school" data-ng-options="p.name for p in models.schoolList"></select>
						</div>
					</div>
					<div class="col-lg-5 col-md-6 col-sm-6 col-xs-12">
						<div class="input-group text-black w-100 mb-28 mt-9" data-ng-class="{'text-error':frmDatosPersonales.cell_phone.$error.required || frmDatosPersonales.cell_phone.$error.uinumbersonly}">
							<label class="helvetica-16" for="">Celular o Número de contacto</label>
							<input type="text" class="p-0 no-radius helvetica-16 text-black input-grey-border " name="cell_phone" data-ng-model="models.user.data.cell_phone" data-ng-required="true" data-ng-trim="false" data-numbers-only="9">
						</div>
					</div>
				</div>
			
			<div class="row">
				<div class="col-lg-offset-1 col-lg-5 col-md-6 col-sm-6 col-xs-12">
					<div class="input-group text-black w-100 mb-28 mt-7" data-ng-class="{'text-error':frmDatosPersonales.email.$error.uiemail}">
						<label class="helvetica-16" for="">E - mail</label>
						<input type="text" class="p-0 no-radius helvetica-16 text-black input-grey-border" data-ng-model="models.user.data.email" name="email" data-ng-model="models.user.data.email" data-ng-required="true" data-ng-trim="true" data-ui-valid="EMAIL">
					</div>
				</div>
				<div class="col-lg-5 col-md-6 col-sm-6 hidden-xs">
					<div class="col-sm-6 p-0">
						<div class="input-group text-black w-100 mb-28 mt-7">
							<label class="helvetica-16" for="">Soy  del género</label>
						</div>
					</div>
					<div class="col-sm-6 ">
						<div class="row">
							<!--Cuando se selecciona uno de los niños, se muestra activo el efecto del hover.-->
							<div class="col-sm-offset-3 col-sm-2 col-xs-6">
								<img class="hover-ninos" src="./imagenes/nina.png" alt="femenino" data-ng-class="{'hover-ninos-hover':!models.user.data.gender}" data-ng-click="models.user.data.gender=false">
							</div>
							<div class="col-sm-2 col-xs-6">
								<img class="hover-ninos" src="./imagenes/nino.png" alt="Masculino" data-ng-class="{'hover-ninos-hover':models.user.data.gender}" data-ng-click="models.user.data.gender=true">
							</div>
						</div>
					</div>
				</div>
				<div class="hidden-md hidden-sm hidden-lg col-xs-12">
					<div class="col-sm-6 p-0">
						<div class="input-group text-black w-100 mb-28 mt-7">
							<label class="helvetica-16" for="">Soy  del género</label>
						</div>
					</div>
					<div class="col-sm-6 ">
						<div class="row">
							<!--Cuando se selecciona uno de los niños, se muestra activo el efecto del hover.-->
							<div class="girl-and-boy" style="width: 45%;">
								<div class="col-sm-offset-3 col-sm-2 col-xs-6">
									<img class="hover-ninos" src="./imagenes/nina.png" alt="femenino" data-ng-class="{'hover-ninos-hover':!models.user.data.gender}" data-ng-click="models.user.data.gender=false">
								</div>
								<div class="col-sm-2 col-xs-6">
									<img class="hover-ninos" src="./imagenes/nino.png" alt="Masculino" data-ng-class="{'hover-ninos-hover':models.user.data.gender}" data-ng-click="models.user.data.gender=true">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row" data-ng-if="models.isNormal">
					<div class="col-lg-offset-1 col-lg-5 col-md-6 col-sm-6 col-xs-12">
						<div class="input-group text-black w-100 mb-28 mt-7" data-ng-class="{'text-error':frmDatosPersonales.password.$error.required}">
							<label for="" class="helvetica-16">Contraseña</label>
							<input type="password" class="p-0 no-radius helvetica-16 text-black input-grey-border" name="password" data-ng-model="models.user.data.password" data-ng-required="true" data-ng-trim="true">
						</div>
					</div>
					<div class="col-lg-5 col-md-6 col-sm-6 col-xs-12">
						<div class="input-group text-black w-100 mb-28 mt-7" data-ng-class="{'text-error':frmDatosPersonales.password_repeat.$error.required || models.user.data.password!=models.user.data.password_repeat}">
							<label class="helvetica-16" for="">Repetir contraseña</label>
							<input type="password" class="helvetica-16 p-0 no-radius zizou-16 text-black input-grey-border" name="password_repeat" data-ng-model="models.user.data.password_repeat" data-ng-required="true" data-ng-trim="true">
						</div>
					</div>
				</div>

			<div class="row">
				<div class="height-50"></div>
				<div class="col-lg-offset-1 col-lg-5 col-md-6 hidden-sm hidden-xs">
					
				</div>
				<div class="col-lg-5 col-md-6">
					<button type="button" class="btn btn-custom bg-red wide full-width lg p-0 mt-0" data-ng-click="onClick.next(1,frmDatosPersonales.$valid)" data-ng-disabled="frmDatosPersonales.$invalid || models.user.data.password!=models.user.data.password_repeat">Siguiente</button>
				</div>
			</div>
			</div>
		</ng-form>
		</div>
	</div>



	<div class="height-200"></div>
</section>



<section class="pt-28 pb-28 bg-general " data-ng-show="models.steps[1].visible && !models.isSent">
	<ng-form name="frmDatosPersonalesHome">
				<div class="container">
					<div class="row">
						<div class="bg-white-transparent border-general-grey helvetica p-35">
							<div class="texto-titulo text-center">
								<div class="height-50 hidden-sm hidden-xs"></div>
								<img class="pull-right hidden-sm hidden-xs p-28" src="./imagenes/user.png" alt="">

								<h2 class="text-blue text-center zizou-bold-28 mt-28 mb-21">Personaliza tu experiencia</h2>
								<img class=" text-center hidden-lg hidden-md p-28" src="./imagenes/user.png" alt="">
								<div class="clearfix"></div>
							</div>
							<div class="row">
								<div class="col-lg-offset-1 col-lg-11 col-md-12 col-sm-12 col-xs-12">
									<h2 class="text-black zizou-bold"> Vivo en</h2>
				<div class="title-borderline mb-35"></div>
								</div>

								<div class="col-lg-offset-1 col-lg-5 col-md-6 col-sm-6 col-xs-12">
								<div class="row"></div>

									<div class="input-group w-100 mb-28 mt-7" data-ng-class="{'text-error':models.user.home.departament.code==='00'}">
										<label for="" class="helvetica-16">Departamento<span class="text-red">*</span></label>
										<select class=" w-100 drop-down drop-down-2 no-radius helvetica helvetica-20 text-white select-grey-border input-grey-border-postula" data-ng-model="models.user.home.departament" data-ng-options="p.name for p in models.departamentList" data-ng-change="onChange.getProvinces()"></select>
									</div>
								</div>
								<div class="col-lg-5 col-md-6 col-sm-6 col-xs-12">
									<div class="col-lg-10 col-md-12 col-sm-12 col-xs-12">
								<div class="input-group w-100 mb-28 mt-7" data-ng-class="{'text-error':models.user.home.province.code==='00'}">
									<label for="" class="helvetica-16">Provincia<span class="text-red">*</span></label>
									<select class=" w-100 drop-down drop-down-2 no-radius helvetica helvetica-20 text-white select-grey-border input-grey-border-postula" data-ng-model="models.user.home.province" data-ng-options="p.name for p in models.provinceList" data-ng-change="onChange.getDistricts()"></select>
								</div>
							</div>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-offset-1 col-lg-5 col-md-6 col-sm-6 col-xs-12">
									<div class="input-group w-100 mb-28 mt-7" data-ng-class="{'text-error':models.user.home.district.code==='00'}">
									<label for="" class="helvetica-16">Distrito<span class="text-red">*</span></label>
									<select class=" w-100 drop-down drop-down-2 no-radius helvetica helvetica-20 text-white select-grey-border input-grey-border-postula" data-ng-model="models.user.home.district" data-ng-options="p.name for p in models.districtList"></select>
								</div>
								</div>
								<div class="col-lg-5 col-md-6 col-sm-6 col-xs-12">
									<!--Aqui a lado de la fecha debe aparecer el icono de calendario y un datepicker desplegable-->
									<div class="input-group text-black w-100 mb-28 mt-7">
										<label class="helvetica-16" for="">Urbanización</label>
										<input type="text" class="p-0 no-radius helvetica-16 text-black input-grey-border " data-ng-model="models.user.home.urbanization">
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-offset-1 col-lg-5 col-md-6 col-sm-6 col-xs-12">
									<div class="input-group text-black w-100 mb-28 mt-7">
										<label class="helvetica-16" for="">Vía</label>
										<div class="vias" style="margin-left: -19px;">
											<div class="col-lg-3 col-md-3 col-sm-3 hidden-xs p-0" data-ng-repeat="row in models.viaList">
												<div class="radio">
													<label><input class="ml-14" type="radio" data-ng-model="models.user.home.via" data-ng-value="row.code">{{row.name}}</label>
												</div>
											</div>
										</div>


									</div>
								</div>

								<div class="col-lg-5 col-md-6 col-sm-6 col-xs-12">
									<div class="input-group w-100 mb-28 mt-7" data-ng-class="{'text-error':frmDatosPersonalesHome.user_home_address.$error.required}">
										<label for="" class="helvetica-16">Dirección<span class="text-red">*</span></label>
										<input type="text" class="p-0 no-radius helvetica-20 text-grey input-grey-border-postula" data-ng-model="models.user.home.address" name="user_home_address" data-ng-required="true" data-ng-trim="true">
									</div>
								</div>
							</div>
								<div class="row mt-28">
									<div class="col-sm-6 col-lg-6 col-md-6 col-xs-12 mt-21">
										<button type="button" class="btn btn-anterior" data-ng-click="onClick.next(0,true)">Anterior</button>
									</div>
									<div class="col-sm-6 col-lg-6 col-md-6 col-xs-12 mt-21">
										<button type="button" class="btn btn-siguiente" data-ng-click="onClick.next(2, frmDatosPersonalesHome.$valid)" data-ng-disabled="frmDatosPersonalesHome.$invalid">Siguiente</button>
									</div>
								</div>
							</div>
							<div class="container">

							</div>


						</div>
					</div>
				</ng-form>
			
			<div class="height-200"></div>
			</section>


<div class="bg-general pb-50 pt-28" data-ng-show="models.steps[2].visible && !models.isSent">
			<div class="container mb-20 mt-21">
				<div class="bg-white-transparent border-general-grey p-45 mb-100">
						
						<div class="row ml-28">
							<div class="texto-titulo text-center">
									<div class="sube-tu-imagen">
									    <img class="pull-right hidden-sm hidden-xs pl-28 pr-28 pb-28" src="./imagenes/user_ie8_white.png" alt="">
								    </div>
									<h2 class="text-blue text-center zizou-bold-28 mt-28 mb-21">Personaliza tu experiencia</h2>
									<div class="sube-tu-imagen-xs  hidden-lg hidden-md">
									<img class=" text-center hidden-lg hidden-md pl-28 pr-28 pb-28" src="./imagenes/user_ie8_white.png" alt="">
									</div>
									<div class="clearfix"></div>
								</div>
							<div class="col-sm-12 col-md-12 col-lg-12 col-xs-12">
							<h3 class="title-form text-black">Carreras de interés</h3>
							<div class="line-title-large"></div>
							<p class="mt-21 helvetica-16">Elige hasta 4 carrera(s) con la(s) que tienes mayor afinidad en orden de importancia</p>
						</div>
					</div>


						<div class="row iconos-carreras clearfix">
								<a href="" data-ng-repeat="row in models.careersList" data-ng-show="!!row.selected" data-ui-click="no" data-ui-dimensions="models.careersList" data-ui-pos="$index"><div class="circle-blue pt-40">{{row.nombre}}</div></a>
							</div>
							<div class="row mt-28"></div>
							<div class="row iconos-carreras clearfix">
								<a href="" data-ng-repeat="row in models.careersList" data-ng-show="!!!row.selected" data-ui-click data-ui-dimensions="models.careersList" data-ui-pos="$index"><div class="circle-purple pt-40">{{row.nombre}}</div></a>
							</div>

							<fieldset class="mt-28 ml-28">
						<li class="mt-28 mb-21 ml-28" style="list-style-type: none;">
							<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
								<label class="mdl-textfield__label helvetica-16" for="name">Si no ubicaste la(s) carrera(s) de tu interés ingrésalas aquí</label>
								<input class="mdl-textfield__input" type="text" data-ng-model="models.user.data.interes">
							</div>
						</li>
					</fieldset>
					<div class="row ml-28 text-center">
						<div class="col-sm-6 col-lg-6 col-md-6 col-xs-12 mt-21">
							<button type="button" class="btn btn-anterior" data-ng-click="onClick.next(1,true)">Anterior</button>
						</div>
						<div class="col-sm-6 col-lg-6 col-md-6 col-xs-12 mt-21">
							<button type="button" class="btn btn-siguiente" data-ng-click="onClick.next(3,true)">Siguiente</button>
						</div>
					</div>

				</div>
				
				
			</div>
		</div>





<div class="bg-general pt-28 pb-50" data-ng-show="models.steps[3].visible && !models.isSent">
			<div class="container mb-20 mt-21">
				<div class="bg-white-transparent border-general-grey helvetica p-35 p-45">
					<div class="row ml-28">
						<div class="texto-titulo text-center">
								<img class="pull-right hidden-sm hidden-xs pr-28 pb-28 pl-28" src="./imagenes/user_ie8_white.png" alt="">

								<h2 class="text-blue text-center zizou-bold-28 mt-28 mb-21">Personaliza tu experiencia</h2>
								<img class=" text-center hidden-lg hidden-md p-28" src="./imagenes/user_ie8_white.png" alt="">
								<div class="clearfix"></div>
							</div>
						<h3 class="title-form text-black mt-21">Sede</h3>
						<div class="line-title-short mb-21"></div>
						<h5 class="mb-21">Sede de interés</h5>
						<div class="checkbox mb-28 mt-21">
							<div class="row">
								<div class="col-sm-3 col-md-3 col-lg-3 col-xs-12 " data-ng-repeat="row in models.sedeList">
									<p>
										<input type="checkbox" class="caja_checkbox" id="test-{{$index}}" style="margin-left: 40px;" data-ng-model="row.selected">
										<label for="test-{{$index}}" class="helvetica-16"> {{row.name}}</label>
									</p>
								</div>
							</div>
						</div>
						<h3 class="title-form text-black mt-50">Modalidad de Admisión</h3>
						<div class="line-title-short mb-21"></div>
						<h5>Confimanos por favor si perteneces a la modalidad seleccionada</h5>
						<div class="checkbox-circle mt-21 mb-21 mb-28">
							<div class="row">
								<div class="mb-21">
									<div class="col-sm-6 col-md-6 col-lg-6 col-xs-12" data-ng-repeat="row in models.levelList">
										<div class="radio">
											<label class="helvetica-16"><input type="radio" name="optradio" data-ng-model="models.user.data.general" data-ng-value="row.id">Alumno {{row.name}}</label>
										</div>
									</div>
										
									</div>
								</div>
							</div>
							<div class="row mt-28">
								<div class="col-sm-6 col-lg-6 col-md-6 col-xs-12 mt-21">
									<button type="button" class="btn btn-anterior" data-ng-click="onClick.next(2,true)">Anterior</button>
								</div>
								<div class="col-sm-6 col-lg-6 col-md-6 col-xs-12 mt-21">
									<button type="button" class="btn btn-siguiente" data-ng-click="onClick.send(frm)" data-ng-disabled="frm.$invalid">Registrarme</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>


			<div class="bg-general pt-28 pb-50" data-ng-show="models.isSent">
			<div class="container mb-20 mt-21">
				<div class="bg-white-transparent border-general-grey helvetica p-35 p-45">
					<div class="row ml-28">
						<div class="texto-titulo text-center">
								<img class="pull-right hidden-sm hidden-xs pr-28 pb-28 pl-28" src="./imagenes/user_ie8_white.png" alt="">

								<h2 class="text-blue text-center zizou-bold-28 mt-28 mb-21">Gracias por registrarte!</h2>
								<img class=" text-center hidden-lg hidden-md p-28" src="./imagenes/user_ie8_white.png" alt="">
								<div class="clearfix"></div>
							</div>
						


							<div class="row mt-28">
								<div class="col-sm-4 col-lg-4 col-md-4 col-xs-12 mt-21">
									
								</div>
								<div class="col-sm-4 col-lg-4 col-md-4 col-xs-12 mt-21">
									<button type="button" class="btn btn-siguiente" data-ng-click="onClick.login()">!Vamos!</button>
								</div>
								<div class="col-sm-4 col-lg-4 col-md-4 col-xs-12 mt-21">
									
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>


</form>

<ui-footer></ui-footer>