<div class="container-fluid">

	<ui-header></ui-header>

</div>

<div class="trama-1 descripcion-1 pb-28">
	<div class="height-25"></div>
	<div class="col-lg-offset-2 col-md-offset-1 col-sm-offset-1 col-lg-8 col-md-10 col-sm-10 col-xs-12 p-14 ">
		<div class="height-100"></div>
		<div class="row">
			<div class="height-25 hidden-md  hidden-lg "></div>
			<h2 class="text-black zizou-bold">Alumni</h2>
			<div class="title-borderline mb-35"></div>

				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-center" data-ng-repeat="row in models.render.exitos">

					<caso-exito data-ui-config="row" class="img-video"></caso-exito>

					<div class="text-center pt-14">
						<p class="zizou-bold-16">{{row.nombre}}</p>
						<p>{{row.carrera}}</p>
					</div>
					
				</div>
			
		</div>
	</div>
	<div class="clearfix"></div>
</div>

<section class="container">
	<div class="mt-35 mb-35">
		<div class="bg-black-transparent p-28">
			<h2 class="text-white">
				Casos de éxito
			</h2>
			<div class="white-line-bottom mb-28"></div>
			
				<div class="hidden-sx hidden-sm" style="position:relative;">
					<div data-ui-slider data-ui-render="renderSliderVideos" data-ui-prev="prevSliderDesktop" data-ui-next="nextSliderDesktop">
						<div class="row" data-ng-repeat="row in models.render.casos.videosDesktop">
							<div class="col-lg-4 col-md-4"  data-ng-repeat="r in row">
								<caso-exito-video data-ui-url="r.url" data-ui-thumbnail="r.thumbnail"></caso-exito-video>
							</div>
						</div>					
					</div>
					<a href="" class="facultades-item-prev facultades-item-desktop-prev" data-ng-click="prevSliderDesktop=true;"></a>
					<a href="" class="facultades-item-next facultades-item-desktop-next" data-ng-click="nextSliderDesktop=true;"></a>
				</div>
				
				<div class="hidden-md hidden-lg" style="position:relative;">
					<div data-ui-slider data-ui-render="renderSliderVideosMobile" data-ui-prev="prevSliderMobile" data-ui-next="nextSliderMobile">
						<div class="row pb-14" data-ng-repeat="row in models.render.casos.videos">
							<div class="col-xs-12 col-sm-12">
								<caso-exito-video data-ui-url="row.url" data-ui-thumbnail="row.thumbnail"></caso-exito-video>
							</div>
						</div>
					</div>
					<a href="" class="facultades-item-prev facultades-item-desktop-prev" data-ng-click="prevSliderMobile=true;"></a>
					<a href="" class="facultades-item-next facultades-item-desktop-next" data-ng-click="nextSliderMobile=true;"></a>
				</div>
		</div>
	</div>
	<div class="mt-35 mb-35">
		<div class="bg-black-transparent p-28">
			<h2 class="text-white">
				Casos de éxito
			</h2>
			<div class="white-line-bottom mb-28"></div>

			<div class="hidden-sx hidden-sm" style="position:relative;">
					<div data-ui-slider data-ui-render="renderSliderImages" data-ui-prev="prevSliderImagesDesktop" data-ui-next="nextSliderImagesDesktop">
						<div class="row" data-ng-repeat="row in models.render.casos.imagesDesktop">
							<div class="col-lg-4 col-md-4"  data-ng-repeat="r in row">
								<caso-exito-video data-ui-url="r.url" data-ui-thumbnail="r.thumbnail"></caso-exito-video>
							</div>
						</div>					
					</div>
					<a href="" class="facultades-item-prev facultades-item-desktop-prev" data-ng-click="prevSliderImagesDesktop=true;"></a>
					<a href="" class="facultades-item-next facultades-item-desktop-next" data-ng-click="nextSliderImagesDesktop=true;"></a>
				</div>
				
				<div class="hidden-md hidden-lg" style="position:relative;">
					<div data-ui-slider data-ui-render="renderSliderImagesMobile" data-ui-prev="prevSliderImagesMobile" data-ui-next="nextSliderImagesMobile">
						<div class="row pb-14" data-ng-repeat="row in models.render.casos.imagenes">
							<div class="col-xs-12 col-sm-12">
								<caso-exito-video data-ui-url="row.url" data-ui-thumbnail="row.thumbnail"></caso-exito-video>
							</div>
						</div>
					</div>
					<a href="" class="facultades-item-prev facultades-item-desktop-prev" data-ng-click="prevSliderImagesMobile=true;"></a>
					<a href="" class="facultades-item-next facultades-item-desktop-next" data-ng-click="nextSliderImagesMobile=true;"></a>
				</div>

		</div>
	</div>
</section>

<ui-footer></ui-footer>