<div class="container-fluid">

	<ui-header></ui-header>

</div>


<div class="trama-1 descripcion-1">

	<div class="col-lg-offset-2 col-md-offset-1 col-sm-offset-1 col-xs-offset-1 col-lg-8 col-md-9 col-sm-11 col-xs-11 p-14">
		<div class="height-150"></div>
		<div class="row text-left pb-28">
			<div class="height-25 hidden-lg"></div>
			<h3 class="title-form text-black aptitud pl-28">Exprésate, diviértete, participa, comparte y extiende tus conocimientos</h3>
			<div class="title-borderline mb-35 ml-28"></div>
			<h4 class="helvetica pb-28 interline text-justify p-14 pl-28">En la UPC buscamos complementar tu formación académica con experiencias en las que puedas desarrollarte como persona y miembro importante de la sociedad a través de actividades culturales, deportivas y de responsabilidad social alrededor de tus intereses y de nuevos aprendizajes.</h4>
		</div>
		<div class="row">
			<div class="col-lg-6 col-md-7 col-sm-7 col-xs-12">
				<div class="height-100 hidden-xs hidden-sm"></div>
				<h4 class="acreditaciones interline pt-28 pl-28">A tu disposición están los Viernes Culturales, las ferias de alumnos, descuentos con el TIU Universitario en distintas empresas e instituciones, diversos talleres, voluntariado y ¡mucho más!</h4>
			</div>
			<div class=" col-lg-offset-1 col-lg-4 col-md-4 col-sm-4 col-xs-12 text-center">
				<img class="w-100" src="imagenes/vida/vec1.png">
			</div>
		</div>
	</div>


	<div class="clearfix"></div>
</div>



<div class="pb-25 bg-general" data-ui-night>
	<div class="container">
		<div class="row">
			<div class="bg-blue text-white p-35 m-28">

				<div class="row m-28" data-ng-repeat="row in models.render.actividades">
					<div class="col-lg-offset-1 col-lg-5 col-md-6 col-sm-6 col-xs-12 pb-28">
						<img data-ng-src="{{row[0].imagen}}">
						<h4 class="helvetica acreditaciones mt-14"><b>{{row[0].nombre}}</b></h4>
						<p class="helvetica acreditaciones mt-14 interline">{{row[0].descripcion}}</p>
					</div>
					<div class="col-lg-5 col-md-6 col-sm-6 col-xs-12 pb-28">
						<img data-ng-src="{{row[1].imagen}}">
						<h4 class="helvetica acreditaciones mt-14"><b>{{row[1].nombre}}</b></h4>
						<p class="helvetica acreditaciones mt-14 interline">{{row[1].descripcion}}</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>



<ui-footer></ui-footer>